In [18]:
#import required libraries

import pandas as pd
import yfinance as yf
import numpy as np
import math
#import pandas_ta as ta
import warnings
warnings.filterwarnings('ignore')

In [19]:
# parameter setup (default values in the original indicator)
length = 20
mult = 2
length_KC = 21
mult_KC = 2

In [20]:
stock = yf.Ticker("AMZN")
print(stock.info)

{'zip': '98109-5210', 'sector': 'Consumer Cyclical', 'fullTimeEmployees': 1335000, 'longBusinessSummary': 'Amazon.com, Inc. engages in the retail sale of consumer products and subscriptions in North America and internationally. The company operates through three segments: North America, International, and Amazon Web Services (AWS). It sells merchandise and content purchased for resale from third-party sellers through physical and online stores. The company also manufactures and sells electronic devices, including Kindle, Fire tablets, Fire TVs, Rings, and Echo and other devices; provides Kindle Direct Publishing, an online service that allows independent authors and publishers to make their books available in the Kindle Store; and develops and produces media content. In addition, it offers programs that enable sellers to sell their products on its websites, as well as its stores; and programs that allow authors, musicians, filmmakers, skill and app developers, and others to publish and sell content. Further, the company provides compute, storage, database, analytics, machine learning, and other services, as well as fulfillment, advertising, publishing, and digital content subscriptions. Additionally, it offers Amazon Prime, a membership program, which provides free shipping of various items; access to streaming of movies and TV episodes; and other services. The company serves consumers, sellers, developers, enterprises, and content creators. Amazon.com, Inc. was founded in 1994 and is headquartered in Seattle, Washington.', 'city': 'Seattle', 'phone': '206-266-1000', 'state': 'WA', 'country': 'United States', 'companyOfficers': [], 'website': 'http://www.amazon.com', 'maxAge': 1, 'address1': '410 Terry Avenue North', 'industry': 'Internet Retail', 'ebitdaMargins': 0.13382, 'profitMargins': 0.06641, 'grossMargins': 0.40679002, 'operatingCashflow': 59322998784, 'revenueGrowth': 0.272, 'operatingMargins': 0.06685, 'ebitda': 59320999936, 'targetLowPrice': 3775, 'recommendationKey': 'buy', 'grossProfits': 152757000000, 'freeCashflow': 16914750464, 'targetMedianPrice': 4200, 'currentPrice': 3335.34, 'earningsGrowth': 0.468, 'currentRatio': 1.196, 'returnOnAssets': 0.05988, 'numberOfAnalystOpinions': 48, 'targetMeanPrice': 4241.33, 'debtToEquity': 107.355, 'returnOnEquity': 0.31229, 'targetHighPrice': 5500, 'totalCash': 89894002688, 'totalDebt': 123247001600, 'totalRevenue': 443297988608, 'totalCashPerShare': 177.502, 'financialCurrency': 'USD', 'revenuePerShare': 881.308, 'quickRatio': 0.989, 'recommendationMean': 1.7, 'exchange': 'NMS', 'shortName': 'Amazon.com, Inc.', 'longName': 'Amazon.com, Inc.', 'exchangeTimezoneName': 'America/New_York', 'exchangeTimezoneShortName': 'EDT', 'isEsgPopulated': False, 'gmtOffSetMilliseconds': '-14400000', 'quoteType': 'EQUITY', 'symbol': 'AMZN', 'messageBoardId': 'finmb_18749', 'market': 'us_market', 'annualHoldingsTurnover': None, 'enterpriseToRevenue': 3.932, 'beta3Year': None, 'enterpriseToEbitda': 29.384, '52WeekChange': 0.06583512, 'morningStarRiskRating': None, 'forwardEps': 72.38, 'revenueQuarterlyGrowth': None, 'sharesOutstanding': 506440992, 'fundInceptionDate': None, 'annualReportExpenseRatio': None, 'totalAssets': None, 'bookValue': 226.883, 'sharesShort': 3927349, 'sharesPercentSharesOut': 0.0078, 'fundFamily': None, 'lastFiscalYearEnd': 1609372800, 'heldPercentInstitutions': 0.58808, 'netIncomeToCommon': 29437999104, 'trailingEps': 57.395, 'lastDividendValue': None, 'SandP52WeekChange': 0.32161438, 'priceToBook': 14.700706, 'heldPercentInsiders': 0.13618, 'nextFiscalYearEnd': 1672444800, 'yield': None, 'mostRecentQuarter': 1625011200, 'shortRatio': 1.08, 'sharesShortPreviousMonthDate': 1623715200, 'floatShares': 454267018, 'beta': 1.143625, 'enterpriseValue': 1743091138560, 'priceHint': 2, 'threeYearAverageReturn': None, 'lastSplitDate': 936230400, 'lastSplitFactor': '2:1', 'legalType': None, 'lastDividendDate': None, 'morningStarOverallRating': None, 'earningsQuarterlyGrowth': 0.484, 'priceToSalesTrailing12Months': 3.8104231, 'dateShortInterest': 1626307200, 'pegRatio': 1.66, 'ytdReturn': None, 'forwardPE': 46.080963, 'lastCapGain': None, 'shortPercentOfFloat': 0.009, 'sharesShortPriorMonth': 4826456, 'impliedSharesOutstanding': None, 'category': None, 'fiveYearAverageReturn': None, 'previousClose': 3375.99, 'regularMarketOpen': 3375, 'twoHundredDayAverage': 3313.95, 'trailingAnnualDividendYield': None, 'payoutRatio': 0, 'volume24Hr': None, 'regularMarketDayHigh': 3375, 'navPrice': None, 'averageDailyVolume10Day': 4341725, 'regularMarketPreviousClose': 3375.99, 'fiftyDayAverage': 3542.4758, 'trailingAnnualDividendRate': None, 'open': 3375, 'toCurrency': None, 'averageVolume10days': 4341725, 'expireDate': None, 'algorithm': None, 'dividendRate': None, 'exDividendDate': None, 'circulatingSupply': None, 'startDate': None, 'regularMarketDayLow': 3329.825, 'currency': 'USD', 'trailingPE': 58.11203, 'regularMarketVolume': 1804372, 'lastMarket': None, 'maxSupply': None, 'openInterest': None, 'marketCap': 1689152913408, 'volumeAllCurrencies': None, 'strikePrice': None, 'averageVolume': 3484607, 'dayLow': 3329.825, 'ask': 3334.96, 'askSize': 1300, 'volume': 1804372, 'fiftyTwoWeekHigh': 3773.08, 'fromCurrency': None, 'fiveYearAvgDividendYield': None, 'fiftyTwoWeekLow': 2871, 'bid': 3334.01, 'tradeable': False, 'dividendYield': None, 'bidSize': 800, 'dayHigh': 3375, 'regularMarketPrice': 3335.34, 'logo_url': 'https://logo.clearbit.com/amazon.com'}

In [21]:
stock_df = stock.history(period="3y", interval='1d')
stock_df.index.duplicated().sum()
df_stock = stock_df.loc[~stock_df.index.duplicated(keep='first')]
df_stock

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2018-08-06,1825.810059,1847.770020,1818.920044,1847.750000,3391800,0,0
2018-08-07,1854.530029,1869.719971,1846.270020,1862.479980,3377500,0,0
2018-08-08,1861.000000,1891.510010,1854.500000,1886.520020,3963000,0,0
2018-08-09,1882.000000,1914.569946,1877.479980,1898.520020,4860400,0,0
2018-08-10,1888.510010,1899.500000,1878.209961,1886.300049,3639900,0,0
2018-08-13,1898.500000,1925.000000,1893.670044,1896.199951,5531500,0,0
2018-08-14,1919.390015,1921.010010,1900.000000,1919.650024,3986100,0,0
2018-08-15,1909.550049,1916.209961,1869.790039,1882.619995,7700700,0,0
2018-08-16,1903.939941,1905.000000,1883.550049,1886.520020,3957100,0,0
2018-08-17,1885.800049,1888.000000,1855.550049,1882.219971,4104300,0,0
2018-08-20,1890.569946,1891.750000,1866.060059,1876.709961,2862000,0,0
2018-08-21,1880.000000,1897.750000,1874.410034,1883.420044,3105600,0,0
2018-08-22,1876.640015,1905.800049,1876.640015,1904.900024,3080500,0,0
2018-08-23,1907.170044,1919.500000,1900.760010,1902.900024,3563000,0,0
2018-08-24,1910.510010,1916.010010,1902.540039,1905.390015,2800900,0,0
2018-08-27,1915.000000,1927.699951,1909.280029,1927.680054,3569000,0,0
2018-08-28,1937.729980,1941.780029,1928.819946,1932.819946,3100700,0,0
2018-08-29,1953.449951,1998.689941,1948.939941,1998.099976,6531800,0,0
2018-08-30,1997.420044,2025.569946,1986.900024,2002.380005,7277300,0,0
2018-08-31,2007.000000,2022.380005,2004.739990,2012.709961,4204400,0,0
2018-09-04,2026.500000,2050.500000,2013.000000,2039.510010,5721100,0,0
2018-09-05,2038.109985,2040.380005,1989.890015,1994.819946,8220600,0,0
2018-09-06,2006.510010,2007.500000,1935.209961,1958.310059,7488700,0,0
2018-09-07,1938.709961,1975.199951,1937.349976,1952.069946,4892600,0,0
2018-09-10,1971.000000,1973.040039,1931.520020,1939.010010,4544800,0,0
2018-09-11,1928.270020,1988.880005,1917.000000,1987.150024,5033600,0,0
2018-09-12,1994.000000,2000.000000,1962.439941,1990.000000,4414000,0,0
2018-09-13,2000.000000,2008.760010,1982.030029,1989.869995,3621500,0,0
2018-09-14,1992.930054,1993.650024,1959.219971,1970.189941,3642000,0,0
2018-09-17,1954.729980,1956.819946,1887.410034,1908.030029,7050200,0,0
...,...,...,...,...,...,...,...
2021-06-25,3464.000000,3464.820068,3394.179932,3401.459961,3941000,0,0
2021-06-28,3416.000000,3448.000000,3413.510010,3443.889893,2242800,0,0
2021-06-29,3438.820068,3456.030029,3423.030029,3448.139893,2098400,0,0
2021-06-30,3441.060059,3471.600098,3435.000000,3440.159912,2404000,0,0
2021-07-01,3434.610107,3457.000000,3409.419922,3432.969971,2037100,0,0
2021-07-02,3451.639893,3511.719971,3436.919922,3510.979980,3169400,0,0
2021-07-06,3530.110107,3685.479980,3529.000000,3675.739990,6744800,0,0
2021-07-07,3717.379883,3734.199951,3678.909912,3696.580078,5328100,0,0
2021-07-08,3643.560059,3759.989990,3621.120117,3731.409912,5180600,0,0
2021-07-09,3722.520020,3748.000000,3693.399902,3719.340088,3745100,0,0
2021-07-12,3744.000000,3757.290039,3696.790039,3718.550049,2571600,0,0
2021-07-13,3702.100098,3773.080078,3671.320068,3677.360107,3845900,0,0
2021-07-14,3708.850098,3717.659912,3660.830078,3681.679932,3296600,0,0
2021-07-15,3694.199951,3695.399902,3620.919922,3631.199951,3185300,0,0
2021-07-16,3633.310059,3646.060059,3570.459961,3573.629883,4038400,0,0
2021-07-19,3532.580078,3550.209961,3499.159912,3549.590088,3784600,0,0
2021-07-20,3567.320068,3592.000000,3518.000000,3573.189941,3255700,0,0
2021-07-21,3576.379883,3586.449951,3543.639893,3585.199951,2319000,0,0
2021-07-22,3587.229980,3640.020020,3582.270020,3638.030029,3265400,0,0
2021-07-23,3640.000000,3666.110107,3622.040039,3656.639893,2436300,0,0
2021-07-26,3673.169922,3712.080078,3647.250000,3699.820068,2900100,0,0
2021-07-27,3698.500000,3698.500000,3586.149902,3626.389893,4131900,0,0
2021-07-28,3633.780029,3658.419922,3601.000000,3630.320068,2999400,0,0
2021-07-29,3627.750000,3637.949951,3580.010010,3599.919922,5520000,0,0
2021-07-30,3347.949951,3368.139893,3306.979980,3327.590088,9957100,0,0
2021-08-02,3353.100098,3358.919922,3317.000000,3331.479980,3353900,0,0
2021-08-03,3340.719971,3391.000000,3299.770020,3366.239990,4150600,0,0
2021-08-04,3379.350098,3388.879883,3345.560059,3354.719971,2183900,0,0
2021-08-05,3356.219971,3389.000000,3340.919922,3375.989990,2430300,0,0
2021-08-06,3375.000000,3375.000000,3329.824951,3335.340088,1804386,0,0

In [22]:
stock_df_wk = stock.history(period="3y", interval='1wk')
stock_df.index.duplicated().sum()
df_stock_wk = stock_df_wk.loc[~stock_df_wk.index.duplicated(keep='first')]
df_stock_wk

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2018-08-06,1825.810059,1914.569946,1818.920044,1886.300049,19232600,0,0
2018-08-13,1898.500000,1925.000000,1855.550049,1882.219971,25279700,0,0
2018-08-20,1890.569946,1919.500000,1866.060059,1905.390015,15412000,0,0
2018-08-27,1915.000000,2025.569946,1909.280029,2012.709961,24683200,0,0
2018-09-03,2026.500000,2050.500000,1935.209961,1952.069946,26323000,0,0
2018-09-10,1971.000000,2008.760010,1917.000000,1970.189941,21255900,0,0
2018-09-17,1954.729980,1958.199951,1887.410034,1915.010010,25386500,0,0
2018-09-24,1903.790039,2026.520020,1865.000000,2003.000000,21480100,0,0
2018-10-01,2021.989990,2033.189941,1862.829956,1889.650024,28193600,0,0
2018-10-08,1874.000000,1902.000000,1685.099976,1788.609985,46535500,0,0
2018-10-15,1795.000000,1845.000000,1734.229980,1764.030029,29373500,0,0
2018-10-22,1784.000000,1809.500000,1603.000000,1642.810059,43401800,0,0
2018-10-29,1660.000000,1697.439941,1476.359985,1665.530029,50807400,0,0
2018-11-05,1657.569946,1784.000000,1596.359985,1712.430054,30511400,0,0
2018-11-12,1698.239990,1708.550049,1546.510010,1593.410034,33719800,0,0
2018-11-19,1577.010010,1581.189941,1420.000000,1502.060059,27093200,0,0
2018-11-26,1539.000000,1696.000000,1524.219971,1690.170044,32874600,0,0
2018-12-03,1769.459961,1778.339966,1609.849976,1629.130005,31922300,0,0
2018-12-10,1623.839966,1704.989990,1585.000000,1591.910034,31976000,0,0
2018-12-17,1566.000000,1584.530029,1363.959961,1377.449951,47777100,0,0
2018-12-24,1346.000000,1513.469971,1307.000000,1478.020020,36182800,0,0
2018-12-31,1510.800049,1594.000000,1460.930054,1575.390015,31095800,0,0
2019-01-07,1602.310059,1676.609985,1589.189941,1640.560059,34417300,0,0
2019-01-14,1615.000000,1716.199951,1595.150024,1696.199951,28600700,0,0
2019-01-21,1681.000000,1683.479980,1610.199951,1670.569946,20677800,0,0
2019-01-28,1643.589966,1736.410034,1590.719971,1626.229980,37670800,0,0
2019-02-04,1623.000000,1672.260010,1566.760010,1588.219971,23606200,0,0
2019-02-11,1600.979980,1656.380005,1586.000000,1607.949951,20200600,0,0
2019-02-18,1601.000000,1634.939941,1600.560059,1631.560059,13598900,0,0
2019-02-25,1641.449951,1674.260010,1615.099976,1671.729980,16999900,0,0
...,...,...,...,...,...,...,...
2021-01-18,3107.000000,3348.550049,3096.000000,3292.229980,16372900,0,0
2021-01-25,3328.500000,3363.889893,3184.550049,3206.199951,18808000,0,0
2021-02-01,3242.360107,3434.000000,3235.030029,3352.149902,25639100,0,0
2021-02-08,3358.500000,3365.000000,3233.310059,3277.709961,13249200,0,0
2021-02-15,3254.050049,3338.000000,3245.750000,3249.899902,13204800,0,0
2021-02-22,3208.129883,3232.320068,3036.699951,3092.929932,20013900,0,0
2021-03-01,3127.889893,3163.520020,2881.000000,3000.459961,20183800,0,0
2021-03-08,3015.000000,3131.780029,2951.310059,3089.489990,16425800,0,0
2021-03-15,3074.570068,3173.050049,3016.629883,3074.959961,16846000,0,0
2021-03-22,3067.850098,3182.000000,2996.000000,3052.030029,16554900,0,0
2021-03-29,3055.439941,3162.439941,3028.449951,3161.000000,11117800,0,0
2021-04-05,3173.000000,3372.199951,3161.239990,3372.199951,16372500,0,0
2021-04-12,3355.209961,3432.000000,3326.000000,3399.439941,16162400,0,0
2021-04-19,3390.330078,3435.929932,3301.449951,3340.879883,13333000,0,0
2021-04-26,3348.000000,3554.000000,3330.939941,3467.419922,28031400,0,0
2021-05-03,3484.729980,3486.649902,3247.199951,3291.610107,24184200,0,0
2021-05-10,3282.320068,3283.000000,3127.370117,3222.899902,22070700,0,0
2021-05-17,3245.929932,3312.000000,3184.000000,3203.080078,15970100,0,0
2021-05-24,3215.500000,3295.729980,3210.500000,3223.070068,12958900,0,0
2021-05-31,3243.500000,3250.979980,3184.030029,3206.219971,9092500,0,0
2021-06-07,3197.330078,3366.580078,3172.199951,3346.830078,14381900,0,0
2021-06-14,3346.830078,3507.000000,3335.500000,3486.899902,19582900,0,0
2021-06-21,3476.419922,3524.860107,3394.179932,3401.459961,17208500,0,0
2021-06-28,3416.000000,3511.719971,3409.419922,3510.979980,11951700,0,0
2021-07-05,3530.110107,3759.989990,3529.000000,3719.340088,20998600,0,0
2021-07-12,3744.000000,3773.080078,3570.459961,3573.629883,16937800,0,0
2021-07-19,3532.580078,3666.110107,3499.159912,3656.639893,15061000,0,0
2021-07-26,3673.169922,3712.080078,3306.979980,3327.590088,25508500,0,0
2021-08-02,3353.100098,3391.000000,3299.770020,3375.989990,12118700,0,0
2021-08-06,3375.000000,3375.000000,3329.824951,3335.340088,1804386,0,0

In [23]:
stock_df_mo = stock.history(period="10y", interval='1mo')
stock_df_mo.index.duplicated().sum()
df_stock_mo = stock_df_mo.loc[~stock_df_mo.index.duplicated(keep='first')]
df_stock_mo

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2011-09-01,215.279999,244.000000,204.470001,216.229996,143623300,0,0
2011-10-01,217.009995,246.710007,196.509995,213.509995,159214400,0,0
2011-11-01,208.110001,222.350006,181.509995,192.289993,136588100,0,0
2011-12-01,191.850006,199.660004,166.970001,173.100006,125595200,0,0
2012-01-01,175.889999,196.500000,173.500000,194.440002,110536900,0,0
2012-02-01,173.809998,193.570007,172.000000,179.690002,146580400,0,0
2012-03-01,179.889999,209.850006,176.580002,202.509995,112975100,0,0
2012-04-01,198.020004,233.839996,183.649994,231.899994,110535400,0,0
2012-05-01,229.399994,232.970001,207.110001,212.910004,92774300,0,0
2012-06-01,208.440002,228.350006,206.369995,228.350006,65745600,0,0
2012-07-01,229.300003,240.740005,212.610001,233.300003,77340200,0,0
2012-08-01,234.139999,250.000000,228.660004,248.270004,60192400,0,0
2012-09-01,248.270004,264.109985,244.660004,254.320007,63570500,0,0
2012-10-01,255.399994,261.899994,222.919998,232.889999,81568500,0,0
2012-11-01,234.229996,252.649994,218.179993,252.050003,67213600,0,0
2012-12-01,252.539993,263.109985,242.750000,250.869995,60871200,0,0
2013-01-01,256.079987,284.720001,253.259995,265.500000,84226400,0,0
2013-02-01,268.929993,274.299988,255.110001,264.269989,68661700,0,0
2013-03-01,263.269989,277.399994,252.070007,266.489990,58505700,0,0
2013-04-01,266.980011,275.799988,248.559998,253.809998,76916200,0,0
2013-05-01,253.899994,271.910004,245.750000,269.200012,59050500,0,0
2013-06-01,268.959991,283.339996,262.950012,277.690002,58575800,0,0
2013-07-01,279.000000,313.619995,277.160004,301.220001,67536900,0,0
2013-08-01,303.079987,306.209991,279.329987,280.980011,43773900,0,0
2013-09-01,284.730011,320.570007,284.170013,312.640015,43468800,0,0
2013-10-01,314.220001,368.399994,296.500000,364.029999,77295400,0,0
2013-11-01,365.630005,394.100006,341.880005,393.619995,54207700,0,0
2013-12-01,399.000000,405.630005,379.500000,398.790009,55686700,0,0
2014-01-01,398.799988,408.059998,357.760010,358.690002,81011900,0,0
2014-02-01,358.980011,365.869995,337.730011,362.100006,83009000,0,0
...,...,...,...,...,...,...,...
2019-04-01,1800.109985,1956.339966,1798.729980,1926.520020,81239200,0,0
2019-05-01,1933.089966,1964.400024,1772.699951,1775.069946,98214400,0,0
2019-06-01,1760.010010,1935.199951,1672.000000,1893.630005,74746500,0,0
2019-07-01,1922.979980,2035.800049,1849.439941,1866.780029,73148800,0,0
2019-08-01,1871.719971,1897.920044,1743.510010,1776.290039,79771200,0,0
2019-09-01,1770.000000,1853.660034,1709.219971,1735.910034,61172900,0,0
2019-10-01,1746.000000,1798.849976,1685.060059,1776.660034,70360500,0,0
2019-11-01,1788.010010,1824.689941,1722.709961,1800.800049,52076200,0,0
2019-12-01,1804.400024,1901.400024,1735.000000,1847.839966,68149600,0,0
2020-01-01,1875.000000,2055.719971,1815.339966,2008.719971,84698300,0,0
2020-02-01,2010.599976,2185.949951,1811.130005,1883.750000,92510100,0,0
2020-03-01,1906.489990,1996.329956,1626.030029,1949.719971,163809100,0,0
2020-04-01,1932.969971,2475.000000,1889.150024,2474.000000,124609800,0,0
2020-05-01,2336.800049,2525.449951,2256.379883,2442.370117,82584400,0,0
2020-06-01,2448.000000,2796.000000,2437.129883,2758.820068,87818300,0,0
2020-07-01,2757.989990,3344.290039,2754.000000,3164.679932,127502000,0,0
2020-08-01,3180.510010,3495.000000,3073.000000,3450.959961,83516600,0,0
2020-09-01,3489.580078,3552.250000,2871.000000,3148.729980,115899300,0,0
2020-10-01,3208.000000,3496.239990,3019.000000,3036.149902,116226100,0,0
2020-11-01,3061.739990,3366.800049,2950.120117,3168.040039,90810500,0,0
2020-12-01,3188.500000,3350.649902,3072.820068,3256.929932,77556200,0,0
2021-01-01,3270.000000,3363.889893,3086.000000,3206.199951,71528900,0,0
2021-02-01,3242.360107,3434.000000,3036.699951,3092.929932,72107000,0,0
2021-03-01,3127.889893,3182.000000,2881.000000,3094.080078,78188000,0,0
2021-04-01,3117.939941,3554.000000,3115.550049,3467.419922,76839600,0,0
2021-05-01,3484.729980,3486.649902,3127.370117,3223.070068,75183900,0,0
2021-06-01,3243.500000,3524.860107,3172.199951,3440.159912,67011000,0,0
2021-07-01,3434.610107,3773.080078,3306.979980,3327.590088,83720800,0,0
2021-08-01,3353.100098,3391.000000,3299.770020,3375.989990,12125400,0,0
2021-08-06,3375.000000,3375.000000,3329.824951,3335.340088,1804386,0,0

In [24]:
# calculate Bollinger Bands
# moving average
#m_avg = df_stock['Close'].rolling(window=length).mean()
m_avg = df_stock['Close'].ewm(span=length).mean()
df_stock['Moving average'] = m_avg
# standard deviation
m_std = df_stock['Close'].rolling(window=length).std()
# upper Bollinger Bands
df_stock['upper_BB'] = m_avg + mult * m_std
# lower Bollinger Bands 
df_stock['lower_BB'] = m_avg - mult * m_std

In [25]:
#Stacked Moving averages
m_avg_08 = df_stock['Close'].ewm(span=8).mean()
m_avg_21 = df_stock['Close'].ewm(span=21).mean()
m_avg_34 = df_stock['Close'].ewm(span=34).mean()
m_avg_55 = df_stock['Close'].ewm(span=55).mean()
m_avg_89 = df_stock['Close'].ewm(span=89).mean()

df_stock['m_avg_08'] = m_avg_08
df_stock['m_avg_21'] = m_avg_21
df_stock['m_avg_34'] = m_avg_34
df_stock['m_avg_55'] = m_avg_55
df_stock['m_avg_89'] = m_avg_89

In [26]:
# calculate Keltner Channel
# first we need to calculate True Range
df_stock['tr0'] = abs(df_stock["High"] - df_stock["Low"])
df_stock['tr1'] = abs(df_stock["High"] - df_stock["Close"].shift())
df_stock['tr2'] = abs(df_stock["Low"] - df_stock["Close"].shift())
df_stock['tr'] = df_stock[['tr0', 'tr1', 'tr2']].max(axis=1)
# moving average of the TR
range_ma = df_stock['tr'].ewm(span=length_KC).mean()
# upper Keltner Channel
df_stock['upper_KC'] = m_avg + range_ma * mult_KC
# lower Keltner Channel
df_stock['lower_KC'] = m_avg - range_ma * mult_KC

In [27]:
#ADX Calculations

plus_dm = df_stock["High"].diff()
minus_dm = df_stock["Low"].diff()
plus_dm[plus_dm < 0] = 0
minus_dm[minus_dm > 0] = 0

df_stock['atr'] = df_stock['tr'].ewm(span=14).mean()
df_stock['plus_di'] = 100 * (plus_dm.ewm(alpha = 1/14).mean() / df_stock['atr'])
df_stock['minus_di'] = abs(100 * (minus_dm.ewm(alpha = 1/14).mean() / df_stock['atr']))
dx = (abs(df_stock['plus_di'] - df_stock['minus_di']) / abs(df_stock['plus_di'] + df_stock['minus_di'])) * 100
adx = ((dx.shift(1) * (14 - 1)) + dx) / 14
df_stock['adx'] = adx.ewm(alpha = 1/14).mean()

In [28]:
# check for 'squeeze'
df_stock['squeeze_on'] = (df_stock['lower_BB'] > df_stock['lower_KC']) & (df_stock['upper_BB'] < df_stock['upper_KC'])
df_stock['squeeze_off'] = (df_stock['lower_BB'] < df_stock['lower_KC']) & (df_stock['upper_BB'] > df_stock['upper_KC'])

In [29]:
# Momentum
highest = df_stock['High'].rolling(window = length_KC).max()
lowest = df_stock['Low'].rolling(window = length_KC).min()
m1 = (highest + lowest) / 2
df_stock['value'] = (df_stock['Close'] - (m1 + m_avg)/2)
fit_y = np.array(range(0,length_KC))
df_stock['value'] = df_stock['value'].rolling(window = length_KC).apply(lambda x : np.polyfit(fit_y, x, 1)[0] * (length_KC-1) +
   np.polyfit(fit_y, x, 1)[1], raw=True)

df_stock[['squeeze_on', 'squeeze_off']] = (df_stock[['squeeze_on', 'squeeze_off']] == True).astype(int)

df_stock["pct_change"] = df_stock['Close'].pct_change()*100

"""
conditions = [
    (df_stock['pct_change'] > 0) | (df_stock['squeeze_on'] == 1),
    (df_stock['pct_change'] < 0) | (df_stock['squeeze_on'] == 0)
]
"""
conditions =  [
    (df_stock['pct_change'] > 0),
    (df_stock['pct_change'] < 0)
]

label = [1, 0]
df_stock['profitable?'] = np.select(conditions, label) 
df_stock.dropna(inplace=True)
df_stock.tail()

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Moving average,upper_BB,lower_BB,...,lower_KC,atr,plus_di,minus_di,adx,squeeze_on,squeeze_off,value,pct_change,profitable?
Date,,,,,,,,,,,,,,,,,,,,,
2021-08-02,3353.100098,3358.919922,3317.000000,3331.479980,3353900,0,0,3550.068427,3772.844931,3327.291923,...,3381.259727,90.708819,17.882737,35.826542,19.490629,0,1,-98.859678,0.116898,1
2021-08-03,3340.719971,3391.000000,3299.770020,3366.239990,4150600,0,0,3532.560957,3779.595780,3285.526134,...,3362.511233,90.778307,19.116897,34.597772,20.461397,0,1,-134.348651,1.043380,1
2021-08-04,3379.350098,3388.879883,3345.560059,3354.719971,2183900,0,0,3515.623720,3781.330208,3249.917232,...,3353.156731,84.450509,19.081500,34.533712,21.058481,0,1,-155.824540,-0.342222,0
2021-08-05,3356.219971,3389.000000,3340.919922,3375.989990,2430300,0,0,3502.325270,3773.889293,3230.761246,...,3345.886174,79.601118,18.808748,34.436951,21.615623,0,1,-168.409397,0.634033,1
2021-08-06,3375.000000,3375.000000,3329.824951,3335.340088,1804386,0,0,3486.421919,3766.458210,3206.385628,...,3335.810916,75.142974,18.501460,34.928990,22.175272,0,1,-181.752949,-1.204088,0

In [30]:
# entry point for long position:
# 1. black cross becomes gray (the squeeze is released)
long_cond1 = (df_stock['squeeze_off'][-2] == 0) | (df_stock['squeeze_off'][-1] == 1) 
# 2. bar value is positive => the bar is light green
long_cond2 = df_stock['value'][-1] > 0

enter_long = long_cond1 and long_cond2
# entry point for short position:
# 1. black cross becomes gray (the squeeze is released)
short_cond1 = (df_stock['squeeze_off'][-2] == 0) | (df_stock['squeeze_off'][-1] == 1) 
# 2. bar value is negative => the bar is light red 
short_cond2 = df_stock['value'][-1] < 0
enter_short = short_cond1 and short_cond2

In [31]:
import mplfinance as mpf
%matplotlib widget

In [32]:
ohcl = df_stock[['Open', 'High', 'Close', 'Low']]
ohcl.head()

                   Open         High        Close          Low
Date
2018-10-02  1999.989990  2013.390015  1971.310059  1965.770020
2018-10-03  1981.699951  1989.699951  1952.760010  1949.810059
2018-10-04  1949.000000  1956.000000  1909.420044  1896.569946
2018-10-05  1917.989990  1929.079956  1889.650024  1862.829956
2018-10-08  1874.000000  1902.000000  1864.420044  1830.660034

In [33]:
# add colors for the 'value bar'
colors = []
for ind, val in enumerate(df_stock['value']):
  if val >= 0:
    color = 'blue'
    if val > df_stock['value'][ind-1]:
      color = 'cyan'
  else:
    color = 'yellow'
    if val < df_stock['value'][ind-1]:
      color='red'
  colors.append(color)

In [34]:
# add 2 subplots: 1. bars, 2. crosses
apds = [mpf.make_addplot(df_stock['value'], panel=1, type='bar', color=colors, alpha=0.8, secondary_y=False),
        mpf.make_addplot([0] * len(df_stock), panel=1, type='scatter', marker='o', markersize=50, color=['gray' if s else 'red' for s in df_stock['squeeze_off']], secondary_y=False),
        mpf.make_addplot(df_stock[['upper_BB']], color = 'red'),
        mpf.make_addplot(df_stock[['lower_BB']], color = 'red'),
        mpf.make_addplot(df_stock[['upper_KC']], color = 'blue'),
        mpf.make_addplot(df_stock[['lower_KC']], color = 'blue'),
        mpf.make_addplot(df_stock['Moving average'], color = 'black'),
        mpf.make_addplot(df_stock[['adx']], panel=2, color = 'purple', secondary_y=False),
        mpf.make_addplot(df_stock[['plus_di']], panel=2, color = 'green', secondary_y=False),
        mpf.make_addplot(df_stock[['minus_di']], panel=2, color = 'orange', secondary_y=False),
        mpf.make_addplot(df_stock['m_avg_08'], panel=3, color='red', secondary_y=False),
        mpf.make_addplot(df_stock['m_avg_21'], panel=3, color='orange', secondary_y=False),
        mpf.make_addplot(df_stock['m_avg_34'], panel=3, color='yellow', secondary_y=False),
        mpf.make_addplot(df_stock['m_avg_55'], panel=3, color='green', secondary_y=False),
        mpf.make_addplot(df_stock['m_avg_89'], panel=3, color='blue', secondary_y=False)]

# plot ohcl with subplots
fig, axes = mpf.plot(ohcl, 
              volume_panel = 2,
              figratio=(2,1),
              figscale=1,
              type='candle', 
              addplot=apds,
              returnfig=True)

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous â€¦

In [35]:
#checks the momentum based on the EMA's stacking
#If smaller EMA's stack above the larger, the momentum is positive, vice versa, negative
def momentum_checker(date):
    if (df_stock['m_avg_08'][date] > df_stock['m_avg_21'][date] > df_stock['m_avg_34'][date] > df_stock['m_avg_55'][date] > df_stock['m_avg_89'][date]):
        print('Positive momentum')
    elif (df_stock['m_avg_08'][date] < df_stock['m_avg_21'][date] < df_stock['m_avg_34'][date] < df_stock['m_avg_55'][date] < df_stock['m_avg_89'][date]):
        print('Negative momentum')
    else:
        print('neutral')

In [36]:
momentum_checker('2021-08-06')

neutral

In [37]:
#construct a squeeze enty signal
def squeeze_entry(date):
    if (df_stock["value"][date]> -25 & df_stock["squeeze_on"][date] == 1):
        print("enter")
    else:
        print("do not enter")

In [38]:
squeeze_entry('2021-06-10')

enter

Weekly Analysis

In [39]:
# calculate Bollinger Bands on weekly data
# moving average
#m_avg = df_stock['Close'].rolling(window=length).mean()
m_avg_wk = df_stock_wk['Close'].ewm(span=length).mean()
df_stock_wk['Moving average weekly'] = m_avg_wk
# standard deviation
m_std_wk = df_stock_wk['Close'].rolling(window=length).std(ddof=0)
# upper Bollinger Bands
df_stock_wk['upper_BB'] = m_avg_wk + mult * m_std_wk
# lower Bollinger Bands 
df_stock_wk['lower_BB'] = m_avg_wk - mult * m_std_wk

In [40]:
#Stacked Moving averages weekly
m_avg_08_wk = df_stock_wk['Close'].ewm(span=8).mean()
m_avg_21_wk = df_stock_wk['Close'].ewm(span=21).mean()
m_avg_34_wk = df_stock_wk['Close'].ewm(span=34).mean()
m_avg_55_wk = df_stock_wk['Close'].ewm(span=55).mean()
m_avg_89_wk = df_stock_wk['Close'].ewm(span=89).mean()

df_stock_wk['m_avg_08'] = m_avg_08_wk
df_stock_wk['m_avg_21'] = m_avg_21_wk
df_stock_wk['m_avg_34'] = m_avg_34_wk
df_stock_wk['m_avg_55'] = m_avg_55_wk
df_stock_wk['m_avg_89'] = m_avg_89_wk

In [41]:
# calculate Keltner Channel weekly
# first we need to calculate True Range
df_stock_wk['tr0'] = abs(df_stock_wk["High"] - df_stock_wk["Low"])
df_stock_wk['tr1'] = abs(df_stock_wk["High"] - df_stock_wk["Close"].shift())
df_stock_wk['tr2'] = abs(df_stock_wk["Low"] - df_stock_wk["Close"].shift())
df_stock_wk['tr'] = df_stock_wk[['tr0', 'tr1', 'tr2']].max(axis=1)
# moving average of the TR
range_ma_wk = df_stock_wk['tr'].ewm(span=length_KC).mean()
# upper Keltner Channel
df_stock_wk['upper_KC'] = m_avg_wk + range_ma_wk * mult_KC
# lower Keltner Channel
df_stock_wk['lower_KC'] = m_avg_wk - range_ma_wk * mult_KC

In [42]:
#ADX Calculations weekly

plus_dm_wk = df_stock_wk["High"].diff()
minus_dm_wk = df_stock_wk["Low"].diff()
plus_dm_wk[plus_dm_wk < 0] = 0
minus_dm_wk[minus_dm_wk > 0] = 0

df_stock_wk['atr'] = df_stock_wk['tr'].ewm(span=14).mean()
df_stock_wk['plus_di'] = 100 * (plus_dm_wk.ewm(alpha = 1/14).mean() / df_stock_wk['atr'])
df_stock_wk['minus_di'] = abs(100 * (minus_dm_wk.ewm(alpha = 1/14).mean() / df_stock_wk['atr']))
dx_wk = (abs(df_stock_wk['plus_di'] - df_stock_wk['minus_di']) / abs(df_stock_wk['plus_di'] + df_stock_wk['minus_di'])) * 100
adx_wk = ((dx_wk.shift(1) * (14 - 1)) + dx_wk) / 14
df_stock_wk['adx'] = adx_wk.ewm(alpha = 1/14).mean()

In [43]:
# check for 'squeeze' weekly
df_stock_wk['squeeze_on'] = (df_stock_wk['lower_BB'] > df_stock_wk['lower_KC']) & (df_stock_wk['upper_BB'] < df_stock_wk['upper_KC'])
df_stock_wk['squeeze_off'] = (df_stock_wk['lower_BB'] < df_stock_wk['lower_KC']) & (df_stock_wk['upper_BB'] > df_stock_wk['upper_KC'])

In [44]:
# Momentum weekly
highest_wk = df_stock_wk['High'].rolling(window = length_KC).max()
lowest_wk = df_stock_wk['Low'].rolling(window = length_KC).min()
m1_wk = (highest_wk + lowest_wk) / 2
df_stock_wk['value'] = (df_stock_wk['Close'] - (m1_wk + m_avg_wk)/2)
fit_y_wk = np.array(range(0,length_KC))
df_stock_wk['value'] = df_stock_wk['value'].rolling(window = length_KC).apply(lambda x : np.polyfit(fit_y_wk, x, 1)[0] * (length_KC-1) +
   np.polyfit(fit_y_wk, x, 1)[1], raw=True)

df_stock_wk[['squeeze_on', 'squeeze_off']] = (df_stock_wk[['squeeze_on', 'squeeze_off']] == True).astype(int)

df_stock_wk["pct_change"] = df_stock_wk['Close'].pct_change()

"""
conditions = [
    (df_stock['pct_change'] > 0) | (df_stock['squeeze_on'] == 1),
    (df_stock['pct_change'] < 0) | (df_stock['squeeze_on'] == 0)
]
"""
conditions_wk =  [
    (df_stock_wk['pct_change'] > 0),
    (df_stock_wk['pct_change'] < 0)
]

label = [1, 0]
df_stock_wk['profitable?'] = np.select(conditions_wk, label) 
df_stock_wk.dropna(inplace=True)
df_stock_wk

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Moving average weekly,upper_BB,lower_BB,...,lower_KC,atr,plus_di,minus_di,adx,squeeze_on,squeeze_off,value,pct_change,profitable?
Date,,,,,,,,,,,,,,,,,,,,,
2019-05-13,1836.560059,1917.510010,1815.750000,1869.000000,24549500,0,0,1784.482206,2028.895809,1540.068603,...,1590.896329,90.535354,28.991619,20.286524,22.139023,0,1,260.067149,-0.011101,0
2019-05-20,1852.689941,1879.000000,1804.199951,1823.280029,18533900,0,0,1788.233290,2022.936162,1553.530417,...,1598.720496,88.432153,27.454368,20.190720,21.789063,0,1,235.072943,-0.024462,0
2019-05-27,1832.750000,1849.270020,1772.699951,1775.069946,15244700,0,0,1786.962456,2016.097252,1557.827660,...,1600.812085,86.847172,25.865630,21.733699,21.262954,0,1,203.213196,-0.026441,0
2019-06-03,1760.010010,1806.250000,1672.000000,1804.030029,27515100,0,0,1788.608069,2016.633311,1560.582827,...,1594.856659,93.179218,22.311721,26.799520,20.324815,0,1,181.460882,0.016315,1
2019-06-10,1822.000000,1893.699951,1818.000000,1869.670044,17739000,0,0,1796.414655,2024.539676,1568.289635,...,1603.991612,92.710563,27.765178,24.934319,19.471283,0,1,175.076461,0.036385,1
2019-06-17,1876.500000,1935.199951,1875.449951,1911.300049,16576100,0,0,1807.466790,2032.347785,1582.585795,...,1620.692676,89.081452,30.206572,24.028082,18.455939,0,1,171.812421,0.022266,1
2019-06-24,1912.660034,1916.859985,1872.420044,1893.630005,12916300,0,0,1815.747834,2025.014671,1606.480997,...,1637.975256,83.122102,29.980804,24.117765,17.929813,0,1,159.433246,-0.009245,0
2019-07-01,1922.979980,1945.900024,1906.630005,1942.910034,10156700,0,0,1827.958610,2025.027130,1630.890089,...,1656.912872,79.004210,31.927714,23.504922,17.428894,0,1,148.762383,0.026024,1
2019-07-08,1934.119995,2035.800049,1928.250000,2011.000000,18988100,0,0,1845.521372,2039.091550,1651.951194,...,1670.432809,82.813754,36.201177,20.774954,17.326782,0,1,144.744466,0.035045,1
2019-07-15,2021.400024,2026.319946,1951.550049,1964.520020,14830800,0,0,1856.931135,2041.531180,1672.331089,...,1684.185143,81.740402,33.985527,19.503448,18.043516,0,1,130.765461,-0.023113,0
2019-07-22,1971.140015,2001.300049,1924.510010,1943.050049,17298400,0,0,1865.183032,2019.116392,1711.249672,...,1694.192994,81.079906,31.753370,20.664656,18.675134,1,0,117.039575,-0.010929,0
2019-07-29,1930.000000,1932.229980,1808.020020,1823.239990,21544300,0,0,1861.166395,1999.067113,1723.265676,...,1681.106136,88.277478,27.032556,27.238305,18.748020,1,0,76.525919,-0.061661,0
2019-08-05,1770.219971,1834.260010,1748.780029,1807.579956,22236400,0,0,1856.037435,1988.169906,1723.904965,...,1676.809805,87.904288,25.166221,30.275716,17.451435,1,0,41.329041,-0.008589,0
2019-08-12,1795.989990,1831.739990,1757.219971,1792.569946,18570200,0,0,1849.965612,1980.444586,1719.486639,...,1673.498369,86.118933,23.816245,28.651654,16.850442,1,0,10.141439,-0.008304,0
2019-08-19,1818.079956,1829.579956,1745.229980,1749.619995,14701900,0,0,1840.369851,1981.580846,1699.158855,...,1664.612480,85.882982,22.144075,27.655758,16.303806,1,0,-24.117158,-0.023960,0
2019-08-26,1766.910034,1799.739990,1743.510010,1776.290039,14593200,0,0,1834.244466,1981.298962,1687.189970,...,1664.269209,81.927939,21.526362,27.036840,15.924283,1,0,-45.470122,0.015243,1
2019-09-02,1770.000000,1842.000000,1768.000000,1833.510010,11674800,0,0,1834.174284,1982.098943,1686.249625,...,1666.205549,80.870578,24.017542,25.402552,15.547342,1,0,-53.612722,0.032213,1
2019-09-09,1841.000000,1853.660034,1805.339966,1839.339966,12841000,0,0,1834.667741,1978.301979,1691.033502,...,1673.209295,76.529431,24.644612,24.897639,14.610538,1,0,-57.531763,0.003180,1
2019-09-16,1824.020020,1832.569946,1780.920044,1794.160034,15536900,0,0,1830.799319,1970.051240,1691.547397,...,1673.411817,74.114309,23.604953,26.233236,13.613109,1,0,-60.761389,-0.024563,0
2019-09-23,1777.000000,1795.709961,1713.819946,1725.449951,18475500,0,0,1820.741239,1969.997949,1671.484528,...,1662.770683,75.151264,21.595188,30.458840,13.070021,1,0,-71.436765,-0.038297,0
2019-09-30,1726.989990,1755.599976,1685.060059,1739.650024,14970400,0,0,1813.000994,1969.020567,1656.981420,...,1656.570556,74.536318,20.199672,31.279300,13.379558,1,0,-81.524646,0.008230,1
2019-10-07,1731.630005,1747.829956,1705.000000,1731.920044,12570400,0,0,1805.263376,1968.282674,1642.244079,...,1655.284134,70.308210,19.867984,30.765680,13.968104,0,1,-91.114211,-0.004443,0
2019-10-14,1728.910034,1798.849976,1722.000000,1757.510010,13795200,0,0,1800.707114,1965.221059,1636.193169,...,1650.388788,71.180551,23.380481,28.195861,14.450791,0,1,-100.623312,0.014775,1
2019-10-21,1769.660034,1789.780029,1695.000000,1761.329956,20452800,0,0,1796.950700,1964.131991,1629.769410,...,1643.056924,74.327480,20.776105,27.674368,14.107011,0,1,-114.319468,0.002173,1
2019-10-28,1748.060059,1797.449951,1742.500000,1791.439941,14006800,0,0,1796.425080,1963.690743,1629.159418,...,1646.538919,71.743574,20.743742,26.605149,14.106867,0,1,-119.707740,0.017095,1
2019-11-04,1801.010010,1815.060059,1774.040039,1785.880005,11461600,0,0,1795.419427,1959.318302,1631.520551,...,1651.712551,67.646776,22.290396,26.184502,13.960008,0,1,-119.283730,-0.003104,0
2019-11-11,1778.000000,1786.219971,1732.859985,1739.489990,13165500,0,0,1790.086286,1954.514068,1625.658503,...,1649.747532,65.741740,21.285607,29.512271,13.575196,0,1,-121.484058,-0.025976,0
2019-11-18,1738.300049,1762.520020,1722.709961,1745.719971,13042300,0,0,1785.856238,1941.986496,1629.725980,...,1651.045830,62.283977,20.851219,30.082201,13.773648,0,1,-121.546087,0.003581,1
2019-11-25,1753.250000,1824.689941,1753.239990,1800.800049,11616400,0,0,1787.280885,1911.807717,1662.754053,...,1650.364860,64.508890,25.613435,26.956519,14.006553,1,0,-105.961934,0.031551,1
2019-12-02,1804.400024,1805.550049,1740.000000,1751.599976,15917800,0,0,1783.879620,1882.347688,1685.411552,...,1647.492986,64.647718,23.721782,26.437398,13.197924,1,0,-92.318013,-0.027321,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-01-18,3107.000000,3348.550049,3096.000000,3292.229980,16372900,0,0,3137.395982,3315.109464,2959.682500,...,2762.586359,177.122091,29.418984,14.167308,32.185298,1,0,-26.121314,0.060556,1
2021-01-25,3328.500000,3363.889893,3184.550049,3206.199951,18808000,0,0,3143.948756,3320.970625,2966.926887,...,2770.605497,177.417791,27.889577,13.133360,32.390779,1,0,-7.940138,-0.026131,0
2021-02-01,3242.360107,3434.000000,3235.030029,3352.149902,25639100,0,0,3163.777477,3328.391767,2999.163186,...,2782.956295,184.135426,27.672389,11.750296,32.669042,1,0,16.544132,0.045521,1
2021-02-08,3358.500000,3365.000000,3233.310059,3277.709961,13249200,0,0,3174.628209,3337.394833,3011.861586,...,2804.483546,177.142694,26.710010,11.411007,33.219140,1,0,11.730189,-0.022207,0
2021-02-15,3254.050049,3338.000000,3245.750000,3249.899902,13204800,0,0,3181.796954,3342.254413,3021.339495,...,2828.529131,165.823668,26.495017,11.319158,33.712998,1,0,9.721087,-0.008485,0
2021-02-22,3208.129883,3232.320068,3036.699951,3092.929932,20013900,0,0,3173.333415,3336.396567,3010.270263,...,2813.417202,172.140506,23.699611,18.799758,34.025631,1,0,-17.459527,-0.048300,0
2021-03-01,3127.889893,3163.520020,2881.000000,3000.459961,20183800,0,0,3156.869254,3336.590528,2977.147981,...,2778.305373,186.857775,20.273410,22.034021,32.381069,1,0,-38.923536,-0.029897,0
2021-03-08,3015.000000,3131.780029,2951.310059,3089.489990,16425800,0,0,3150.452174,3334.269404,2966.634943,...,2773.490472,186.006067,18.911443,20.553776,30.365285,1,0,-37.410297,0.029672,1
2021-03-15,3074.570068,3173.050049,3016.629883,3074.959961,16846000,0,0,3143.262431,3321.858778,2964.666084,...,2772.129958,182.061281,19.560285,19.499122,28.473065,1,0,-43.050956,-0.004703,0
2021-03-22,3067.850098,3182.000000,2996.000000,3052.030029,16554900,0,0,3134.573622,3310.308151,2958.839093,...,2763.362283,182.586443,18.460966,18.861276,26.455049,1,0,-65.735109,-0.007457,0
2021-03-29,3055.439941,3162.439941,3028.449951,3161.000000,11117800,0,0,3137.090422,3312.041376,2962.139469,...,2775.263768,176.106916,17.772996,18.158388,24.641945,1,0,-43.466320,0.035704,1
2021-04-05,3173.000000,3372.199951,3161.239990,3372.199951,16372500,0,0,3159.481825,3352.783469,2966.180181,...,2792.148503,180.785987,24.364214,16.424915,23.052196,1,0,-2.995063,0.066814,1
2021-04-12,3355.209961,3432.000000,3326.000000,3399.439941,16162400,0,0,3182.334996,3397.918533,2966.751458,...,2829.122905,170.814522,26.445252,16.142002,22.820034,1,0,35.232234,0.008078,1
2021-04-19,3390.330078,3435.929932,3301.449951,3340.879883,13333000,0,0,3197.434519,3422.149963,2972.719074,...,2851.881723,165.969917,25.442177,16.483084,22.903717,1,0,61.760361,-0.017226,0
2021-04-26,3348.000000,3554.000000,3330.939941,3467.419922,28031400,0,0,3223.147430,3472.540935,2973.753924,...,2868.452140,173.581936,27.447507,14.634495,22.840426,1,0,98.277825,0.037876,1
2021-05-03,3484.729980,3486.649902,3247.199951,3291.610107,24184200,0,0,3229.667689,3481.002947,2978.332430,...,2863.681057,182.364338,24.259509,16.214729,23.329881,1,0,95.460583,-0.050703,0
2021-05-10,3282.320068,3283.000000,3127.370117,3222.899902,22070700,0,0,3229.023137,3479.344731,2978.701544,...,2866.446205,179.947758,22.829164,20.015349,23.015287,1,0,86.799528,-0.020874,0
2021-05-17,3245.929932,3312.000000,3184.000000,3203.080078,15970100,0,0,3226.552369,3476.573393,2976.531344,...,2873.664257,173.021390,23.244324,19.329668,21.853824,1,0,72.363263,-0.006150,0
2021-05-24,3215.500000,3295.729980,3210.500000,3223.070068,12958900,0,0,3226.220721,3475.601478,2976.839964,...,2888.567922,162.305192,23.009064,19.134029,20.949599,1,0,69.277308,0.006241,1
2021-05-31,3243.500000,3250.979980,3184.030029,3206.219971,9092500,0,0,3224.315887,3467.820338,2980.811436,...,2905.186093,149.591160,23.181425,20.541306,20.093858,1,0,57.190154,-0.005228,0
2021-06-07,3197.330078,3366.580078,3172.199951,3346.830078,14381900,0,0,3235.983909,3483.463777,2988.504041,...,2910.524069,155.563022,26.007246,18.885018,19.140011,1,0,62.028751,0.043855,1
2021-06-14,3346.830078,3507.000000,3335.500000,3486.899902,19582900,0,0,3259.880677,3530.756058,2989.005296,...,2932.826276,157.687953,30.184889,17.299758,18.963591,1,0,104.368034,0.041851,1
2021-06-21,3476.419922,3524.860107,3394.179932,3401.459961,17208500,0,0,3273.364422,3548.932664,2997.796181,...,2952.282211,154.086916,29.511767,16.439462,19.553996,1,0,121.479564,-0.024503,0
2021-06-28,3416.000000,3511.719971,3409.419922,3510.979980,11951700,0,0,3295.994481,3594.401218,2997.587744,...,2984.054292,148.243328,28.483981,15.866936,20.189307,1,0,167.501706,0.032198,1
2021-07-05,3530.110107,3759.989990,3529.000000,3719.340088,20998600,0,0,3336.313119,3695.589741,2977.036497,...,3007.456574,161.678886,35.219966,13.509205,20.861411,0,1,229.196806,0.059345,1
2021-07-12,3744.000000,3773.080078,3570.459961,3573.629883,16937800,0,0,3358.914720,3728.246582,2989.582858,...,3023.114200,167.137717,32.195511,12.134547,22.557325,0,1,253.772801,-0.039176,0
2021-07-19,3532.580078,3666.110107,3499.159912,3656.639893,15061000,0,0,3387.269504,3758.356256,3016.182752,...,3051.641723,167.112714,29.900279,14.317064,24.127431,0,1,273.639591,0.023228,1
2021-07-26,3673.169922,3712.080078,3306.979980,3327.590088,25508500,0,0,3381.585749,3734.598256,3028.573242,...,3002.815006,198.844365,24.985194,18.076409,24.823408,1,0,220.853948,-0.089987,0
2021-08-02,3353.100098,3391.000000,3299.770020,3375.989990,12118700,0,0,3381.052820,3710.427175,3051.678464,...,3020.128517,184.495780,25.004869,18.369784,24.192488,1,0,183.327460,0.014545,1
2021-08-06,3375.000000,3375.000000,3329.824951,3335.340088,1804386,0,0,3376.699225,3673.428987,3079.969464,...,3040.192587,166.051682,25.797805,18.952313,23.557100,1,0,137.181882,-0.012041,0

In [45]:
# entry point for long position:
# 1. black cross becomes gray (the squeeze is released)
long_cond1_wk = (df_stock_wk['squeeze_off'][-2] == 0) | (df_stock_wk['squeeze_off'][-1] == 1) 
# 2. bar value is positive => the bar is light green
long_cond2_wk = df_stock_wk['value'][-1] > 0

enter_long_wk = long_cond1_wk and long_cond2_wk
# entry point for short position:
# 1. black cross becomes gray (the squeeze is released)
short_cond1_wk = (df_stock_wk['squeeze_off'][-2] == 0) | (df_stock_wk['squeeze_off'][-1] == 1) 
# 2. bar value is negative => the bar is light red 
short_cond2_wk = df_stock_wk['value'][-1] < 0
enter_short_wk = short_cond1_wk and short_cond2_wk

In [46]:
ohcl_wk = df_stock_wk[['Open', 'High', 'Close', 'Low']]
ohcl_wk.head()

                   Open         High        Close          Low
Date
2019-05-13  1836.560059  1917.510010  1869.000000  1815.750000
2019-05-20  1852.689941  1879.000000  1823.280029  1804.199951
2019-05-27  1832.750000  1849.270020  1775.069946  1772.699951
2019-06-03  1760.010010  1806.250000  1804.030029  1672.000000
2019-06-10  1822.000000  1893.699951  1869.670044  1818.000000

In [47]:
# add colors for the 'value bar'
colors = []
for ind, val in enumerate(df_stock_wk['value']):
  if val >= 0:
    color = 'blue'
    if val > df_stock_wk['value'][ind-1]:
      color = 'cyan'
  else:
    color = 'yellow'
    if val < df_stock_wk['value'][ind-1]:
      color='red'
  colors.append(color)

In [48]:
# add 2 subplots: 1. bars, 2. crosses
apds = [mpf.make_addplot(df_stock_wk['value'], panel=1, type='bar', color=colors, alpha=0.8, secondary_y=False),
        mpf.make_addplot([0] * len(df_stock_wk), panel=1, type='scatter', marker='o', markersize=50, color=['gray' if s else 'red' for s in df_stock_wk['squeeze_off']], secondary_y=False),
        mpf.make_addplot(df_stock_wk[['upper_BB']], color = 'red'),
        mpf.make_addplot(df_stock_wk[['lower_BB']], color = 'red'),
        mpf.make_addplot(df_stock_wk[['upper_KC']], color = 'blue'),
        mpf.make_addplot(df_stock_wk[['lower_KC']], color = 'blue'),
        mpf.make_addplot(df_stock_wk['Moving average weekly'], color = 'black'),
        mpf.make_addplot(df_stock_wk[['adx']], panel=2, color = 'purple', secondary_y=False),
        mpf.make_addplot(df_stock_wk[['plus_di']], panel=2, color = 'green', secondary_y=False),
        mpf.make_addplot(df_stock_wk[['minus_di']], panel=2, color = 'orange', secondary_y=False),
        mpf.make_addplot(df_stock_wk['m_avg_08'], panel=3, color='red', secondary_y=False),
        mpf.make_addplot(df_stock_wk['m_avg_21'], panel=3, color='orange', secondary_y=False),
        mpf.make_addplot(df_stock_wk['m_avg_34'], panel=3, color='yellow', secondary_y=False),
        mpf.make_addplot(df_stock_wk['m_avg_55'], panel=3, color='green', secondary_y=False),
        mpf.make_addplot(df_stock_wk['m_avg_89'], panel=3, color='blue', secondary_y=False)]

# plot ohcl with subplots
fig, axes = mpf.plot(ohcl_wk, 
              volume_panel = 2,
              figratio=(2,1),
              figscale=1,
              type='candle', 
              addplot=apds,
              returnfig=True)

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous â€¦

In [49]:
# calculate Bollinger Bands on monthly data
# moving average
#m_avg = df_stock['Close'].rolling(window=length).mean()
m_avg_mo = df_stock_mo['Close'].ewm(span=length).mean()
df_stock_mo['Moving average monthly'] = m_avg_mo
# standard deviation
m_std_mo = df_stock_mo['Close'].rolling(window=length).std()
# upper Bollinger Bands
df_stock_mo['upper_BB'] = m_avg_mo + mult * m_std_mo
# lower Bollinger Bands 
df_stock_mo['lower_BB'] = m_avg_mo - mult * m_std_mo
df_stock_mo.head()
df_stock_mo.dropna(inplace=True)

In [50]:
df_stock_mo.isnull().sum()

Open                      0
High                      0
Low                       0
Close                     0
Volume                    0
Dividends                 0
Stock Splits              0
Moving average monthly    0
upper_BB                  0
lower_BB                  0
dtype: int64

In [51]:
#Stacked Moving averages monthly 
m_avg_08_mo = df_stock_mo['Close'].ewm(span=8).mean()
m_avg_21_mo = df_stock_mo['Close'].ewm(span=21).mean()
m_avg_34_mo = df_stock_mo['Close'].ewm(span=34).mean()
m_avg_55_mo = df_stock_mo['Close'].ewm(span=55).mean()
m_avg_89_mo = df_stock_mo['Close'].ewm(span=89).mean()

df_stock_mo['m_avg_08'] = m_avg_08_mo
df_stock_mo['m_avg_21'] = m_avg_21_mo
df_stock_mo['m_avg_34'] = m_avg_34_mo
df_stock_mo['m_avg_55'] = m_avg_55_mo
df_stock_mo['m_avg_89'] = m_avg_89_mo

In [52]:
# calculate Keltner Channel monthly
# first we need to calculate True Range
df_stock_mo['tr0'] = abs(df_stock_mo["High"] - df_stock_mo["Low"])
df_stock_mo['tr1'] = abs(df_stock_mo["High"] - df_stock_mo["Close"].shift())
df_stock_mo['tr2'] = abs(df_stock_mo["Low"] - df_stock_mo["Close"].shift())
df_stock_mo['tr'] = df_stock_mo[['tr0', 'tr1', 'tr2']].max(axis=1)
# moving average of the TR
range_ma_mo = df_stock_mo['tr'].ewm(span=length_KC).mean()
# upper Keltner Channel
df_stock_mo['upper_KC'] = m_avg_mo + range_ma_mo * mult_KC
# lower Keltner Channel
df_stock_mo['lower_KC'] = m_avg_mo - range_ma_mo * mult_KC
df_stock_mo.tail()

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Moving average monthly,upper_BB,lower_BB,...,m_avg_21,m_avg_34,m_avg_55,m_avg_89,tr0,tr1,tr2,tr,upper_KC,lower_KC
Date,,,,,,,,,,,,,,,,,,,,,
2021-05-01,3484.729980,3486.649902,3127.370117,3223.070068,75183900,0,0,2800.725861,4037.360208,1564.091515,...,2772.257596,2452.534744,2108.528764,1815.393529,359.279785,19.229980,340.049805,359.279785,3514.378783,2087.072940
2021-06-01,3243.500000,3524.860107,3172.199951,3440.159912,67011000,0,0,2861.624795,4056.264249,1666.985341,...,2832.980836,2509.137570,2157.422447,1855.874996,352.660156,301.790039,50.870117,352.660156,3574.520146,2148.729444
2021-07-01,3434.610107,3773.080078,3306.979980,3327.590088,83720800,0,0,2906.002740,4025.715476,1786.290004,...,2877.948576,2556.036829,2200.344607,1892.444667,466.100098,332.920166,133.179932,466.100098,3638.836342,2173.169138
2021-08-01,3353.100098,3391.000000,3299.770020,3375.989990,12125400,0,0,2950.763703,3981.180467,1920.346939,...,2923.228055,2603.014585,2243.426074,1929.211746,91.229980,63.409912,27.820068,91.229980,3633.560037,2267.967369
2021-08-06,3375.000000,3375.000000,3329.824951,3335.340088,1804386,0,0,2987.390227,3930.149387,2044.631066,...,2960.695033,2644.965563,2283.402004,1963.971160,45.175049,0.989990,46.165039,46.165039,3616.504591,2358.275863

In [53]:
#ADX Calculations monthly

plus_dm_mo = df_stock_mo["High"].diff()
minus_dm_mo = df_stock_mo["Low"].diff()
plus_dm_mo[plus_dm_mo < 0] = 0
minus_dm_mo[minus_dm_mo > 0] = 0

df_stock_mo['atr'] = df_stock_mo['tr'].ewm(span=14).mean()
df_stock_mo['plus_di'] = 100 * (plus_dm_mo.ewm(alpha = 1/14).mean() / df_stock_mo['atr'])
df_stock_mo['minus_di'] = abs(100 * (minus_dm_mo.ewm(alpha = 1/14).mean() / df_stock_mo['atr']))
dx_mo = (abs(df_stock_mo['plus_di'] - df_stock_mo['minus_di']) / abs(df_stock_mo['plus_di'] + df_stock_mo['minus_di'])) * 100
adx_mo = ((dx_mo.shift(1) * (14 - 1)) + dx_mo) / 14
df_stock_mo['adx'] = adx_mo.ewm(alpha = 1/14).mean()
df_stock_mo.dropna(inplace=True)
df_stock_mo.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Moving average monthly,upper_BB,lower_BB,...,tr0,tr1,tr2,tr,upper_KC,lower_KC,atr,plus_di,minus_di,adx
Date,,,,,,,,,,,,,,,,,,,,,
2013-06-01,268.959991,283.339996,262.950012,277.690002,58575800,0,0,248.114994,311.639833,184.590154,...,20.389984,14.139984,6.250000,20.389984,296.868997,199.360990,24.265714,24.424020,5.575611,97.344915
2013-07-01,279.000000,313.619995,277.160004,301.220001,67536900,0,0,253.734987,320.717708,186.752266,...,36.459991,35.929993,0.529999,36.459991,309.419591,198.050383,27.996287,52.338739,3.101022,80.410050
2013-08-01,303.079987,306.209991,279.329987,280.980011,43773900,0,0,256.588058,318.166403,195.009713,...,26.880005,4.989990,21.890015,26.880005,311.811114,201.365002,27.705051,38.162674,2.261103,83.420980
2013-09-01,284.730011,320.570007,284.170013,312.640015,43468800,0,0,262.402634,326.185134,198.620134,...,36.399994,39.589996,3.190002,39.589996,322.626317,202.178952,30.455015,37.585251,1.582433,84.984108
2013-10-01,314.220001,368.399994,296.500000,364.029999,77295400,0,0,272.856169,345.890555,199.821784,...,71.899994,55.759979,16.140015,71.899994,348.686245,197.026093,39.188351,47.684165,0.985062,86.650478

In [54]:
# check for 'squeeze' monthly
df_stock_mo['squeeze_on'] = (df_stock_mo['lower_BB'] > df_stock_mo['lower_KC']) & (df_stock_mo['upper_BB'] < df_stock_mo['upper_KC'])
df_stock_mo['squeeze_off'] = (df_stock_mo['lower_BB'] < df_stock_mo['lower_KC']) & (df_stock_mo['upper_BB'] > df_stock_mo['upper_KC'])
df_stock_mo.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Moving average monthly,upper_BB,lower_BB,...,tr2,tr,upper_KC,lower_KC,atr,plus_di,minus_di,adx,squeeze_on,squeeze_off
Date,,,,,,,,,,,,,,,,,,,,,
2013-06-01,268.959991,283.339996,262.950012,277.690002,58575800,0,0,248.114994,311.639833,184.590154,...,6.250000,20.389984,296.868997,199.360990,24.265714,24.424020,5.575611,97.344915,False,True
2013-07-01,279.000000,313.619995,277.160004,301.220001,67536900,0,0,253.734987,320.717708,186.752266,...,0.529999,36.459991,309.419591,198.050383,27.996287,52.338739,3.101022,80.410050,False,True
2013-08-01,303.079987,306.209991,279.329987,280.980011,43773900,0,0,256.588058,318.166403,195.009713,...,21.890015,26.880005,311.811114,201.365002,27.705051,38.162674,2.261103,83.420980,False,True
2013-09-01,284.730011,320.570007,284.170013,312.640015,43468800,0,0,262.402634,326.185134,198.620134,...,3.190002,39.589996,322.626317,202.178952,30.455015,37.585251,1.582433,84.984108,False,True
2013-10-01,314.220001,368.399994,296.500000,364.029999,77295400,0,0,272.856169,345.890555,199.821784,...,16.140015,71.899994,348.686245,197.026093,39.188351,47.684165,0.985062,86.650478,True,False

In [55]:
# Momentum monthly
highest_mo = df_stock_mo['High'].rolling(window = length_KC).max()
lowest_mo = df_stock_mo['Low'].rolling(window = length_KC).min()
m1_mo = (highest_mo + lowest_mo) / 2
df_stock_mo['value'] = (df_stock_mo['Close'] - (m1_mo + m_avg_mo)/2)
fit_y_mo = np.array(range(0,length_KC))
df_stock_mo['value'] = df_stock_mo['value'].rolling(window = length_KC).apply(lambda x : np.polyfit(fit_y_mo, x, 1)[0] * (length_KC-1) +
   np.polyfit(fit_y_mo, x, 1)[1], raw=True)

df_stock_mo[['squeeze_on', 'squeeze_off']] = (df_stock_mo[['squeeze_on', 'squeeze_off']] == True).astype(int)

df_stock_mo["pct_change"] = df_stock_mo['Close'].pct_change()
df_stock_mo.dropna(inplace=True)
"""
conditions = [
    (df_stock['pct_change'] > 0) | (df_stock['squeeze_on'] == 1),
    (df_stock['pct_change'] < 0) | (df_stock['squeeze_on'] == 0)
]
"""
conditions_mo =  [
    (df_stock_mo['pct_change'] > 0),
    (df_stock_mo['pct_change'] < 0)
]

label = [1, 0]
df_stock_mo['profitable?'] = np.select(conditions_mo, label) 

df_stock_mo

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Moving average monthly,upper_BB,lower_BB,...,lower_KC,atr,plus_di,minus_di,adx,squeeze_on,squeeze_off,value,pct_change,profitable?
Date,,,,,,,,,,,,,,,,,,,,,
2016-10-01,836.000000,847.210022,774.609985,789.820007,77063800,0,0,628.819022,900.123311,357.514734,...,493.772640,68.229838,39.672731,11.359952,46.718839,0,1,218.533621,-0.056717,0
2016-11-01,799.000000,800.840027,710.099976,750.570007,110085900,0,0,640.435574,894.550525,386.320623,...,501.103264,71.236741,35.167038,16.816882,47.265998,0,1,208.355842,-0.049695,0
2016-12-01,752.409973,782.460022,736.700012,749.869995,73660200,0,0,650.875153,891.058428,410.691879,...,515.949877,67.834410,34.187744,16.348584,46.374430,0,1,194.680767,-0.000933,0
2017-01-01,757.919983,843.840027,747.700012,823.479980,70614000,0,0,667.338326,897.866447,436.810204,...,527.133129,71.613722,36.333243,14.338826,45.594826,0,1,192.654525,0.098164,1
2017-02-01,829.210022,860.859985,803.000000,845.039978,71748300,0,0,684.285220,901.560464,467.009975,...,546.331481,69.777687,36.336498,13.629010,45.443460,0,1,190.961070,0.026182,1
2017-03-01,853.049988,890.349976,833.500000,886.539978,60710700,0,0,703.571185,927.021963,480.120406,...,567.845299,68.052199,37.705615,12.944766,45.461821,0,1,191.944428,0.049110,1
2017-04-01,888.000000,949.590027,884.489990,924.989990,73539700,0,0,724.682070,950.827078,498.537062,...,589.463282,67.658222,41.574438,12.062832,45.746433,0,1,198.232990,0.043371,1
2017-05-01,927.799988,1001.200012,927.799988,994.619995,76202000,0,0,750.416229,984.911885,515.920574,...,613.620256,68.799353,43.389067,10.992364,46.452237,0,1,207.404054,0.075276,1
2017-06-01,998.590027,1017.000000,927.000000,968.000000,96135400,0,0,771.157296,1018.215813,524.098780,...,630.403031,71.628020,40.239032,9.866877,47.420400,0,1,206.729215,-0.026764,0
2017-07-01,972.789978,1083.310059,951.000000,987.780029,78812400,0,0,791.804969,1053.488656,530.121281,...,639.710333,79.723707,39.590083,8.216922,48.412898,0,1,211.945747,0.020434,1
2017-08-01,996.109985,1006.400024,936.330017,980.599976,77391800,0,0,809.798799,1081.341489,538.256109,...,658.797948,78.435893,37.303543,9.107229,49.645602,0,1,215.439243,-0.007269,0
2017-09-01,984.200012,1000.000000,931.750000,961.349976,59291800,0,0,824.241942,1086.912019,561.571865,...,674.567065,77.077175,35.195164,9.025454,50.448029,0,1,214.098900,-0.019631,0
2017-10-01,964.000000,1122.790039,950.369995,1105.280029,83334100,0,0,851.023744,1114.346933,587.700555,...,683.512230,89.794413,37.961972,7.183536,51.131080,0,1,225.650318,0.149717,1
2017-11-01,1105.400024,1213.410034,1086.869995,1176.750000,77165000,0,0,882.062352,1158.740993,605.383711,...,706.734292,94.695452,40.335077,6.316791,52.395905,0,1,234.315383,0.064662,1
2017-12-01,1172.050049,1194.780029,1124.739990,1169.469971,57760200,0,0,909.448125,1198.046277,620.849973,...,737.338496,91.407121,38.753588,6.069117,53.887189,0,1,237.585216,-0.006187,0
2018-01-01,1172.000000,1472.579956,1170.510010,1450.890015,96371200,0,0,961.037230,1330.153822,591.920638,...,749.305568,119.641187,44.293542,4.300744,55.317033,0,1,274.987093,0.240639,1
2018-02-01,1445.000000,1528.699951,1265.930054,1512.449951,137784000,0,0,1013.574114,1450.080426,577.067801,...,773.211003,138.729127,38.362334,3.440419,57.279396,0,1,315.770688,0.042429,1
2018-03-01,1513.599976,1617.540039,1365.199951,1447.339966,130400100,0,0,1054.900368,1527.665447,582.135289,...,790.429256,153.880083,36.259770,2.877297,59.190068,0,1,331.233422,-0.043049,0
2018-04-01,1417.619995,1638.099976,1352.880005,1566.130005,129919600,0,0,1103.605135,1624.060482,583.149788,...,811.235378,171.394902,31.068494,2.916080,61.065937,0,1,362.896198,0.082075,1
2018-05-01,1563.219971,1635.000000,1546.020020,1629.619995,71615500,0,0,1153.716897,1725.264639,582.169155,...,871.776338,160.404705,30.799850,2.890865,62.639584,0,1,398.440328,0.040539,1
2018-06-01,1637.030029,1763.099976,1635.089966,1699.800049,85941300,0,0,1205.739007,1821.195783,590.282230,...,925.163689,156.814305,35.126198,2.743680,64.112038,0,1,436.768150,0.043065,1
2018-07-01,1682.699951,1880.050049,1678.060059,1777.439941,97521100,0,0,1260.200156,1912.094172,608.306139,...,968.381010,162.838364,36.566227,2.451665,65.665977,0,1,468.839273,0.045676,1
2018-08-01,1784.000000,2025.569946,1776.020020,2012.709961,96575800,0,0,1331.883763,2048.599912,615.167614,...,1021.182411,174.400962,37.694157,2.124176,67.245274,0,1,519.801890,0.132365,1
2018-09-01,2026.500000,2050.500000,1865.000000,2003.000000,94445500,0,0,1395.812511,2158.759586,632.865435,...,1079.619282,175.880950,35.706126,1.954624,68.838156,0,1,554.274673,-0.004824,0
2018-10-01,2021.989990,2033.189941,1476.359985,1598.010010,183220800,0,0,1415.072936,2156.462479,673.683392,...,1026.260347,226.677634,25.710778,13.746630,70.029660,0,1,511.530660,-0.202192,0
2018-11-01,1623.530029,1784.000000,1420.000000,1690.170044,139290000,0,0,1441.276994,2165.495473,717.058515,...,1021.581870,244.988371,22.077962,13.459064,67.140710,0,1,482.241860,0.057672,1
2018-12-01,1769.459961,1778.339966,1307.000000,1501.969971,154812700,0,0,1447.058143,2139.769373,754.346912,...,979.752631,275.170138,18.243182,14.073699,63.997479,0,1,418.100367,-0.111350,0
2019-01-01,1465.199951,1736.410034,1460.930054,1718.729980,134001700,0,0,1472.935154,2149.368813,796.501495,...,998.015050,275.211452,16.929670,13.060390,60.323996,0,1,390.981352,0.144317,1
2019-02-01,1638.880005,1673.060059,1566.760010,1639.829956,80936900,0,0,1488.831844,2130.773217,846.890472,...,1029.473305,258.778619,16.711453,12.892047,56.916203,0,1,351.747568,-0.045906,0
2019-03-01,1655.130005,1823.750000,1586.569946,1780.750000,100832200,0,0,1516.636655,2127.387093,905.886216,...,1055.912908,255.898714,19.914235,12.101056,53.813680,0,1,332.241329,0.085936,1
2019-04-01,1800.109985,1956.339966,1798.729980,1926.520020,81239200,0,0,1555.677080,2135.928556,975.425604,...,1104.921345,245.190569,23.173478,11.723067,51.745195,0,1,333.592143,0.081859,1
2019-05-01,1933.089966,1964.400024,1772.699951,1775.069946,98214400,0,0,1576.573535,2087.581740,1065.565329,...,1131.946335,238.058324,22.398184,11.992497,50.373212,0,1,302.062306,-0.078613,0
2019-06-01,1760.010010,1935.199951,1672.000000,1893.630005,74746500,0,0,1606.771867,2073.883506,1139.660229,...,1154.704936,241.410614,20.502924,13.969667,48.871966,0,1,284.836037,0.066792,1
2019-07-01,1922.979980,2035.800049,1849.439941,1866.780029,73148800,0,0,1631.536389,2051.483710,1211.589067,...,1186.687955,234.070408,22.711389,13.374633,46.761378,1,0,263.742667,-0.014179,0
2019-08-01,1871.719971,1897.920044,1743.510010,1776.290039,79771200,0,0,1645.323377,1989.981693,1300.665061,...,1212.849199,223.448850,22.085505,16.404421,45.206697,1,0,225.498336,-0.048474,0
2019-09-01,1770.000000,1853.660034,1709.219971,1735.910034,61172900,0,0,1653.951202,1975.725109,1332.177295,...,1234.538744,212.914196,21.517148,17.136464,43.006566,1,0,175.972735,-0.022733,0
2019-10-01,1746.000000,1798.849976,1685.060059,1776.660034,70360500,0,0,1665.638400,1971.521301,1359.755499,...,1263.674642,199.697463,21.297499,17.828372,40.724007,1,0,146.994775,0.023475,1
2019-11-01,1788.010010,1824.689941,1722.709961,1800.800049,52076200,0,0,1678.511579,1952.143082,1404.880076,...,1294.556957,186.668326,22.143528,17.706505,38.453035,1,0,124.940822,0.013587,1
2019-12-01,1804.400024,1901.400024,1735.000000,1847.839966,68149600,0,0,1694.638818,1955.271613,1434.006023,...,1315.336677,183.965861,23.845996,16.679859,36.529594,1,0,103.150399,0.026122,1
2020-01-01,1875.000000,2055.719971,1815.339966,2008.719971,84698300,0,0,1724.552527,1996.313351,1452.791703,...,1336.023221,191.487807,27.039545,14.877194,35.237780,1,0,117.829222,0.087064,1
2020-02-01,2010.599976,2185.949951,1811.130005,1883.750000,92510100,0,0,1739.714750,2010.854238,1468.575262,...,1318.345163,215.932262,26.579668,12.388087,34.830096,1,0,108.441552,-0.062214,0
2020-03-01,1906.489990,1996.329956,1626.030029,1949.719971,163809100,0,0,1759.715914,2038.576703,1480.855125,...,1309.315714,236.514741,22.529566,16.102488,34.842673,1,0,114.439735,0.035021,1
2020-04-01,1932.969971,2475.000000,1889.150024,2474.000000,124609800,0,0,1827.745022,2227.520551,1427.969494,...,1311.752235,283.093015,29.577061,12.490249,33.662079,1,0,200.307698,0.268900,1
2020-05-01,2336.800049,2525.449951,2256.379883,2442.370117,82584400,0,0,1886.282344,2365.853980,1406.710707,...,1368.275606,281.223281,28.926847,11.673545,34.169500,1,0,286.532083,-0.012785,0
2020-06-01,2448.000000,2796.000000,2437.129883,2758.820068,87818300,0,0,1969.383227,2581.088190,1357.678264,...,1433.214349,291.576233,32.542600,10.453462,34.810689,0,1,406.213366,0.129567,1
2020-07-01,2757.989990,3344.290039,2754.000000,3164.679932,127502000,0,0,2083.223552,2902.392615,1264.054488,...,1488.458493,331.404876,38.419428,8.539170,36.058500,0,1,520.839482,0.147114,1
2020-08-01,3180.510010,3495.000000,3073.000000,3450.959961,83516600,0,0,2213.486796,3230.062190,1196.911402,...,1596.059322,343.484261,37.555361,7.649513,38.044000,0,1,664.662102,0.090461,1
2020-09-01,3489.580078,3552.250000,2871.000000,3148.729980,115899300,0,0,2302.559205,3408.326127,1196.792282,...,1617.385114,388.519808,31.881251,9.997905,39.983940,0,1,706.527998,-0.087579,0
2020-10-01,3208.000000,3496.239990,3019.000000,3036.149902,116226100,0,0,2372.426141,3516.859468,1227.992815,...,1662.765508,400.349192,28.726482,9.008575,40.861540,0,1,726.831424,-0.035754,0
2020-11-01,3061.739990,3366.800049,2950.120117,3168.040039,90810500,0,0,2448.200028,3646.198420,1250.201636,...,1727.292260,402.526628,26.527889,9.542819,41.649901,0,1,750.353570,0.043440,1
2020-12-01,3188.500000,3350.649902,3072.820068,3256.929932,77556200,0,0,2525.222967,3783.473209,1266.972725,...,1819.339879,385.900361,25.692174,9.242189,42.038814,0,1,786.450281,0.028058,1
2021-01-01,3270.000000,3363.889893,3086.000000,3206.199951,71528900,0,0,2590.078713,3870.654746,1309.502680,...,1897.843134,371.498944,25.034740,8.914024,42.401913,0,1,814.319225,-0.015576,0
2021-02-01,3242.360107,3434.000000,3036.699951,3092.929932,72107000,0,0,2637.969836,3924.633342,1351.306331,...,1936.427304,374.939096,24.368488,9.140854,42.754959,0,1,799.642645,-0.035328,0
2021-03-01,3127.889893,3182.000000,2881.000000,3094.080078,78188000,0,0,2681.409343,3959.496362,1403.322323,...,1988.917093,365.080539,23.237353,11.765518,42.882441,0,1,787.632354,0.000372,1
2021-04-01,3117.939941,3554.000000,3115.550049,3467.419922,76839600,0,0,2756.268173,4041.549089,1470.987257,...,2043.105964,377.725802,27.894184,10.558719,42.222628,0,1,826.635891,0.120663,1
2021-05-01,3484.729980,3486.649902,3127.370117,3223.070068,75183900,0,0,2800.725861,4037.360208,1564.091515,...,2087.072940,375.266331,26.069985,9.868209,42.427059,0,1,801.296246,-0.070470,0
2021-06-01,3243.500000,3524.860107,3172.199951,3440.159912,67011000,0,0,2861.624795,4056.264249,1666.985341,...,2148.729444,372.252172,25.136239,9.237035,42.622850,0,1,798.959242,0.067355,1
2021-07-01,3434.610107,3773.080078,3306.979980,3327.590088,83720800,0,0,2906.002740,4025.715476,1786.290004,...,2173.169138,384.765237,27.191596,8.297887,42.918091,0,1,756.104814,-0.032722,0
2021-08-01,3353.100098,3391.000000,3299.770020,3375.989990,12125400,0,0,2950.763703,3981.180467,1920.346939,...,2267.967369,345.627182,28.107210,8.726393,43.652504,0,1,713.251050,0.014545,1
2021-08-06,3375.000000,3375.000000,3329.824951,3335.340088,1804386,0,0,2987.390227,3930.149387,2044.631066,...,2358.275863,305.698878,29.507222,9.161053,44.293228,0,1,658.076960,-0.012041,0

In [56]:
# entry point for long position:
# 1. black cross becomes gray (the squeeze is released)
long_cond1_mo = (df_stock_mo['squeeze_off'].iloc[-2] == 0) | (df_stock_mo['squeeze_off'][-1] == 1) 
# 2. bar value is positive => the bar is light green
long_cond2_mo = df_stock_mo['value'][-1] > 0

enter_long_mo = long_cond1_mo and long_cond2_mo
# entry point for short position:
# 1. black cross becomes gray (the squeeze is released)
short_cond1_mo = (df_stock_mo['squeeze_off'][-2] == 0) | (df_stock_mo['squeeze_off'][-1] == 1) 
# 2. bar value is negative => the bar is light red 
short_cond2_mo = df_stock_mo['value'][-1] < 0
enter_short_mo = short_cond1_mo and short_cond2_mo

In [57]:
ohcl_mo = df_stock_mo[['Open', 'High', 'Close', 'Low']]
ohcl_mo.head()

                  Open        High       Close         Low
Date
2016-10-01  836.000000  847.210022  789.820007  774.609985
2016-11-01  799.000000  800.840027  750.570007  710.099976
2016-12-01  752.409973  782.460022  749.869995  736.700012
2017-01-01  757.919983  843.840027  823.479980  747.700012
2017-02-01  829.210022  860.859985  845.039978  803.000000

In [58]:
# add colors for the 'value bar'
colors = []
for ind, val in enumerate(df_stock_wk['value']):
  if val >= 0:
    color = 'blue'
    if val > df_stock_wk['value'][ind-1]:
      color = 'cyan'
  else:
    color = 'yellow'
    if val < df_stock_wk['value'][ind-1]:
      color='red'
  colors.append(color)

In [59]:
# add 2 subplots: 1. bars, 2. crosses
apds = [mpf.make_addplot(df_stock_mo['value'], panel=1, type='bar', color=colors, alpha=0.8, secondary_y=False),
        mpf.make_addplot([0] * len(df_stock_mo), panel=1, type='scatter', marker='o', markersize=50, color=['gray' if s else 'red' for s in df_stock_mo['squeeze_off']], secondary_y=False),
        mpf.make_addplot(df_stock_mo[['upper_BB']], color = 'red'),
        mpf.make_addplot(df_stock_mo[['lower_BB']], color = 'red'),
        mpf.make_addplot(df_stock_mo[['upper_KC']], color = 'blue'),
        mpf.make_addplot(df_stock_mo[['lower_KC']], color = 'blue'),
        mpf.make_addplot(df_stock_mo['Moving average monthly'], color = 'black'),
        mpf.make_addplot(df_stock_mo[['adx']], panel=2, color = 'purple', secondary_y=False),
        mpf.make_addplot(df_stock_mo[['plus_di']], panel=2, color = 'green', secondary_y=False),
        mpf.make_addplot(df_stock_mo[['minus_di']], panel=2, color = 'orange', secondary_y=False),
        mpf.make_addplot(df_stock_mo['m_avg_08'], panel=3, color='red', secondary_y=False),
        mpf.make_addplot(df_stock_mo['m_avg_21'], panel=3, color='orange', secondary_y=False),
        mpf.make_addplot(df_stock_mo['m_avg_34'], panel=3, color='yellow', secondary_y=False),
        mpf.make_addplot(df_stock_mo['m_avg_55'], panel=3, color='green', secondary_y=False),
        mpf.make_addplot(df_stock_mo['m_avg_89'], panel=3, color='blue', secondary_y=False)]

# plot ohcl with subplots
fig, axes = mpf.plot(ohcl_mo, 
              volume_panel = 2,
              figratio=(2,1),
              figscale=1,
              type='candle', 
              addplot=apds,
              returnfig=True)

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous â€¦

In [60]:
momentum_checker('2021-08-05')

neutral

In [61]:
 # Create our features
X = df_stock.copy()
X.drop(columns=['profitable?',"squeeze_off","tr0","tr1","tr2","tr","Dividends","Stock Splits",'plus_di','minus_di'], axis=1, inplace=True)

# Create our target
y = df_stock[['profitable?']]

y.value_counts()

AttributeError: 'DataFrame' object has no attribute 'value_counts'

In [62]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1, stratify=y)
X_train.shape

(537, 20)

In [63]:
y_train

            profitable?
Date
2019-11-04            1
2020-01-27            0
2021-01-12            1
2020-03-20            0
2021-07-01            0
2020-07-31            1
2018-11-27            1
2018-10-18            0
2021-03-18            0
2019-09-03            1
2020-05-05            1
2019-06-25            0
2020-11-16            1
2018-10-10            0
2019-04-10            1
2020-08-27            0
2020-11-17            1
2021-03-23            1
2021-07-02            1
2019-05-22            1
2021-01-25            1
2019-09-25            1
2020-03-06            0
2019-04-17            1
2021-03-16            1
2020-09-14            0
2019-06-06            1
2019-09-04            1
2021-02-03            0
2021-06-15            0
...                 ...
2019-07-25            0
2019-08-13            1
2020-03-17            1
2018-11-26            1
2020-01-24            0
2020-05-08            1
2019-03-27            0
2020-01-17            0
2019-07-18            0
2019-05-02            0
2020-06-08            1
2019-02-26            1
2020-03-02            1
2020-11-02            0
2020-02-05            0
2021-05-17            1
2021-04-16            1
2018-12-12            1
2021-02-18            1
2019-03-29            1
2020-04-08            1
2019-02-05            1
2018-12-28            1
2019-01-18            1
2021-04-07            1
2019-04-16            1
2021-06-16            1
2021-04-23            1
2020-11-10            0
2020-05-28            0

[537 rows x 1 columns]

In [64]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

In [65]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [66]:
# Fit the Standard Scaler with the training data
# When fitting scaling functions, only train on the training dataset
X_scaler = scaler.fit(X_train)

In [67]:
# Scale the training and testing data
X_trained_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [68]:
# Resample the training data with the BalancedRandomForestClassifier
from sklearn.ensemble import RandomForestClassifier
rf_model = RandomForestClassifier(n_estimators = 100, random_state = 1)
rf_model = rf_model.fit(X_trained_scaled, y_train)
predictions = rf_model.predict(X_test_scaled)

In [69]:
# Calculated the balanced accuracy score
balanced_accuracy_score(y_test, predictions)

0.9940476190476191

In [70]:
# Display the confusion matrix
cm = confusion_matrix(y_test, predictions)
cm

array([[83,  1],
       [ 0, 96]], dtype=int64)

In [71]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, predictions))

                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      0.99      1.00      0.99      0.99      0.99        84
          1       0.99      1.00      0.99      0.99      0.99      0.99        96

avg / total       0.99      0.99      0.99      0.99      0.99      0.99       180

In [72]:
# List the features sorted in descending order by feature importance
importances = rf_model.feature_importances_
listed = sorted(zip(rf_model.feature_importances_, X.columns), reverse = True)
listed

[(0.7912643920698887, 'pct_change'),
 (0.022449898055148614, 'Close'),
 (0.015345446658426605, 'atr'),
 (0.01326083154987366, 'Open'),
 (0.012819132698312223, 'Low'),
 (0.012811973028902695, 'adx'),
 (0.012780239156128676, 'High'),
 (0.012240855324964892, 'Volume'),
 (0.011941927678183067, 'upper_BB'),
 (0.011302109617007988, 'upper_KC'),
 (0.010592697994950686, 'm_avg_34'),
 (0.01051163818949993, 'value'),
 (0.010324540485435456, 'm_avg_21'),
 (0.010113553503114712, 'lower_BB'),
 (0.009463465086575827, 'm_avg_89'),
 (0.008492519244584494, 'm_avg_08'),
 (0.00837403902005829, 'lower_KC'),
 (0.007842971100136199, 'm_avg_55'),
 (0.007658035937822993, 'Moving average'),
 (0.0004097336009843577, 'squeeze_on')]

In [73]:
# Train the Classifier
from imblearn.ensemble import EasyEnsembleClassifier
eec_model = EasyEnsembleClassifier(n_estimators = 100, random_state = 1)
eec_model = eec_model.fit(X_trained_scaled, y_train)
predictions = eec_model.predict(X_test_scaled)

In [74]:
# Calculated the balanced accuracy score
balanced_accuracy_score(y_test, predictions)

0.9940476190476191

In [75]:
# Display the confusion matrix
cm = confusion_matrix(y_test, predictions)
cm

array([[83,  1],
       [ 0, 96]], dtype=int64)

In [76]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, predictions))

                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      0.99      1.00      0.99      0.99      0.99        84
          1       0.99      1.00      0.99      0.99      0.99      0.99        96

avg / total       0.99      0.99      0.99      0.99      0.99      0.99       180

In [77]:
#Add other classifier models

# HW LSTM Model

In [78]:
# Set the random seed for reproducibility
# Note: This is for the homework solution, but it is good practice to comment this out and run multiple experiments to evaluate your model
from numpy.random import seed
seed(1)
from tensorflow import random
random.set_seed(2)

In [79]:
df = df_stock[['Volume','squeeze_on', 'adx', 'Close']]
df.head()

             Volume  squeeze_on        adx        Close
Date
2018-10-02  5400700           1  22.593114  1971.310059
2018-10-03  5253100           1  21.617174  1952.760010
2018-10-04  7257000           1  21.148409  1909.420044
2018-10-05  6822300           1  21.749921  1889.650024
2018-10-08  7393200           1  22.842676  1864.420044

In [80]:
# This function accepts the column number for the features (X) and the target (y)
# It chunks the data up with a rolling window of Xt-n to predict Xt
# It returns a numpy array of X any y
def window_data(df, window, feature_col_number, target_col_number):
    X = []
    y = []
    for i in range(len(df) - window - 1):
        features = df.iloc[i:(i + window), feature_col_number]
        target = df.iloc[(i + window), target_col_number]
        X.append(features)
        y.append(target)
    return np.array(X), np.array(y).reshape(-1, 1)

In [81]:
# Predict Closing Prices using a 10 day window of previous closing prices
# Then, experiment with window sizes anywhere from 1 to 10 and see how the model performance changes
window_size = 10

# Column index 0 is the 'fng_value' column
# Column index 1 is the `Close` column
feature_column = 3
target_column = 3
X, y = window_data(df, window_size, feature_column, target_column)

In [82]:
# Use 70% of the data for training and the remaineder for testing
split = int(0.7 * len(X))

X_train = X[: split]
X_test = X[split:]

y_train = y[: split]
y_test = y[split:]

In [83]:
from sklearn.preprocessing import MinMaxScaler
# Use the MinMaxScaler to scale data between 0 and 1.
x_train_scaler = MinMaxScaler()
x_test_scaler = MinMaxScaler()
y_train_scaler = MinMaxScaler()
y_test_scaler = MinMaxScaler()

# Fit the scaler for the Training Data
x_train_scaler.fit(X_train)
y_train_scaler.fit(y_train)

# Scale the training data
X_train = x_train_scaler.transform(X_train)
y_train = y_train_scaler.transform(y_train)

# Fit the scaler for the Testing Data
x_test_scaler.fit(X_test)
y_test_scaler.fit(y_test)

# Scale the y_test data
X_test = x_test_scaler.transform(X_test)
y_test = y_test_scaler.transform(y_test)

In [84]:
# Reshape the features for the model
X_train = X_train.reshape((X_train.shape[0], X_train.shape[1], 1))
X_test = X_test.reshape((X_test.shape[0], X_test.shape[1], 1))

In [85]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dense, Dropout

In [86]:
# Build the LSTM model. 
# The return sequences need to be set to True if you are adding additional LSTM layers, but 
# You don't have to do this for the final layer. 
# Note: The dropouts help prevent overfitting
# Note: The input shape is the number of time steps and the number of indicators
# Note: Batching inputs has a different input shape of Samples/TimeSteps/Features

# Define the LSTM RNN model.
model = Sequential()

# Initial model setup
number_units = 5
dropout_fraction = 0

# Layer 1
model.add(LSTM(
    units=number_units,
    return_sequences=True,
    input_shape=(X_train.shape[1], 1))
    )
model.add(Dropout(dropout_fraction))

# Layer 2
model.add(LSTM(units=number_units, return_sequences=True))
model.add(Dropout(dropout_fraction))

# Layer 3
model.add(LSTM(units=number_units))
model.add(Dropout(dropout_fraction))

# Output layer
model.add(Dense(1))

In [87]:
# Compile the model
model.compile(optimizer="adam", loss="mean_squared_error")

In [88]:
# Summarize the model
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
lstm (LSTM)                  (None, 10, 5)             140
_________________________________________________________________
dropout (Dropout)            (None, 10, 5)             0
_________________________________________________________________
lstm_1 (LSTM)                (None, 10, 5)             220
_________________________________________________________________
dropout_1 (Dropout)          (None, 10, 5)             0
_________________________________________________________________
lstm_2 (LSTM)                (None, 5)                 220
_________________________________________________________________
dropout_2 (Dropout)          (None, 5)                 0
_________________________________________________________________
dense (Dense)                (None, 1)                 6
=================================================================
Total params: 586
Trainable params: 586
Non-trainable params: 0
_________________________________________________________________

In [89]:
# Train the model
# Use at least 10 epochs
# Do not shuffle the data
# Experiement with the batch size, but a smaller batch size is recommended
model.fit(X_train, y_train, epochs=10, shuffle=False, batch_size=1, verbose=1)

Epoch 1/10
494/494 [==============================] - 10s 10ms/step - loss: 0.0038
Epoch 2/10
494/494 [==============================] - 5s 10ms/step - loss: 0.0089
Epoch 3/10
494/494 [==============================] - 5s 9ms/step - loss: 0.0103
Epoch 4/10
494/494 [==============================] - 5s 9ms/step - loss: 0.0125
Epoch 5/10
494/494 [==============================] - 5s 10ms/step - loss: 0.0112
Epoch 6/10
494/494 [==============================] - 5s 10ms/step - loss: 0.0094
Epoch 7/10
494/494 [==============================] - 5s 10ms/step - loss: 0.0065
Epoch 8/10
494/494 [==============================] - 5s 10ms/step - loss: 0.0044
Epoch 9/10
494/494 [==============================] - 5s 10ms/step - loss: 0.0036
Epoch 10/10
494/494 [==============================] - 5s 10ms/step - loss: 0.0035

In [90]:
# Evaluate the model
model.evaluate(X_test, y_test, verbose=1)

7/7 [==============================] - 1s 5ms/step - loss: 0.0389

0.03892724588513374

In [91]:
# Make some predictions
predicted = model.predict(X_test)

In [92]:
# Recover the original prices instead of the scaled version
predicted_profit = y_test_scaler.inverse_transform(predicted)
real_profit = y_test_scaler.inverse_transform(y_test.reshape(-1, 1))

In [93]:
# Create a DataFrame of Real and Predicted values
stocks = pd.DataFrame({
    "Real": real_profit.ravel(),
    "Predicted": predicted_profit.ravel()
}, index = df_stock.index[-len(real_profit): ]) 
stocks.head()

                   Real    Predicted
Date
2020-10-05  3125.000000  3218.670654
2020-10-06  3199.199951  3224.388428
2020-10-07  3099.959961  3232.345947
2020-10-08  3195.689941  3233.938965
2020-10-09  3190.550049  3242.728027

In [94]:
# Plot the real vs predicted values as a line chart
stocks.plot(figsize = (10,5), title="Actual Vs. Predicted TDOC Closing Prices")

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous â€¦

Linear Regression Model

In [95]:
df_stock['Lagged_Close'] = df_stock['Close'].shift()
df_stock = df_stock.dropna()
df_stock.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Moving average,upper_BB,lower_BB,...,atr,plus_di,minus_di,adx,squeeze_on,squeeze_off,value,pct_change,profitable?,Lagged_Close
Date,,,,,,,,,,,,,,,,,,,,,
2018-10-03,1981.699951,1989.699951,1949.810059,1952.760010,5253100,0,0,1965.112714,2025.581799,1904.643628,...,41.369743,22.168769,29.594463,21.617174,1,0,10.286221,-0.941001,0,1971.310059
2018-10-04,1949.000000,1956.000000,1896.569946,1909.420044,7257000,0,0,1959.735956,2024.700378,1894.771535,...,43.782916,19.381029,34.963066,21.148409,1,0,4.389003,-2.219421,0,1952.760010
2018-10-05,1917.989990,1929.079956,1862.829956,1889.650024,6822300,0,0,1952.978446,2025.151505,1880.805386,...,46.784058,16.786379,35.655658,21.749921,1,0,-6.857565,-1.035394,0,1909.420044
2018-10-08,1874.000000,1902.000000,1830.660034,1864.420044,7393200,0,0,1944.449924,2027.419593,1861.480255,...,50.063416,14.521620,35.618094,22.842676,1,0,-20.145387,-1.335167,0,1889.650024
2018-10-09,1859.989990,1896.680054,1852.319946,1870.319946,4772900,0,0,1937.318517,2026.441896,1848.195138,...,49.301921,13.653732,33.489370,24.271240,1,0,-31.977552,0.316447,1,1864.420044

In [96]:
# to_period("w") splits the series into weekly increments
df_stock.index.to_period("w")

PeriodIndex(['2018-10-01/2018-10-07', '2018-10-01/2018-10-07',
             '2018-10-01/2018-10-07', '2018-10-08/2018-10-14',
             '2018-10-08/2018-10-14', '2018-10-08/2018-10-14',
             '2018-10-08/2018-10-14', '2018-10-08/2018-10-14',
             '2018-10-15/2018-10-21', '2018-10-15/2018-10-21',
             ...
             '2021-07-26/2021-08-01', '2021-07-26/2021-08-01',
             '2021-07-26/2021-08-01', '2021-07-26/2021-08-01',
             '2021-07-26/2021-08-01', '2021-08-02/2021-08-08',
             '2021-08-02/2021-08-08', '2021-08-02/2021-08-08',
             '2021-08-02/2021-08-08', '2021-08-02/2021-08-08'],
            dtype='period[W-SUN]', name='Date', length=716, freq='W-SUN')

In [97]:
# construct a list of all Pandas weekly periods that are in the dataset:
weeks = df_stock.index.to_period("w").unique()
weeks

PeriodIndex(['2018-10-01/2018-10-07', '2018-10-08/2018-10-14',
             '2018-10-15/2018-10-21', '2018-10-22/2018-10-28',
             '2018-10-29/2018-11-04', '2018-11-05/2018-11-11',
             '2018-11-12/2018-11-18', '2018-11-19/2018-11-25',
             '2018-11-26/2018-12-02', '2018-12-03/2018-12-09',
             ...
             '2021-05-31/2021-06-06', '2021-06-07/2021-06-13',
             '2021-06-14/2021-06-20', '2021-06-21/2021-06-27',
             '2021-06-28/2021-07-04', '2021-07-05/2021-07-11',
             '2021-07-12/2021-07-18', '2021-07-19/2021-07-25',
             '2021-07-26/2021-08-01', '2021-08-02/2021-08-08'],
            dtype='period[W-SUN]', name='Date', length=149, freq='W-SUN')

In [98]:
# Training Window (26 weeks)
training_window = 26

In [99]:
# Beginning of training window
start_of_training_period = weeks[0].start_time.strftime(format="%Y-%m-%d")
start_of_training_period

'2018-10-01'

In [100]:
# End of training window
end_of_training_period = weeks[training_window + 0].end_time.strftime(format="%Y-%m-%d")
end_of_training_period

'2019-04-07'

In [101]:
# The week of the first test window
test_week = weeks[training_window + 0 + 1]
test_week

Period('2019-04-08/2019-04-14', 'W-SUN')

In [102]:
# The first day of the test week
start_of_test_week  = test_week.start_time.strftime(format="%Y-%m-%d")
start_of_test_week

'2019-04-08'

In [103]:
# The last day of the test week
end_of_test_week = test_week.end_time.strftime(format="%Y-%m-%d")
end_of_test_week

'2019-04-14'

In [104]:
# Training data with just one window
train = df_stock[start_of_training_period:end_of_training_period]
train

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Moving average,upper_BB,lower_BB,...,atr,plus_di,minus_di,adx,squeeze_on,squeeze_off,value,pct_change,profitable?,Lagged_Close
Date,,,,,,,,,,,,,,,,,,,,,
2018-10-03,1981.699951,1989.699951,1949.810059,1952.760010,5253100,0,0,1965.112714,2025.581799,1904.643628,...,41.369743,22.168769,29.594463,21.617174,1,0,10.286221,-0.941001,0,1971.310059
2018-10-04,1949.000000,1956.000000,1896.569946,1909.420044,7257000,0,0,1959.735956,2024.700378,1894.771535,...,43.782916,19.381029,34.963066,21.148409,1,0,4.389003,-2.219421,0,1952.760010
2018-10-05,1917.989990,1929.079956,1862.829956,1889.650024,6822300,0,0,1952.978446,2025.151505,1880.805386,...,46.784058,16.786379,35.655658,21.749921,1,0,-6.857565,-1.035394,0,1909.420044
2018-10-08,1874.000000,1902.000000,1830.660034,1864.420044,7393200,0,0,1944.449924,2027.419593,1861.480255,...,50.063416,14.521620,35.618094,22.842676,1,0,-20.145387,-1.335167,0,1889.650024
2018-10-09,1859.989990,1896.680054,1852.319946,1870.319946,4772900,0,0,1937.318517,2026.441896,1848.195138,...,49.301921,13.653732,33.489370,24.271240,1,0,-31.977552,0.316447,1,1864.420044
2018-10-10,1857.890015,1858.560059,1754.410034,1755.250000,10988900,0,0,1919.820129,2041.262021,1798.378237,...,58.193653,10.712989,38.705257,25.667008,0,1,-54.219896,-6.152420,0,1870.319946
2018-10-11,1724.000000,1755.400024,1685.099976,1719.359985,13935900,0,0,1900.570903,2052.894708,1748.247099,...,59.809519,9.655426,43.424115,27.992114,0,1,-75.545175,-2.044724,0,1755.250000
2018-10-12,1808.000000,1808.949951,1742.530029,1788.609985,9444600,0,0,1889.828290,2051.440567,1728.216013,...,63.783827,14.560975,37.724562,30.515849,0,1,-81.257714,4.027661,1,1719.359985
2018-10-15,1795.000000,1795.050049,1734.229980,1760.949951,6437200,0,0,1877.471248,2052.836160,1702.106336,...,63.388350,13.576792,36.135469,31.535142,0,1,-91.157720,-1.546454,0,1788.609985
2018-10-16,1783.500000,1823.880005,1761.550049,1819.959961,5859900,0,0,1871.960528,2050.511232,1693.409823,...,63.327202,15.928516,33.521630,32.499485,0,1,-94.196938,3.351033,1,1760.949951
2018-10-17,1842.790039,1845.000000,1807.000000,1831.729980,5295200,0,0,1868.107886,2048.673594,1687.542177,...,59.948260,18.171609,32.822588,32.689071,0,1,-91.850778,0.646719,1,1819.959961
2018-10-18,1821.489990,1830.150024,1767.869995,1770.719971,5874000,0,0,1858.786523,2045.913241,1671.659805,...,60.470089,16.700151,34.887003,32.433785,0,1,-100.749989,-3.330732,0,1831.729980
2018-10-19,1785.160034,1809.099976,1753.000000,1764.030029,5907200,0,0,1849.721335,2043.995794,1655.446877,...,59.887150,15.634040,34.469065,32.651824,0,1,-107.599254,-0.377809,0,1770.719971
2018-10-22,1784.000000,1809.500000,1756.000000,1789.300049,4500000,0,0,1843.943422,2040.277686,1647.609159,...,59.035205,14.755029,32.422374,33.011071,0,1,-111.321919,1.432516,1,1764.030029
2018-10-23,1742.239990,1776.339966,1714.000000,1768.699951,6723900,0,0,1836.750905,2031.890751,1641.611058,...,61.204569,13.197915,33.987048,33.368304,0,1,-115.377192,-1.151294,0,1789.300049
2018-10-24,1773.699951,1777.709961,1656.560059,1664.199951,6928400,0,0,1820.262573,2026.417020,1614.108126,...,69.199573,10.969619,33.902758,34.181682,0,1,-130.754204,-5.908294,0,1768.699951
2018-10-25,1703.339966,1794.810059,1692.010010,1782.170044,10285700,0,0,1816.623749,2008.673423,1624.574076,...,77.389680,10.699419,28.117335,35.377708,0,1,-122.499521,7.088697,1,1664.199951
2018-10-26,1649.589966,1698.459961,1603.000000,1642.810059,14963800,0,0,1800.024816,1992.902357,1607.147275,...,90.963319,8.443678,29.275190,36.119580,0,1,-130.889971,-7.819679,0,1782.170044
2018-10-29,1660.000000,1665.739990,1495.000000,1538.880005,13866100,0,0,1775.092389,1983.944953,1566.239826,...,101.602195,7.012663,32.003388,37.548942,0,1,-149.004851,-6.326358,0,1642.810059
2018-10-30,1486.160034,1540.989990,1476.359985,1530.420044,12460100,0,0,1751.738146,1973.874374,1529.601919,...,96.671772,6.837626,32.598180,39.472811,0,1,-161.352454,-0.549748,0,1538.880005
2018-10-31,1569.989990,1623.910034,1565.089966,1598.010010,9390200,0,0,1737.067753,1954.593523,1519.541982,...,96.247475,12.593305,30.377448,41.217560,0,1,-159.140954,4.416432,1,1530.420044
2018-11-01,1623.530029,1670.449951,1598.439941,1665.530029,8135500,0,0,1730.242168,1937.957056,1522.527280,...,93.072751,15.691326,29.146891,41.171082,0,1,-142.407630,4.225256,1,1598.010010
2018-11-02,1678.589966,1697.439941,1651.829956,1665.530029,6955500,0,0,1724.068905,1921.908175,1526.229634,...,86.743716,17.865753,29.018537,40.333596,0,1,-126.962998,0.000000,0,1665.530029
2018-11-05,1657.569946,1658.089966,1596.359985,1627.800049,5624700,0,0,1714.886712,1906.982137,1522.791287,...,84.400345,17.038709,32.410931,39.178157,0,1,-117.670706,-2.265344,0,1665.530029
2018-11-06,1618.349976,1665.000000,1614.550049,1642.810059,4257400,0,0,1708.012969,1888.662142,1527.363797,...,79.873268,17.330899,31.781692,38.586551,0,1,-105.925133,0.922104,1,1627.800049
2018-11-07,1673.000000,1759.229980,1664.079956,1755.489990,8192200,0,0,1712.540132,1893.203015,1531.877248,...,84.746489,23.161037,27.798356,37.822192,0,1,-72.239687,6.858975,1,1642.810059
2018-11-08,1755.000000,1784.000000,1725.109985,1754.910034,6534900,0,0,1716.579834,1898.476976,1534.682692,...,81.298755,24.598189,26.892891,35.731208,0,1,-48.409905,-0.033037,0,1755.489990
2018-11-09,1732.500000,1743.920044,1701.869995,1712.430054,5902200,0,0,1716.184221,1894.132882,1538.235560,...,77.530732,23.939252,28.327529,33.501847,0,1,-35.765071,-2.420636,0,1754.910034
2018-11-12,1698.239990,1708.550049,1630.010010,1636.849976,6806200,0,0,1708.621723,1886.910174,1530.333271,...,78.182669,22.033681,32.677591,31.753664,0,1,-31.153012,-4.413615,0,1712.430054
2018-11-13,1649.290039,1677.060059,1613.750000,1631.170044,5933300,0,0,1701.239317,1872.205700,1530.272934,...,76.199578,20.983244,32.652469,30.881664,0,1,-29.434279,-0.347004,0,1636.849976
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-02-25,1641.449951,1654.599976,1630.390015,1633.000000,3184500,0,0,1627.323644,1685.776582,1568.870705,...,31.304042,35.842368,34.478738,8.208249,1,0,-37.186675,0.088255,1,1631.560059
2019-02-26,1625.979980,1639.989990,1616.130005,1636.400024,2665800,0,0,1628.188061,1686.606584,1569.769539,...,30.311501,34.371925,36.424701,7.765340,1,0,-29.914000,0.208207,1,1633.000000
2019-02-27,1628.180054,1641.810059,1615.099976,1641.089966,3148800,0,0,1629.416815,1685.333235,1573.500395,...,29.831312,32.866282,34.613935,7.416191,1,0,-24.553460,0.286601,1,1636.400024
2019-02-28,1635.250000,1651.770020,1633.829956,1639.829956,3025900,0,0,1630.408544,1683.628797,1577.188290,...,28.245812,34.750468,33.945609,7.064207,1,0,-24.334700,-0.076779,0,1641.089966
2019-03-01,1655.130005,1674.260010,1651.000000,1671.729980,4974900,0,0,1634.343921,1673.694832,1594.993009,...,29.070378,36.879098,30.626785,6.684574,1,0,-12.118065,1.945325,1,1639.829956
2019-03-04,1685.000000,1709.430054,1674.359985,1696.170044,6167400,0,0,1640.232126,1689.628803,1590.835449,...,30.221004,41.253775,27.356321,6.924765,1,0,9.247927,1.461962,1,1671.729980
2019-03-05,1702.949951,1707.800049,1689.010010,1692.430054,3681500,0,0,1645.203360,1701.371854,1589.034866,...,28.696875,40.341543,26.751399,7.876998,1,0,20.453929,-0.220496,0,1696.170044
2019-03-06,1695.969971,1697.750000,1668.280029,1668.949951,3996000,0,0,1647.464941,1704.687566,1590.242317,...,28.799954,37.325868,29.893119,8.714281,1,0,26.809493,-1.387360,0,1692.430054
2019-03-07,1667.369995,1669.750000,1620.510010,1625.949951,4957000,0,0,1645.415894,1702.779139,1588.052648,...,31.525293,31.663377,36.181938,8.859222,1,0,26.031857,-2.576470,0,1668.949951
2019-03-08,1604.010010,1622.719971,1586.569946,1620.800049,4667000,0,0,1643.071527,1700.008478,1586.134575,...,32.572588,28.456324,39.960088,8.753946,1,0,23.047377,-0.316732,0,1625.949951
2019-03-11,1626.119995,1672.290039,1626.010010,1670.619995,3876400,0,0,1645.695191,1700.018022,1591.372360,...,35.094908,34.613743,34.438904,9.245202,1,0,26.432071,3.073787,1,1620.800049
2019-03-12,1669.000000,1684.270020,1660.979980,1673.099976,3614500,0,0,1648.305171,1699.392696,1597.217647,...,33.520925,36.203308,33.480522,8.621549,1,0,26.633812,0.148447,1,1670.619995
2019-03-13,1683.000000,1700.000000,1679.349976,1690.810059,3552000,0,0,1652.353257,1707.444533,1597.261981,...,32.638139,37.969148,31.929907,8.308960,1,0,29.023193,1.058519,1,1673.099976
2019-03-14,1691.199951,1702.000000,1684.339966,1686.219971,2946600,0,0,1655.578659,1713.316925,1597.840393,...,30.641058,38.021197,31.581600,8.335725,1,0,33.581569,-0.271473,0,1690.810059
2019-03-15,1703.000000,1718.800049,1693.130005,1712.359985,7550900,0,0,1660.986406,1723.843665,1598.129146,...,30.899594,38.893570,29.080375,8.427622,1,0,41.546367,1.550214,1,1686.219971
2019-03-18,1712.699951,1750.000000,1712.630005,1742.150024,5429100,0,0,1668.716276,1739.317584,1598.114967,...,31.798317,42.103217,26.239984,8.901615,0,1,50.377367,1.739707,1,1712.359985
2019-03-19,1753.510010,1784.160034,1753.510010,1761.849976,6364200,0,0,1677.586153,1759.750017,1595.422290,...,33.159876,44.848899,23.365213,9.965999,0,1,57.910903,1.130784,1,1742.150024
2019-03-20,1769.939941,1799.500000,1767.030029,1797.270020,6265600,0,0,1688.984619,1786.907333,1591.061904,...,33.758562,44.152583,21.311483,11.521095,0,1,70.454085,2.010389,1,1761.849976
2019-03-21,1796.260010,1823.750000,1787.280029,1819.260010,5767800,0,0,1701.391801,1814.752255,1588.031347,...,34.120083,45.641048,19.579542,13.216251,0,1,82.690499,1.223522,1,1797.270020
2019-03-22,1810.170044,1818.979980,1763.109985,1764.770020,6363000,0,0,1707.427822,1823.055756,1591.799889,...,37.057409,39.021653,21.398734,15.071406,0,1,82.771384,-2.995173,0,1819.260010
2019-03-25,1757.790039,1782.680054,1747.500000,1774.260010,5103800,0,0,1713.792793,1831.425039,1596.160548,...,36.807095,36.480789,23.034701,16.044711,0,1,84.089675,0.537747,1,1764.770020
2019-03-26,1793.000000,1805.770020,1773.359985,1783.760010,4865900,0,0,1720.456339,1839.945103,1600.967574,...,36.220820,38.976750,21.735564,16.542041,0,1,85.671456,0.535434,1,1774.260010
2019-03-27,1784.130005,1787.500000,1745.680054,1765.699951,4324800,0,0,1724.765254,1842.842922,1606.687587,...,36.967370,35.461771,25.123790,17.331083,0,1,82.942753,-1.012471,0,1783.760010
2019-03-28,1770.000000,1777.930054,1753.469971,1773.420044,3043000,0,0,1729.399044,1845.164103,1613.633986,...,35.299732,34.484400,24.431347,17.311966,0,1,80.857002,0.437226,1,1765.699951
2019-03-29,1786.579956,1792.859985,1776.630005,1780.750000,3320800,0,0,1734.289612,1850.832308,1617.746916,...,33.185093,37.275269,24.131865,17.316358,0,1,78.749554,0.413323,1,1773.420044
2019-04-01,1800.109985,1815.670044,1798.729980,1814.189941,4238800,0,0,1741.899168,1864.103149,1619.695186,...,33.416420,39.248870,22.253029,17.640104,0,1,83.945036,1.877857,1,1780.750000
2019-04-02,1811.020020,1820.000000,1805.119995,1813.979980,3448100,0,0,1748.764008,1874.931568,1622.596447,...,30.944898,40.355668,22.313882,18.359894,0,1,90.379821,-0.011573,0,1814.189941
2019-04-03,1826.719971,1830.000000,1809.619995,1820.699951,3926100,0,0,1755.615050,1882.797136,1628.432964,...,29.536246,41.678634,21.708212,19.118678,0,1,96.139332,0.370455,1,1813.979980
2019-04-04,1820.650024,1828.750000,1804.199951,1818.859985,3623900,0,0,1761.638378,1879.880000,1643.396755,...,28.871419,39.592762,21.962729,19.988848,0,1,98.200733,-0.101058,0,1820.699951
2019-04-05,1829.000000,1838.579956,1825.189941,1837.280029,3640500,0,0,1768.842345,1874.628360,1663.056330,...,27.651226,40.926330,21.293900,20.621712,0,1,97.764083,1.012725,1,1818.859985

In [105]:
# Testing data with just one window
test = df_stock[start_of_test_week:end_of_test_week]
test

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Moving average,upper_BB,lower_BB,...,atr,plus_di,minus_di,adx,squeeze_on,squeeze_off,value,pct_change,profitable?,Lagged_Close
Date,,,,,,,,,,,,,,,,,,,,,
2019-04-08,1833.229980,1850.199951,1825.109985,1849.859985,3752800,0,0,1776.558311,1878.970829,1674.145793,...,27.309725,41.517449,20.041069,21.419544,0,1,94.771567,0.684705,1,1837.280029
2019-04-09,1845.489990,1853.089966,1831.780029,1835.839966,3714400,0,0,1782.204183,1876.381776,1688.026590,...,26.509753,40.493964,19.171130,22.385898,0,1,90.270902,-0.757896,0,1849.859985
2019-04-10,1841.000000,1848.000000,1828.810059,1847.329956,2964000,0,0,1788.406638,1876.432615,1700.380661,...,25.533778,39.038767,19.313021,23.329729,0,1,85.610888,0.625871,1,1835.839966
2019-04-11,1848.699951,1849.949951,1840.310059,1844.069946,2654800,0,0,1793.707906,1870.094948,1717.320863,...,23.414593,40.126033,19.556624,24.081322,0,1,80.577255,-0.176471,0,1847.329956
2019-04-12,1848.400024,1851.500000,1841.300049,1843.060059,3114400,0,0,1798.408111,1865.824826,1730.991395,...,21.652641,40.803186,19.637439,24.825818,0,1,73.677846,-0.054764,0,1844.069946

In [106]:
# Set the training window as 26 weeks
# Total timeframe is 287 weeks
training_window = 26
timeframe = len(weeks) - training_window - 1
timeframe

122

In [107]:
# Construct an empty placeholder DataFrame, with a column named "Out-of-Sample Predictions"
# (Each iteration of the loop, we'll append that week"s predictions to this DataFrame)
all_predictions = pd.DataFrame(columns=["Out-of-Sample Predictions"])
all_predictions

Empty DataFrame
Columns: [Out-of-Sample Predictions]
Index: []

In [108]:
# Construct a separate empty DataFrame for actual data
all_actuals = pd.DataFrame(columns=["Actual Prices"])
all_actuals

Empty DataFrame
Columns: [Actual Prices]
Index: []

In [109]:
from sklearn.linear_model import LinearRegression
for i in range(0, timeframe):
    
    # Beginning of training window
    start_of_training_period = weeks[i].start_time.strftime(format="%Y-%m-%d")
    
    # End of training window
    end_of_training_period = weeks[training_window + i].end_time.strftime(format="%Y-%m-%d")

    # Window of test-window data
    test_week = weeks[training_window+i+1]
    
    # String of testing window
    start_of_test_week  = test_week.start_time.strftime(format="%Y-%m-%d")
    end_of_test_week = test_week.end_time.strftime(format="%Y-%m-%d")
    
    train = df_stock[start_of_training_period:end_of_training_period]
    test = df_stock[start_of_test_week:end_of_test_week]
    
    # Create new DataFrames:
    X_train = train["Lagged_Close"].to_frame()
    y_train = train["Close"]
    X_test = test["Lagged_Close"].to_frame()
    y_test = test["Close"]

    model = LinearRegression()
    model.fit(X_train, y_train)
    predictions = model.predict(X_test)
    # Create a temporary DataFrame to hold predictions
    predictions = pd.DataFrame(predictions, index=X_test.index, columns=["Out-of-Sample Predictions"])
    # Create a temporary DataFrame of the actual "y"s in the test DataFrame, with column name="Actual Returns": 
    actuals = pd.DataFrame(y_test, index=y_test.index)
    actuals.columns = ["Actual Prices"]  
    # Append these two DataFrames (predictions and actuals) to the two master DataFrames built outside the loop
    all_predictions = all_predictions.append(predictions)
    all_actuals = all_actuals.append(actuals)

In [110]:
# Once the loop is done, concatenate (combine) the two DataFrames to a final "Results" DataFrame:    
Results = pd.concat([all_actuals, all_predictions], axis=1)
Results.head()

            Actual Prices  Out-of-Sample Predictions
2019-04-08    1849.859985                1816.966831
2019-04-09    1835.839966                1828.135080
2019-04-10    1847.329956                1815.688370
2019-04-11    1844.069946                1825.888968
2019-04-12    1843.060059                1822.994792

In [111]:
# Plot the first 20 predictions vs the true values
Results[:20].plot()

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous â€¦

In [112]:
from sklearn.metrics import mean_squared_error, r2_score

mse = mean_squared_error(
    Results["Actual Prices"],
    Results["Out-of-Sample Predictions"]
)

# Using that mean-squared-error, calculate the root-mean-squared error (RMSE):
out_of_sample_rmse = np.sqrt(mse)
print(f"Out-of-Sample Root Mean Squared Error (RMSE): {out_of_sample_rmse}")

Out-of-Sample Root Mean Squared Error (RMSE): 51.7377544935978

# Multifeature LSTM Model

In [113]:
#multi feature LSTM
from math import sqrt
from numpy import concatenate
from matplotlib import pyplot
from pandas import DataFrame
from pandas import concat
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import mean_squared_error
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM

In [114]:
# convert series to supervised learning
def series_to_supervised(data, n_in=1, n_out=1, dropnan=True):
	n_vars = 1 if type(data) is list else data.shape[1]
	df = DataFrame(data)
	cols, names = list(), list()
	# input sequence (t-n, ... t-1)
	for i in range(n_in, 0, -1):
		cols.append(df.shift(i))
		names += [('var%d(t-%d)' % (j+1, i)) for j in range(n_vars)]
	# forecast sequence (t, t+1, ... t+n)
	for i in range(0, n_out):
		cols.append(df.shift(-i))
		if i == 0:
			names += [('var%d(t)' % (j+1)) for j in range(n_vars)]
		else:
			names += [('var%d(t+%d)' % (j+1, i)) for j in range(n_vars)]
	# put it all together
	agg = concat(cols, axis=1)
	agg.columns = names
	# drop rows with NaN values
	if dropnan:
		agg.dropna(inplace=True)
	return agg

In [115]:
# load dataset
values = df_stock.values
# integer encode direction
encoder = LabelEncoder()
values[:,4] = encoder.fit_transform(values[:,4])
# ensure all data is float
values = values.astype('float32')
# normalize features
scaler = MinMaxScaler(feature_range=(0, 1))
scaled = scaler.fit_transform(values)
# frame as supervised learning
reframed = series_to_supervised(scaled, 1, 1)
# drop columns we don't want to predict
reframed.drop(reframed.columns[[0,1,2,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,10,21,22,23,24,25,26,27,28,29]], axis=1, inplace=True)
print(reframed.head())

   var4(t-1)  var21(t-1)  var31(t-1)   var1(t)   var2(t)   var3(t)   var4(t)  \
1   0.255000    0.244338    0.262770  0.251460  0.235573  0.246704  0.236847
2   0.236847    0.240171    0.255000  0.238528  0.224249  0.232585  0.228566
3   0.228566    0.234891    0.236847  0.220183  0.212856  0.219124  0.217998
4   0.217998    0.228507    0.228566  0.214341  0.210618  0.228187  0.220470
5   0.220470    0.225381    0.217998  0.213465  0.194582  0.187217  0.172272

    var5(t)  var6(t)  var7(t)  ...  var22(t)  var23(t)  var24(t)  var25(t)  \
1  0.906911      0.0      0.0  ...  0.225001  0.320281  0.759740  0.387365
2  0.881523      0.0      0.0  ...  0.249999  0.254030  0.779406  0.403475
3  0.909732      0.0      0.0  ...  0.277314  0.196202  0.778340  0.432740
4  0.655853      0.0      0.0  ...  0.270971  0.174041  0.717892  0.471000
5  0.987306      0.0      0.0  ...  0.345034  0.098953  0.866003  0.508380

   var26(t)  var27(t)  var28(t)  var29(t)  var30(t)  var31(t)
1       1.0       0.0  0.485862  0.328356       0.0  0.255000
2       1.0       0.0  0.466278  0.396532       0.0  0.236847
3       1.0       0.0  0.443140  0.379271       0.0  0.228566
4       1.0       0.0  0.422537  0.474370       1.0  0.217998
5       0.0       1.0  0.383807  0.101896       0.0  0.220470

[5 rows x 34 columns]

In [116]:
# split into train and test sets
values = reframed.values
n_train_days = 252
train = values[:n_train_days, :]
test = values[n_train_days:, :]
# split into input and outputs
train_X, train_y = train[:, :-1], train[:, -1]
test_X, test_y = test[:, :-1], test[:, -1]
# reshape input to be 3D [samples, timesteps, features]
train_X = train_X.reshape((train_X.shape[0],1, train_X.shape[1]))
test_X = test_X.reshape((test_X.shape[0],1, test_X.shape[1]))
print(train_X.shape, train_y.shape, test_X.shape, test_y.shape)

(252, 1, 33) (252,) (463, 1, 33) (463,)

In [117]:
# design network
model = Sequential()
model.add(LSTM(5, input_shape=(train_X.shape[1], train_X.shape[2])))
model.add(Dropout(0.3))
model.add(Dense(1))
#model.add(Dropout(0.3))
model.compile(loss='mae', optimizer='adam', metrics=['accuracy'])
# fit network
history = model.fit(train_X, train_y, epochs=60, batch_size=20, validation_data=(test_X, test_y), verbose=2, shuffle=False)

Epoch 1/60
13/13 - 40s - loss: 0.1401 - accuracy: 0.0040 - val_loss: 0.4787 - val_accuracy: 0.0000e+00
Epoch 2/60
13/13 - 0s - loss: 0.0941 - accuracy: 0.0040 - val_loss: 0.3866 - val_accuracy: 0.0000e+00
Epoch 3/60
13/13 - 0s - loss: 0.0868 - accuracy: 0.0040 - val_loss: 0.3539 - val_accuracy: 0.0000e+00
Epoch 4/60
13/13 - 0s - loss: 0.0777 - accuracy: 0.0040 - val_loss: 0.3448 - val_accuracy: 0.0000e+00
Epoch 5/60
13/13 - 0s - loss: 0.0778 - accuracy: 0.0040 - val_loss: 0.3467 - val_accuracy: 0.0000e+00
Epoch 6/60
13/13 - 0s - loss: 0.0674 - accuracy: 0.0040 - val_loss: 0.3434 - val_accuracy: 0.0000e+00
Epoch 7/60
13/13 - 0s - loss: 0.0665 - accuracy: 0.0040 - val_loss: 0.3490 - val_accuracy: 0.0000e+00
Epoch 8/60
13/13 - 0s - loss: 0.0650 - accuracy: 0.0040 - val_loss: 0.3389 - val_accuracy: 0.0000e+00
Epoch 9/60
13/13 - 0s - loss: 0.0590 - accuracy: 0.0040 - val_loss: 0.3375 - val_accuracy: 0.0000e+00
Epoch 10/60
13/13 - 0s - loss: 0.0617 - accuracy: 0.0040 - val_loss: 0.3360 - val_accuracy: 0.0000e+00
Epoch 11/60
13/13 - 0s - loss: 0.0514 - accuracy: 0.0040 - val_loss: 0.3183 - val_accuracy: 0.0000e+00
Epoch 12/60
13/13 - 0s - loss: 0.0499 - accuracy: 0.0040 - val_loss: 0.3113 - val_accuracy: 0.0000e+00
Epoch 13/60
13/13 - 0s - loss: 0.0519 - accuracy: 0.0040 - val_loss: 0.3189 - val_accuracy: 0.0000e+00
Epoch 14/60
13/13 - 0s - loss: 0.0492 - accuracy: 0.0040 - val_loss: 0.3200 - val_accuracy: 0.0000e+00
Epoch 15/60
13/13 - 0s - loss: 0.0453 - accuracy: 0.0040 - val_loss: 0.2991 - val_accuracy: 0.0000e+00
Epoch 16/60
13/13 - 0s - loss: 0.0425 - accuracy: 0.0040 - val_loss: 0.3005 - val_accuracy: 0.0000e+00
Epoch 17/60
13/13 - 0s - loss: 0.0413 - accuracy: 0.0040 - val_loss: 0.3113 - val_accuracy: 0.0000e+00
Epoch 18/60
13/13 - 0s - loss: 0.0406 - accuracy: 0.0040 - val_loss: 0.2983 - val_accuracy: 0.0000e+00
Epoch 19/60
13/13 - 0s - loss: 0.0359 - accuracy: 0.0040 - val_loss: 0.2850 - val_accuracy: 0.0000e+00
Epoch 20/60
13/13 - 0s - loss: 0.0357 - accuracy: 0.0040 - val_loss: 0.2918 - val_accuracy: 0.0000e+00
Epoch 21/60
13/13 - 0s - loss: 0.0381 - accuracy: 0.0040 - val_loss: 0.2904 - val_accuracy: 0.0000e+00
Epoch 22/60
13/13 - 0s - loss: 0.0354 - accuracy: 0.0040 - val_loss: 0.2868 - val_accuracy: 0.0000e+00
Epoch 23/60
13/13 - 0s - loss: 0.0352 - accuracy: 0.0040 - val_loss: 0.2887 - val_accuracy: 0.0000e+00
Epoch 24/60
13/13 - 0s - loss: 0.0346 - accuracy: 0.0040 - val_loss: 0.2881 - val_accuracy: 0.0000e+00
Epoch 25/60
13/13 - 0s - loss: 0.0332 - accuracy: 0.0040 - val_loss: 0.2772 - val_accuracy: 0.0000e+00
Epoch 26/60
13/13 - 0s - loss: 0.0335 - accuracy: 0.0040 - val_loss: 0.2748 - val_accuracy: 0.0000e+00
Epoch 27/60
13/13 - 0s - loss: 0.0313 - accuracy: 0.0040 - val_loss: 0.2756 - val_accuracy: 0.0000e+00
Epoch 28/60
13/13 - 0s - loss: 0.0320 - accuracy: 0.0040 - val_loss: 0.2698 - val_accuracy: 0.0000e+00
Epoch 29/60
13/13 - 0s - loss: 0.0300 - accuracy: 0.0040 - val_loss: 0.2656 - val_accuracy: 0.0000e+00
Epoch 30/60
13/13 - 0s - loss: 0.0290 - accuracy: 0.0040 - val_loss: 0.2584 - val_accuracy: 0.0022
Epoch 31/60
13/13 - 0s - loss: 0.0312 - accuracy: 0.0040 - val_loss: 0.2571 - val_accuracy: 0.0022
Epoch 32/60
13/13 - 0s - loss: 0.0300 - accuracy: 0.0040 - val_loss: 0.2431 - val_accuracy: 0.0022
Epoch 33/60
13/13 - 0s - loss: 0.0293 - accuracy: 0.0040 - val_loss: 0.2515 - val_accuracy: 0.0022
Epoch 34/60
13/13 - 0s - loss: 0.0261 - accuracy: 0.0040 - val_loss: 0.2572 - val_accuracy: 0.0000e+00
Epoch 35/60
13/13 - 0s - loss: 0.0253 - accuracy: 0.0040 - val_loss: 0.2588 - val_accuracy: 0.0000e+00
Epoch 36/60
13/13 - 0s - loss: 0.0236 - accuracy: 0.0040 - val_loss: 0.2479 - val_accuracy: 0.0022
Epoch 37/60
13/13 - 0s - loss: 0.0252 - accuracy: 0.0040 - val_loss: 0.2522 - val_accuracy: 0.0022
Epoch 38/60
13/13 - 0s - loss: 0.0254 - accuracy: 0.0040 - val_loss: 0.2507 - val_accuracy: 0.0022
Epoch 39/60
13/13 - 0s - loss: 0.0263 - accuracy: 0.0040 - val_loss: 0.2513 - val_accuracy: 0.0022
Epoch 40/60
13/13 - 0s - loss: 0.0264 - accuracy: 0.0040 - val_loss: 0.2494 - val_accuracy: 0.0022
Epoch 41/60
13/13 - 0s - loss: 0.0224 - accuracy: 0.0040 - val_loss: 0.2490 - val_accuracy: 0.0022
Epoch 42/60
13/13 - 0s - loss: 0.0205 - accuracy: 0.0040 - val_loss: 0.2487 - val_accuracy: 0.0022
Epoch 43/60
13/13 - 0s - loss: 0.0223 - accuracy: 0.0040 - val_loss: 0.2369 - val_accuracy: 0.0022
Epoch 44/60
13/13 - 0s - loss: 0.0232 - accuracy: 0.0040 - val_loss: 0.2433 - val_accuracy: 0.0022
Epoch 45/60
13/13 - 0s - loss: 0.0227 - accuracy: 0.0040 - val_loss: 0.2384 - val_accuracy: 0.0022
Epoch 46/60
13/13 - 0s - loss: 0.0232 - accuracy: 0.0040 - val_loss: 0.2389 - val_accuracy: 0.0022
Epoch 47/60
13/13 - 0s - loss: 0.0218 - accuracy: 0.0040 - val_loss: 0.2371 - val_accuracy: 0.0022
Epoch 48/60
13/13 - 0s - loss: 0.0222 - accuracy: 0.0040 - val_loss: 0.2285 - val_accuracy: 0.0022
Epoch 49/60
13/13 - 0s - loss: 0.0206 - accuracy: 0.0040 - val_loss: 0.2277 - val_accuracy: 0.0022
Epoch 50/60
13/13 - 0s - loss: 0.0222 - accuracy: 0.0040 - val_loss: 0.2265 - val_accuracy: 0.0022
Epoch 51/60
13/13 - 0s - loss: 0.0210 - accuracy: 0.0040 - val_loss: 0.2266 - val_accuracy: 0.0022
Epoch 52/60
13/13 - 0s - loss: 0.0211 - accuracy: 0.0040 - val_loss: 0.2255 - val_accuracy: 0.0022
Epoch 53/60
13/13 - 0s - loss: 0.0195 - accuracy: 0.0040 - val_loss: 0.2314 - val_accuracy: 0.0022
Epoch 54/60
13/13 - 0s - loss: 0.0189 - accuracy: 0.0040 - val_loss: 0.2287 - val_accuracy: 0.0022
Epoch 55/60
13/13 - 0s - loss: 0.0195 - accuracy: 0.0040 - val_loss: 0.2279 - val_accuracy: 0.0022
Epoch 56/60
13/13 - 0s - loss: 0.0187 - accuracy: 0.0040 - val_loss: 0.2195 - val_accuracy: 0.0022
Epoch 57/60
13/13 - 0s - loss: 0.0189 - accuracy: 0.0040 - val_loss: 0.2176 - val_accuracy: 0.0022
Epoch 58/60
13/13 - 0s - loss: 0.0196 - accuracy: 0.0040 - val_loss: 0.2156 - val_accuracy: 0.0022
Epoch 59/60
13/13 - 0s - loss: 0.0200 - accuracy: 0.0040 - val_loss: 0.2135 - val_accuracy: 0.0022
Epoch 60/60
13/13 - 0s - loss: 0.0202 - accuracy: 0.0040 - val_loss: 0.2154 - val_accuracy: 0.0022

In [118]:
number_units = 50
dropout_fraction = 0.2
# design network
model = Sequential()
model.add(LSTM(units=number_units, input_shape=(train_X.shape[1], train_X.shape[2])))
model.add(Dropout(dropout_fraction))
# Layer 2
model.add(LSTM(units=number_units))
model.add(Dropout(dropout_fraction))
# Layer 3
model.add(LSTM(units=number_units))
model.add(Dropout(dropout_fraction))
# Output layer
model.add(Dense(1))
model.compile(loss='mae', optimizer='adam', metrics=['accuracy'])
# fit network
history = model.fit(train_X, train_y, epochs=1000, batch_size=1, validation_data=(test_X, test_y), verbose=2, shuffle=False)

ValueError: Input 0 of layer lstm_2 is incompatible with the layer: expected ndim=3, found ndim=2. Full shape received: (None, 50)

In [119]:
# plot history
fig = pyplot.figure()
pyplot.plot(history.history['loss'], label='train')
pyplot.plot(history.history['val_loss'], label='test')
pyplot.legend()
pyplot.show()

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous â€¦

In [120]:
# make a prediction
yhat = model.predict(test_X)
test_X = test_X.reshape((test_X.shape[0], test_X.shape[2]))
#self.synaptic_weights = self.synaptic_weights + adjustment
# invert scaling for forecast
inv_yhat = concatenate((yhat, test_X[:, :]), axis=1)
inv_yhat = scaler.inverse_transform(inv_yhat.reshape(764,16))
inv_yhat = inv_yhat[:,0]
# invert scaling for actual
test_y = test_y.reshape((len(test_y), 1))
inv_y = concatenate((test_y, test_X[:, :]), axis=1)
inv_y = scaler.inverse_transform(inv_y.reshape(764,16))
inv_y = inv_y[:,0]
# calculate RMSE
rmse = sqrt(mean_squared_error(inv_y, inv_yhat))
print('Test RMSE: %.3f' % rmse)

ValueError: cannot reshape array of size 38429 into shape (764,16)

In [ ]:
help(LSTM)

In [ ]:
help(inv_yhat.reshape)

In [121]:
screened_list = []
stock_list = ['AAPL','TSLA','MSFT','AMZN']

for stock_code in stock_list:
    df = yf.download(stock_code, start='2020-01-01', threads= False)
    if enter_long | enter_short:
        screened_list.append(stock_code)
    
if screened_list:
  print(screened_list)
else:
  print('No stock fits the indicator entry requirement')

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
['AAPL', 'TSLA', 'MSFT', 'AMZN']

In [122]:
help(mpf.plot)

Help on function plot in module mplfinance.plotting:

plot(data, **kwargs)
    Given a Pandas DataFrame containing columns Open,High,Low,Close and optionally Volume
    with a DatetimeIndex, plot the data.
    Available plots include ohlc bars, candlestick, and line plots.
    Also provide visually analysis in the form of common technical studies, such as:
    moving averages, renko, etc.
    Also provide ability to plot trading signals, and/or addtional user-defined data.

In [123]:
tickers = ['NFLX', 'AAPL', 'FB', 'GOOG', 'AMZN', 'PYPL', 'TSLA', 'SQ']

ticker_dict_1mo = {}
ticker_dict_1wk = {}
ticker_dict_1d = {}
for stock in tickers:
    ticker_dict_1mo[stock] = yf.Ticker(stock).history(period="10y", interval='1mo')
    ticker_dict_1mo[stock]["ticker"] = stock
    ticker_dict_1wk[stock] = yf.Ticker(stock).history(period="10y", interval='1wk')
    ticker_dict_1wk[stock]['ticker'] = stock
    ticker_dict_1d[stock] = yf.Ticker(stock).history(period="10y", interval='1d')
    ticker_dict_1d[stock]['ticker'] = stock
    
ticker_dict_1mo['AAPL']

daily_data = pd.concat(ticker_dict_1d.values())
daily_data

,Open,High,Low,Close,Volume,Dividends,Stock Splits,ticker
Date,,,,,,,,
2011-08-08,32.849998,33.665714,31.642857,32.377144,37291800,0.0,0.0,NFLX
2011-08-09,32.451427,34.299999,32.018570,33.971428,36947400,0.0,0.0,NFLX
2011-08-10,33.357143,34.284286,33.020000,33.202858,22071700,0.0,0.0,NFLX
2011-08-11,33.587143,35.099998,33.372856,34.732857,21564900,0.0,0.0,NFLX
2011-08-12,35.291428,35.407143,34.581429,34.857143,18046000,0.0,0.0,NFLX
2011-08-15,35.095715,35.254288,33.744286,35.182858,23191000,0.0,0.0,NFLX
2011-08-16,34.904285,35.048573,33.700001,34.148571,18447100,0.0,0.0,NFLX
2011-08-17,34.372856,34.439999,32.648571,33.177143,25797100,0.0,0.0,NFLX
2011-08-18,31.914286,32.285713,30.711430,31.068571,34983900,0.0,0.0,NFLX
2011-08-19,30.624287,31.571428,29.285713,29.315714,32870600,0.0,0.0,NFLX
2011-08-22,30.338572,30.338572,29.049999,29.315714,33551000,0.0,0.0,NFLX
2011-08-23,29.571428,31.392857,29.155714,31.362858,29471400,0.0,0.0,NFLX
2011-08-24,31.291430,31.428572,29.928572,30.861429,30849700,0.0,0.0,NFLX
2011-08-25,31.112858,31.958570,30.631430,30.832857,26050500,0.0,0.0,NFLX
2011-08-26,30.625713,31.785713,30.357143,31.698570,25616500,0.0,0.0,NFLX
2011-08-29,32.424286,32.425713,31.750000,32.148571,19516000,0.0,0.0,NFLX
2011-08-30,32.071430,34.115715,31.928572,33.754288,31488800,0.0,0.0,NFLX
2011-08-31,34.132858,34.554287,32.984287,33.572857,27595400,0.0,0.0,NFLX
2011-09-01,33.504288,34.071430,33.218571,33.324287,21085400,0.0,0.0,NFLX
2011-09-02,29.815714,30.698570,29.660000,30.444286,55624100,0.0,0.0,NFLX
2011-09-06,29.871429,31.278570,29.818571,31.252857,28156800,0.0,0.0,NFLX
2011-09-07,31.641430,31.711430,30.367144,30.857143,29697500,0.0,0.0,NFLX
2011-09-08,30.580000,31.250000,29.972857,30.171429,27562500,0.0,0.0,NFLX
2011-09-09,30.031429,30.299999,29.027143,29.138571,31879400,0.0,0.0,NFLX
2011-09-12,28.758572,30.090000,28.374287,30.007143,31899000,0.0,0.0,NFLX
2011-09-13,29.994286,29.997143,29.150000,29.821428,21983500,0.0,0.0,NFLX
2011-09-14,29.867144,30.178572,29.345715,29.815714,18268600,0.0,0.0,NFLX
2011-09-15,25.247143,26.485714,24.018572,24.178572,148744400,0.0,0.0,NFLX
2011-09-16,23.971430,24.000000,22.020000,22.170000,124931800,0.0,0.0,NFLX
2011-09-19,22.384287,23.284286,20.370001,20.535713,139805400,0.0,0.0,NFLX
...,...,...,...,...,...,...,...,...
2021-06-25,243.190002,244.869995,237.149994,239.940002,7614800,0.0,0.0,SQ
2021-06-28,241.699997,247.729996,241.699997,246.600006,7372300,0.0,0.0,SQ
2021-06-29,247.839996,251.910004,246.141006,248.869995,6186800,0.0,0.0,SQ
2021-06-30,248.080002,248.789993,243.339996,243.800003,6655500,0.0,0.0,SQ
2021-07-01,242.820007,245.050003,237.800003,241.850006,5616900,0.0,0.0,SQ
2021-07-02,243.000000,245.410004,239.360001,241.080002,4401500,0.0,0.0,SQ
2021-07-06,241.309998,249.369995,241.309998,246.699997,6252200,0.0,0.0,SQ
2021-07-07,250.000000,254.779999,244.309998,244.639999,7238300,0.0,0.0,SQ
2021-07-08,238.750000,239.000000,230.600006,235.899994,7683000,0.0,0.0,SQ
2021-07-09,239.000000,241.960007,235.559998,241.889999,5397900,0.0,0.0,SQ
2021-07-12,243.580002,247.220001,241.781006,243.350006,5722700,0.0,0.0,SQ
2021-07-13,243.350006,247.490005,239.839996,241.429993,6304500,0.0,0.0,SQ
2021-07-14,244.350006,246.190002,238.479996,239.000000,6188300,0.0,0.0,SQ
2021-07-15,239.830002,241.621002,233.110001,235.160004,7143500,0.0,0.0,SQ
2021-07-16,238.699997,241.770004,234.399994,237.520004,7869200,0.0,0.0,SQ
2021-07-19,231.910004,234.020004,225.279999,233.690002,7310000,0.0,0.0,SQ
2021-07-20,234.610001,247.690002,232.199997,246.470001,8851600,0.0,0.0,SQ
2021-07-21,246.279999,258.500000,244.800003,257.250000,9068900,0.0,0.0,SQ
2021-07-22,256.929993,262.569000,256.500000,260.589996,6660100,0.0,0.0,SQ
2021-07-23,261.850006,267.769989,261.279999,264.000000,6374100,0.0,0.0,SQ
2021-07-26,264.970001,265.739990,260.399994,261.989990,5928300,0.0,0.0,SQ
2021-07-27,261.279999,261.859985,245.057007,251.729996,7828100,0.0,0.0,SQ
2021-07-28,254.029999,259.869995,250.770004,258.609985,4698900,0.0,0.0,SQ
2021-07-29,255.509995,261.829987,254.529999,255.279999,4713800,0.0,0.0,SQ
2021-07-30,249.279999,254.360001,244.350006,247.259995,7548100,0.0,0.0,SQ
2021-08-02,247.929993,280.875000,247.009995,272.380005,45730600,0.0,0.0,SQ
2021-08-03,270.429993,274.950012,261.750000,269.489990,21408000,0.0,0.0,SQ
2021-08-04,268.000000,268.390015,261.000000,266.420013,10241400,0.0,0.0,SQ
2021-08-05,265.600006,289.230011,264.769989,281.809998,19401600,0.0,0.0,SQ
2021-08-06,279.510010,285.799988,273.160004,276.750000,7447847,0.0,0.0,SQ

In [124]:
# calculate Bollinger Bands
m_avg_mo = {}
m_avg_wk = {}
m_avg_d = {}
m_std_mo = {}
m_std_wk = {}
m_std_d = {}

for stock in tickers:
    # moving average
    m_avg_mo[stock] = ticker_dict_1mo[stock]['Close'].rolling(window=length).mean()
    m_avg_wk[stock] = ticker_dict_1wk[stock]['Close'].rolling(window=length).mean()
    m_avg_d[stock] = ticker_dict_1d[stock]['Close'].rolling(window=length).mean()
    # standard deviation
    m_std_mo[stock] = ticker_dict_1mo[stock]['Close'].rolling(window=length).std(ddof=0)
    m_std_wk[stock] = ticker_dict_1wk[stock]['Close'].rolling(window=length).std(ddof=0)
    m_std_d[stock] = ticker_dict_1d[stock]['Close'].rolling(window=length).std(ddof=0)
    # upper Bollinger Bands
    ticker_dict_1mo[stock]['upper_BB'] = m_avg_mo[stock] + mult * m_std_mo[stock]
    ticker_dict_1wk[stock]['upper_BB'] = m_avg_wk[stock] + mult * m_std_wk[stock]
    ticker_dict_1d[stock]['upper_BB'] = m_avg_d[stock] + mult * m_std_d[stock]
# lower Bollinger Bands 
    ticker_dict_1mo[stock]['lower_BB'] = m_avg_mo[stock] - mult * m_std_mo[stock]
    ticker_dict_1wk[stock]['lower_BB'] = m_avg_wk[stock] - mult * m_std_wk[stock]
    ticker_dict_1d[stock]['lower_BB'] = m_avg_d[stock] - mult * m_std_d[stock]
    
ticker_dict_1d[stock]

,Open,High,Low,Close,Volume,Dividends,Stock Splits,ticker,upper_BB,lower_BB
Date,,,,,,,,,,
2015-11-19,11.200000,14.780000,9.000000,13.070000,47466100,0,0,SQ,NaN,NaN
2015-11-20,13.920000,14.050000,12.500000,12.850000,16550300,0,0,SQ,NaN,NaN
2015-11-23,13.000000,13.150000,12.100000,12.120000,5172200,0,0,SQ,NaN,NaN
2015-11-24,12.000000,12.230000,11.520000,12.020000,4714700,0,0,SQ,NaN,NaN
2015-11-25,12.120000,12.400000,11.850000,11.900000,3583400,0,0,SQ,NaN,NaN
2015-11-27,12.050000,12.310000,11.900000,12.050000,942300,0,0,SQ,NaN,NaN
2015-11-30,12.280000,12.350000,11.900000,12.040000,1997100,0,0,SQ,NaN,NaN
2015-12-01,12.120000,12.180000,11.890000,11.910000,1256100,0,0,SQ,NaN,NaN
2015-12-02,11.970000,12.155000,11.900000,11.930000,1708100,0,0,SQ,NaN,NaN
2015-12-03,12.040000,12.250000,11.910000,11.920000,1431400,0,0,SQ,NaN,NaN
2015-12-04,11.950000,12.040000,11.800000,12.040000,1331600,0,0,SQ,NaN,NaN
2015-12-07,12.140000,12.600000,12.100000,12.360000,2660400,0,0,SQ,NaN,NaN
2015-12-08,12.360000,12.440000,12.030000,12.120000,1047700,0,0,SQ,NaN,NaN
2015-12-09,12.000000,12.240000,11.900000,11.990000,1075700,0,0,SQ,NaN,NaN
2015-12-10,12.000000,12.130000,11.910000,12.050000,711300,0,0,SQ,NaN,NaN
2015-12-11,12.000000,12.020000,11.900000,11.950000,882500,0,0,SQ,NaN,NaN
2015-12-14,12.200000,12.400000,11.870000,12.330000,2163700,0,0,SQ,NaN,NaN
2015-12-15,12.500000,12.700000,12.305000,12.470000,1258000,0,0,SQ,NaN,NaN
2015-12-16,12.550000,12.800000,12.130000,12.270000,1592900,0,0,SQ,NaN,NaN
2015-12-17,12.300000,12.500000,12.260000,12.320000,618900,0,0,SQ,12.799226,11.571774
2015-12-18,12.400000,12.580000,12.100000,12.340000,1608900,0,0,SQ,12.617654,11.680346
2015-12-21,12.370000,12.480000,12.020000,12.240000,703900,0,0,SQ,12.463885,11.773115
2015-12-22,12.320000,12.460000,12.120000,12.460000,502400,0,0,SQ,12.511610,11.759390
2015-12-23,12.410000,12.660000,12.310000,12.500000,512300,0,0,SQ,12.563306,11.755694
2015-12-24,12.590000,12.600000,12.450000,12.600000,318500,0,0,SQ,12.622868,11.766132
2015-12-28,12.600000,12.840000,12.490000,12.830000,1622700,0,0,SQ,12.737495,11.729505
2015-12-29,12.830000,12.830000,12.500000,12.740000,852200,0,0,SQ,12.809731,11.727269
2015-12-30,12.660000,12.830000,12.530000,12.780000,939300,0,0,SQ,12.870555,11.753445
2015-12-31,12.700000,13.500000,12.650000,13.090000,2462300,0,0,SQ,12.994820,11.745180
2016-01-04,12.750000,12.900000,12.050000,12.160000,2751500,0,0,SQ,12.980451,11.783549
...,...,...,...,...,...,...,...,...,...,...
2021-06-25,243.190002,244.869995,237.149994,239.940002,7614800,0,0,SQ,246.452642,205.287357
2021-06-28,241.699997,247.729996,241.699997,246.600006,7372300,0,0,SQ,249.469286,204.678714
2021-06-29,247.839996,251.910004,246.141006,248.869995,6186800,0,0,SQ,252.587415,204.252584
2021-06-30,248.080002,248.789993,243.339996,243.800003,6655500,0,0,SQ,254.349749,204.829250
2021-07-01,242.820007,245.050003,237.800003,241.850006,5616900,0,0,SQ,254.941712,207.279289
2021-07-02,243.000000,245.410004,239.360001,241.080002,4401500,0,0,SQ,255.274911,209.685089
2021-07-06,241.309998,249.369995,241.309998,246.699997,6252200,0,0,SQ,256.394333,211.540668
2021-07-07,250.000000,254.779999,244.309998,244.639999,7238300,0,0,SQ,256.413440,214.573561
2021-07-08,238.750000,239.000000,230.600006,235.899994,7683000,0,0,SQ,254.191389,219.364610
2021-07-09,239.000000,241.960007,235.559998,241.889999,5397900,0,0,SQ,253.022059,223.008941
2021-07-12,243.580002,247.220001,241.781006,243.350006,5722700,0,0,SQ,251.680691,226.751310
2021-07-13,243.350006,247.490005,239.839996,241.429993,6304500,0,0,SQ,251.638958,227.841043
2021-07-14,244.350006,246.190002,238.479996,239.000000,6188300,0,0,SQ,250.870237,229.734763
2021-07-15,239.830002,241.621002,233.110001,235.160004,7143500,0,0,SQ,249.159262,232.450739
2021-07-16,238.699997,241.770004,234.399994,237.520004,7869200,0,0,SQ,249.094080,232.654921
2021-07-19,231.910004,234.020004,225.279999,233.690002,7310000,0,0,SQ,249.357895,232.055105
2021-07-20,234.610001,247.690002,232.199997,246.470001,8851600,0,0,SQ,249.738757,232.932244
2021-07-21,246.279999,258.500000,244.800003,257.250000,9068900,0,0,SQ,252.934342,231.864659
2021-07-22,256.929993,262.569000,256.500000,260.589996,6660100,0,0,SQ,256.518313,230.469687
2021-07-23,261.850006,267.769989,261.279999,264.000000,6374100,0,0,SQ,260.288578,228.684423
2021-07-26,264.970001,265.739990,260.399994,261.989990,5928300,0,0,SQ,262.966685,228.211315
2021-07-27,261.279999,261.859985,245.057007,251.729996,7828100,0,0,SQ,263.425565,228.265434
2021-07-28,254.029999,259.869995,250.770004,258.609985,4698900,0,0,SQ,264.740837,227.924161
2021-07-29,255.509995,261.829987,254.529999,255.279999,4713800,0,0,SQ,265.675565,228.137432
2021-07-30,249.279999,254.360001,244.350006,247.259995,7548100,0,0,SQ,265.802157,228.551839
2021-08-02,247.929993,280.875000,247.009995,272.380005,45730600,0,0,SQ,270.112616,227.371381
2021-08-03,270.429993,274.950012,261.750000,269.489990,21408000,0,0,SQ,273.049824,226.713172
2021-08-04,268.000000,268.390015,261.000000,266.420013,10241400,0,0,SQ,275.079366,226.861631
2021-08-05,265.600006,289.230011,264.769989,281.809998,19401600,0,0,SQ,279.816914,226.715083
2021-08-06,279.510010,285.799988,273.160004,276.750000,7447847,0,0,SQ,282.887591,227.130407

In [125]:
# calculate Keltner Channel
range_ma_mo = {}
range_ma_wk = {}
range_ma_d = {}

for stock in tickers:
    # first we need to calculate True Range (monthly)
    ticker_dict_1mo[stock]['tr0'] = abs(ticker_dict_1mo[stock]["High"] - ticker_dict_1mo[stock]["Low"])
    ticker_dict_1mo[stock]['tr1'] = abs(ticker_dict_1mo[stock]["High"] - ticker_dict_1mo[stock]["Close"].shift())
    ticker_dict_1mo[stock]['tr2'] = abs(ticker_dict_1mo[stock]["Low"] - ticker_dict_1mo[stock]["Close"].shift())
    ticker_dict_1mo[stock]['tr'] = ticker_dict_1mo[stock][['tr0', 'tr1', 'tr2']].max(axis=1)
    
    # first we need to calculate True Range (weekly)
    ticker_dict_1wk[stock]['tr0'] = abs(ticker_dict_1wk[stock]["High"] - ticker_dict_1wk[stock]["Low"])
    ticker_dict_1wk[stock]['tr1'] = abs(ticker_dict_1wk[stock]["High"] - ticker_dict_1wk[stock]["Close"].shift())
    ticker_dict_1wk[stock]['tr2'] = abs(ticker_dict_1wk[stock]["Low"] - ticker_dict_1wk[stock]["Close"].shift())
    ticker_dict_1wk[stock]['tr'] = ticker_dict_1wk[stock][['tr0', 'tr1', 'tr2']].max(axis=1)
    
    # first we need to calculate True Range (daily)
    ticker_dict_1d[stock]['tr0'] = abs(ticker_dict_1d[stock]["High"] - ticker_dict_1d[stock]["Low"])
    ticker_dict_1d[stock]['tr1'] = abs(ticker_dict_1d[stock]["High"] - ticker_dict_1d[stock]["Close"].shift())
    ticker_dict_1d[stock]['tr2'] = abs(ticker_dict_1d[stock]["Low"] - ticker_dict_1d[stock]["Close"].shift())
    ticker_dict_1d[stock]['tr'] = ticker_dict_1d[stock][['tr0', 'tr1', 'tr2']].max(axis=1)

    # moving average of the TR
    range_ma_mo[stock] = ticker_dict_1mo[stock]['tr'].rolling(window=length_KC).mean()
    range_ma_wk[stock] = ticker_dict_1wk[stock]['tr'].rolling(window=length_KC).mean()
    range_ma_d[stock] = ticker_dict_1d[stock]['tr'].rolling(window=length_KC).mean()
    
    # upper Keltner Channel
    ticker_dict_1mo[stock]['upper_KC'] = m_avg_mo[stock] + range_ma_mo[stock] * mult_KC
    ticker_dict_1wk[stock]['upper_KC'] = m_avg_wk[stock] + range_ma_wk[stock] * mult_KC
    ticker_dict_1d[stock]['upper_KC'] = m_avg_d[stock] + range_ma_d[stock] * mult_KC
    
    # lower Keltner Channel
    ticker_dict_1mo[stock]['lower_KC'] = m_avg_mo[stock] - range_ma_mo[stock] * mult_KC
    ticker_dict_1wk[stock]['lower_KC'] = m_avg_wk[stock] - range_ma_wk[stock] * mult_KC
    ticker_dict_1d[stock]['lower_KC'] = m_avg_d[stock] - range_ma_d[stock] * mult_KC

ticker_dict_1d[stock]

,Open,High,Low,Close,Volume,Dividends,Stock Splits,ticker,upper_BB,lower_BB,tr0,tr1,tr2,tr,upper_KC,lower_KC
Date,,,,,,,,,,,,,,,,
2015-11-19,11.200000,14.780000,9.000000,13.070000,47466100,0,0,SQ,NaN,NaN,5.780000,NaN,NaN,5.780000,NaN,NaN
2015-11-20,13.920000,14.050000,12.500000,12.850000,16550300,0,0,SQ,NaN,NaN,1.550000,0.980000,0.570000,1.550000,NaN,NaN
2015-11-23,13.000000,13.150000,12.100000,12.120000,5172200,0,0,SQ,NaN,NaN,1.049999,0.299999,0.750000,1.049999,NaN,NaN
2015-11-24,12.000000,12.230000,11.520000,12.020000,4714700,0,0,SQ,NaN,NaN,0.709999,0.110000,0.599999,0.709999,NaN,NaN
2015-11-25,12.120000,12.400000,11.850000,11.900000,3583400,0,0,SQ,NaN,NaN,0.549999,0.379999,0.170000,0.549999,NaN,NaN
2015-11-27,12.050000,12.310000,11.900000,12.050000,942300,0,0,SQ,NaN,NaN,0.410001,0.410001,0.000000,0.410001,NaN,NaN
2015-11-30,12.280000,12.350000,11.900000,12.040000,1997100,0,0,SQ,NaN,NaN,0.450001,0.300000,0.150001,0.450001,NaN,NaN
2015-12-01,12.120000,12.180000,11.890000,11.910000,1256100,0,0,SQ,NaN,NaN,0.290000,0.140000,0.150000,0.290000,NaN,NaN
2015-12-02,11.970000,12.155000,11.900000,11.930000,1708100,0,0,SQ,NaN,NaN,0.255000,0.245000,0.010000,0.255000,NaN,NaN
2015-12-03,12.040000,12.250000,11.910000,11.920000,1431400,0,0,SQ,NaN,NaN,0.340000,0.320000,0.020000,0.340000,NaN,NaN
2015-12-04,11.950000,12.040000,11.800000,12.040000,1331600,0,0,SQ,NaN,NaN,0.240000,0.120000,0.120000,0.240000,NaN,NaN
2015-12-07,12.140000,12.600000,12.100000,12.360000,2660400,0,0,SQ,NaN,NaN,0.500000,0.560000,0.060000,0.560000,NaN,NaN
2015-12-08,12.360000,12.440000,12.030000,12.120000,1047700,0,0,SQ,NaN,NaN,0.410000,0.080000,0.330000,0.410000,NaN,NaN
2015-12-09,12.000000,12.240000,11.900000,11.990000,1075700,0,0,SQ,NaN,NaN,0.340000,0.120000,0.220000,0.340000,NaN,NaN
2015-12-10,12.000000,12.130000,11.910000,12.050000,711300,0,0,SQ,NaN,NaN,0.220000,0.140000,0.080000,0.220000,NaN,NaN
2015-12-11,12.000000,12.020000,11.900000,11.950000,882500,0,0,SQ,NaN,NaN,0.120001,0.030000,0.150001,0.150001,NaN,NaN
2015-12-14,12.200000,12.400000,11.870000,12.330000,2163700,0,0,SQ,NaN,NaN,0.530000,0.450000,0.080000,0.530000,NaN,NaN
2015-12-15,12.500000,12.700000,12.305000,12.470000,1258000,0,0,SQ,NaN,NaN,0.395000,0.370000,0.025000,0.395000,NaN,NaN
2015-12-16,12.550000,12.800000,12.130000,12.270000,1592900,0,0,SQ,NaN,NaN,0.670000,0.330000,0.340000,0.670000,NaN,NaN
2015-12-17,12.300000,12.500000,12.260000,12.320000,618900,0,0,SQ,12.799226,11.571774,0.240000,0.230000,0.010000,0.240000,NaN,NaN
2015-12-18,12.400000,12.580000,12.100000,12.340000,1608900,0,0,SQ,12.617654,11.680346,0.480000,0.260000,0.219999,0.480000,13.636619,10.661381
2015-12-21,12.370000,12.480000,12.020000,12.240000,703900,0,0,SQ,12.463885,11.773115,0.459999,0.139999,0.320000,0.459999,13.099452,11.137548
2015-12-22,12.320000,12.460000,12.120000,12.460000,502400,0,0,SQ,12.511610,11.759390,0.340000,0.220000,0.120000,0.340000,13.001214,11.269786
2015-12-23,12.410000,12.660000,12.310000,12.500000,512300,0,0,SQ,12.563306,11.755694,0.349999,0.200000,0.150000,0.349999,12.958547,11.360453
2015-12-24,12.590000,12.600000,12.450000,12.600000,318500,0,0,SQ,12.622868,11.766132,0.150001,0.100000,0.050000,0.150001,12.940214,11.448786
2015-12-28,12.600000,12.840000,12.490000,12.830000,1622700,0,0,SQ,12.737495,11.729505,0.350000,0.240000,0.110001,0.350000,12.960167,11.506833
2015-12-29,12.830000,12.830000,12.500000,12.740000,852200,0,0,SQ,12.809731,11.727269,0.330000,0.000000,0.330000,0.330000,12.987548,11.549452
2015-12-30,12.660000,12.830000,12.530000,12.780000,939300,0,0,SQ,12.870555,11.753445,0.300000,0.090000,0.210000,0.300000,13.016762,11.607238
2015-12-31,12.700000,13.500000,12.650000,13.090000,2462300,0,0,SQ,12.994820,11.745180,0.850000,0.720000,0.130000,0.850000,13.128095,11.611905
2016-01-04,12.750000,12.900000,12.050000,12.160000,2751500,0,0,SQ,12.980451,11.783549,0.849999,0.190001,1.040000,1.040000,13.214857,11.549143
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-06-25,243.190002,244.869995,237.149994,239.940002,7614800,0,0,SQ,246.452642,205.287357,7.720001,0.720001,7.000000,7.720001,241.682953,210.057046
2021-06-28,241.699997,247.729996,241.699997,246.600006,7372300,0,0,SQ,249.469286,204.678714,6.029999,7.789993,1.759995,7.789993,243.083143,211.064856
2021-06-29,247.839996,251.910004,246.141006,248.869995,6186800,0,0,SQ,252.587415,204.252584,5.768997,5.309998,0.459000,5.768997,244.502381,212.337618
2021-06-30,248.080002,248.789993,243.339996,243.800003,6655500,0,0,SQ,254.349749,204.829250,5.449997,0.080002,5.529999,5.529999,245.390166,213.788833
2021-07-01,242.820007,245.050003,237.800003,241.850006,5616900,0,0,SQ,254.941712,207.279289,7.250000,1.250000,6.000000,7.250000,247.088310,215.132691
2021-07-02,243.000000,245.410004,239.360001,241.080002,4401500,0,0,SQ,255.274911,209.685089,6.050003,3.559998,2.490005,6.050003,248.161619,216.798381
2021-07-06,241.309998,249.369995,241.309998,246.699997,6252200,0,0,SQ,256.394333,211.540668,8.059998,8.289993,0.229996,8.289993,249.786165,218.148836
2021-07-07,250.000000,254.779999,244.309998,244.639999,7238300,0,0,SQ,256.413440,214.573561,10.470001,8.080002,2.389999,10.470001,251.770260,219.216741
2021-07-08,238.750000,239.000000,230.600006,235.899994,7683000,0,0,SQ,254.191389,219.364610,8.399994,5.639999,14.039993,14.039993,253.515711,220.040288
2021-07-09,239.000000,241.960007,235.559998,241.889999,5397900,0,0,SQ,253.022059,223.008941,6.400009,6.060013,0.339996,6.400009,254.611688,221.419311
2021-07-12,243.580002,247.220001,241.781006,243.350006,5722700,0,0,SQ,251.680691,226.751310,5.438995,5.330002,0.108994,5.438995,255.584474,222.847527
2021-07-13,243.350006,247.490005,239.839996,241.429993,6304500,0,0,SQ,251.638958,227.841043,7.650009,4.139999,3.510010,7.650009,256.298951,223.181049
2021-07-14,244.350006,246.190002,238.479996,239.000000,6188300,0,0,SQ,250.870237,229.734763,7.710007,4.760010,2.949997,7.710007,256.442404,224.162596
2021-07-15,239.830002,241.621002,233.110001,235.160004,7143500,0,0,SQ,249.159262,232.450739,8.511002,2.621002,5.889999,8.511002,257.068809,224.541192
2021-07-16,238.699997,241.770004,234.399994,237.520004,7869200,0,0,SQ,249.094080,232.654921,7.370010,6.610001,0.760010,7.370010,256.982120,224.766881
2021-07-19,231.910004,234.020004,225.279999,233.690002,7310000,0,0,SQ,249.357895,232.055105,8.740005,3.500000,12.240005,12.240005,256.622692,224.790309
2021-07-20,234.610001,247.690002,232.199997,246.470001,8851600,0,0,SQ,249.738757,232.932244,15.490005,14.000000,1.490005,15.490005,258.064073,224.606928
2021-07-21,246.279999,258.500000,244.800003,257.250000,9068900,0,0,SQ,252.934342,231.864659,13.699997,12.029999,1.669998,13.699997,259.649025,225.149975
2021-07-22,256.929993,262.569000,256.500000,260.589996,6660100,0,0,SQ,256.518313,230.469687,6.069000,5.319000,0.750000,6.069000,260.705240,226.282760
2021-07-23,261.850006,267.769989,261.279999,264.000000,6374100,0,0,SQ,260.288578,228.684423,6.489990,7.179993,0.690002,7.179993,261.712025,227.260976
2021-07-26,264.970001,265.739990,260.399994,261.989990,5928300,0,0,SQ,262.966685,228.211315,5.339996,1.739990,3.600006,5.339996,262.351668,228.826332
2021-07-27,261.279999,261.859985,245.057007,251.729996,7828100,0,0,SQ,263.425565,228.265434,16.802979,0.130005,16.932983,16.932983,263.485594,228.205405
2021-07-28,254.029999,259.869995,250.770004,258.609985,4698900,0,0,SQ,264.740837,227.924161,9.099991,8.139999,0.959991,9.099991,264.097355,228.567643
2021-07-29,255.509995,261.829987,254.529999,255.279999,4713800,0,0,SQ,265.675565,228.137432,7.299988,3.220001,4.079987,7.299988,264.817164,228.995834
2021-07-30,249.279999,254.360001,244.350006,247.259995,7548100,0,0,SQ,265.802157,228.551839,10.009995,0.919998,10.929993,10.929993,265.601948,228.752048
2021-08-02,247.929993,280.875000,247.009995,272.380005,45730600,0,0,SQ,270.112616,227.371381,33.865005,33.615005,0.250000,33.865005,269.701711,227.782286
2021-08-03,270.429993,274.950012,261.750000,269.489990,21408000,0,0,SQ,273.049824,226.713172,13.200012,2.570007,10.630005,13.200012,271.522164,228.240832
2021-08-04,268.000000,268.390015,261.000000,266.420013,10241400,0,0,SQ,275.079366,226.861631,7.390015,1.099976,8.489990,8.489990,272.630212,229.310786
2021-08-05,265.600006,289.230011,264.769989,281.809998,19401600,0,0,SQ,279.816914,226.715083,24.460022,22.809998,1.650024,24.460022,276.258095,230.273903
2021-08-06,279.510010,285.799988,273.160004,276.750000,7447847,0,0,SQ,282.887591,227.130407,12.639984,3.989990,8.649994,12.639984,277.867761,232.150237

In [126]:
# check for 'squeeze'
for stock in tickers:
    #monthly
    ticker_dict_1mo[stock]['squeeze_on'] = (ticker_dict_1mo[stock]['lower_BB'] > ticker_dict_1mo[stock]['lower_KC']) | (ticker_dict_1mo[stock]['upper_BB'] < ticker_dict_1mo[stock]['upper_KC'])
    ticker_dict_1mo[stock]['squeeze_off'] = (ticker_dict_1mo[stock]['lower_BB'] < ticker_dict_1mo[stock]['lower_KC']) | (ticker_dict_1mo[stock]['upper_BB'] > ticker_dict_1mo[stock]['upper_KC'])
    
    #weekly
    ticker_dict_1wk[stock]['squeeze_on'] = (ticker_dict_1wk[stock]['lower_BB'] > ticker_dict_1wk[stock]['lower_KC']) | (ticker_dict_1wk[stock]['upper_BB'] < ticker_dict_1wk[stock]['upper_KC'])
    ticker_dict_1wk[stock]['squeeze_off'] = (ticker_dict_1wk[stock]['lower_BB'] < ticker_dict_1wk[stock]['lower_KC']) | (ticker_dict_1wk[stock]['upper_BB'] > ticker_dict_1wk[stock]['upper_KC'])
    
    #daily
    ticker_dict_1d[stock]['squeeze_on'] = (ticker_dict_1d[stock]['lower_BB'] > ticker_dict_1d[stock]['lower_KC']) | (ticker_dict_1d[stock]['upper_BB'] < ticker_dict_1d[stock]['upper_KC'])
    ticker_dict_1d[stock]['squeeze_off'] = (ticker_dict_1d[stock]['lower_BB'] < ticker_dict_1d[stock]['lower_KC']) | (ticker_dict_1d[stock]['upper_BB'] > ticker_dict_1d[stock]['upper_KC'])
    
ticker_dict_1d[stock]

,Open,High,Low,Close,Volume,Dividends,Stock Splits,ticker,upper_BB,lower_BB,tr0,tr1,tr2,tr,upper_KC,lower_KC,squeeze_on,squeeze_off
Date,,,,,,,,,,,,,,,,,,
2015-11-19,11.200000,14.780000,9.000000,13.070000,47466100,0,0,SQ,NaN,NaN,5.780000,NaN,NaN,5.780000,NaN,NaN,False,False
2015-11-20,13.920000,14.050000,12.500000,12.850000,16550300,0,0,SQ,NaN,NaN,1.550000,0.980000,0.570000,1.550000,NaN,NaN,False,False
2015-11-23,13.000000,13.150000,12.100000,12.120000,5172200,0,0,SQ,NaN,NaN,1.049999,0.299999,0.750000,1.049999,NaN,NaN,False,False
2015-11-24,12.000000,12.230000,11.520000,12.020000,4714700,0,0,SQ,NaN,NaN,0.709999,0.110000,0.599999,0.709999,NaN,NaN,False,False
2015-11-25,12.120000,12.400000,11.850000,11.900000,3583400,0,0,SQ,NaN,NaN,0.549999,0.379999,0.170000,0.549999,NaN,NaN,False,False
2015-11-27,12.050000,12.310000,11.900000,12.050000,942300,0,0,SQ,NaN,NaN,0.410001,0.410001,0.000000,0.410001,NaN,NaN,False,False
2015-11-30,12.280000,12.350000,11.900000,12.040000,1997100,0,0,SQ,NaN,NaN,0.450001,0.300000,0.150001,0.450001,NaN,NaN,False,False
2015-12-01,12.120000,12.180000,11.890000,11.910000,1256100,0,0,SQ,NaN,NaN,0.290000,0.140000,0.150000,0.290000,NaN,NaN,False,False
2015-12-02,11.970000,12.155000,11.900000,11.930000,1708100,0,0,SQ,NaN,NaN,0.255000,0.245000,0.010000,0.255000,NaN,NaN,False,False
2015-12-03,12.040000,12.250000,11.910000,11.920000,1431400,0,0,SQ,NaN,NaN,0.340000,0.320000,0.020000,0.340000,NaN,NaN,False,False
2015-12-04,11.950000,12.040000,11.800000,12.040000,1331600,0,0,SQ,NaN,NaN,0.240000,0.120000,0.120000,0.240000,NaN,NaN,False,False
2015-12-07,12.140000,12.600000,12.100000,12.360000,2660400,0,0,SQ,NaN,NaN,0.500000,0.560000,0.060000,0.560000,NaN,NaN,False,False
2015-12-08,12.360000,12.440000,12.030000,12.120000,1047700,0,0,SQ,NaN,NaN,0.410000,0.080000,0.330000,0.410000,NaN,NaN,False,False
2015-12-09,12.000000,12.240000,11.900000,11.990000,1075700,0,0,SQ,NaN,NaN,0.340000,0.120000,0.220000,0.340000,NaN,NaN,False,False
2015-12-10,12.000000,12.130000,11.910000,12.050000,711300,0,0,SQ,NaN,NaN,0.220000,0.140000,0.080000,0.220000,NaN,NaN,False,False
2015-12-11,12.000000,12.020000,11.900000,11.950000,882500,0,0,SQ,NaN,NaN,0.120001,0.030000,0.150001,0.150001,NaN,NaN,False,False
2015-12-14,12.200000,12.400000,11.870000,12.330000,2163700,0,0,SQ,NaN,NaN,0.530000,0.450000,0.080000,0.530000,NaN,NaN,False,False
2015-12-15,12.500000,12.700000,12.305000,12.470000,1258000,0,0,SQ,NaN,NaN,0.395000,0.370000,0.025000,0.395000,NaN,NaN,False,False
2015-12-16,12.550000,12.800000,12.130000,12.270000,1592900,0,0,SQ,NaN,NaN,0.670000,0.330000,0.340000,0.670000,NaN,NaN,False,False
2015-12-17,12.300000,12.500000,12.260000,12.320000,618900,0,0,SQ,12.799226,11.571774,0.240000,0.230000,0.010000,0.240000,NaN,NaN,False,False
2015-12-18,12.400000,12.580000,12.100000,12.340000,1608900,0,0,SQ,12.617654,11.680346,0.480000,0.260000,0.219999,0.480000,13.636619,10.661381,True,False
2015-12-21,12.370000,12.480000,12.020000,12.240000,703900,0,0,SQ,12.463885,11.773115,0.459999,0.139999,0.320000,0.459999,13.099452,11.137548,True,False
2015-12-22,12.320000,12.460000,12.120000,12.460000,502400,0,0,SQ,12.511610,11.759390,0.340000,0.220000,0.120000,0.340000,13.001214,11.269786,True,False
2015-12-23,12.410000,12.660000,12.310000,12.500000,512300,0,0,SQ,12.563306,11.755694,0.349999,0.200000,0.150000,0.349999,12.958547,11.360453,True,False
2015-12-24,12.590000,12.600000,12.450000,12.600000,318500,0,0,SQ,12.622868,11.766132,0.150001,0.100000,0.050000,0.150001,12.940214,11.448786,True,False
2015-12-28,12.600000,12.840000,12.490000,12.830000,1622700,0,0,SQ,12.737495,11.729505,0.350000,0.240000,0.110001,0.350000,12.960167,11.506833,True,False
2015-12-29,12.830000,12.830000,12.500000,12.740000,852200,0,0,SQ,12.809731,11.727269,0.330000,0.000000,0.330000,0.330000,12.987548,11.549452,True,False
2015-12-30,12.660000,12.830000,12.530000,12.780000,939300,0,0,SQ,12.870555,11.753445,0.300000,0.090000,0.210000,0.300000,13.016762,11.607238,True,False
2015-12-31,12.700000,13.500000,12.650000,13.090000,2462300,0,0,SQ,12.994820,11.745180,0.850000,0.720000,0.130000,0.850000,13.128095,11.611905,True,False
2016-01-04,12.750000,12.900000,12.050000,12.160000,2751500,0,0,SQ,12.980451,11.783549,0.849999,0.190001,1.040000,1.040000,13.214857,11.549143,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-06-25,243.190002,244.869995,237.149994,239.940002,7614800,0,0,SQ,246.452642,205.287357,7.720001,0.720001,7.000000,7.720001,241.682953,210.057046,False,True
2021-06-28,241.699997,247.729996,241.699997,246.600006,7372300,0,0,SQ,249.469286,204.678714,6.029999,7.789993,1.759995,7.789993,243.083143,211.064856,False,True
2021-06-29,247.839996,251.910004,246.141006,248.869995,6186800,0,0,SQ,252.587415,204.252584,5.768997,5.309998,0.459000,5.768997,244.502381,212.337618,False,True
2021-06-30,248.080002,248.789993,243.339996,243.800003,6655500,0,0,SQ,254.349749,204.829250,5.449997,0.080002,5.529999,5.529999,245.390166,213.788833,False,True
2021-07-01,242.820007,245.050003,237.800003,241.850006,5616900,0,0,SQ,254.941712,207.279289,7.250000,1.250000,6.000000,7.250000,247.088310,215.132691,False,True
2021-07-02,243.000000,245.410004,239.360001,241.080002,4401500,0,0,SQ,255.274911,209.685089,6.050003,3.559998,2.490005,6.050003,248.161619,216.798381,False,True
2021-07-06,241.309998,249.369995,241.309998,246.699997,6252200,0,0,SQ,256.394333,211.540668,8.059998,8.289993,0.229996,8.289993,249.786165,218.148836,False,True
2021-07-07,250.000000,254.779999,244.309998,244.639999,7238300,0,0,SQ,256.413440,214.573561,10.470001,8.080002,2.389999,10.470001,251.770260,219.216741,False,True
2021-07-08,238.750000,239.000000,230.600006,235.899994,7683000,0,0,SQ,254.191389,219.364610,8.399994,5.639999,14.039993,14.039993,253.515711,220.040288,False,True
2021-07-09,239.000000,241.960007,235.559998,241.889999,5397900,0,0,SQ,253.022059,223.008941,6.400009,6.060013,0.339996,6.400009,254.611688,221.419311,True,False
2021-07-12,243.580002,247.220001,241.781006,243.350006,5722700,0,0,SQ,251.680691,226.751310,5.438995,5.330002,0.108994,5.438995,255.584474,222.847527,True,False
2021-07-13,243.350006,247.490005,239.839996,241.429993,6304500,0,0,SQ,251.638958,227.841043,7.650009,4.139999,3.510010,7.650009,256.298951,223.181049,True,False
2021-07-14,244.350006,246.190002,238.479996,239.000000,6188300,0,0,SQ,250.870237,229.734763,7.710007,4.760010,2.949997,7.710007,256.442404,224.162596,True,False
2021-07-15,239.830002,241.621002,233.110001,235.160004,7143500,0,0,SQ,249.159262,232.450739,8.511002,2.621002,5.889999,8.511002,257.068809,224.541192,True,False
2021-07-16,238.699997,241.770004,234.399994,237.520004,7869200,0,0,SQ,249.094080,232.654921,7.370010,6.610001,0.760010,7.370010,256.982120,224.766881,True,False
2021-07-19,231.910004,234.020004,225.279999,233.690002,7310000,0,0,SQ,249.357895,232.055105,8.740005,3.500000,12.240005,12.240005,256.622692,224.790309,True,False
2021-07-20,234.610001,247.690002,232.199997,246.470001,8851600,0,0,SQ,249.738757,232.932244,15.490005,14.000000,1.490005,15.490005,258.064073,224.606928,True,False
2021-07-21,246.279999,258.500000,244.800003,257.250000,9068900,0,0,SQ,252.934342,231.864659,13.699997,12.029999,1.669998,13.699997,259.649025,225.149975,True,False
2021-07-22,256.929993,262.569000,256.500000,260.589996,6660100,0,0,SQ,256.518313,230.469687,6.069000,5.319000,0.750000,6.069000,260.705240,226.282760,True,False
2021-07-23,261.850006,267.769989,261.279999,264.000000,6374100,0,0,SQ,260.288578,228.684423,6.489990,7.179993,0.690002,7.179993,261.712025,227.260976,True,False
2021-07-26,264.970001,265.739990,260.399994,261.989990,5928300,0,0,SQ,262.966685,228.211315,5.339996,1.739990,3.600006,5.339996,262.351668,228.826332,False,True
2021-07-27,261.279999,261.859985,245.057007,251.729996,7828100,0,0,SQ,263.425565,228.265434,16.802979,0.130005,16.932983,16.932983,263.485594,228.205405,True,False
2021-07-28,254.029999,259.869995,250.770004,258.609985,4698900,0,0,SQ,264.740837,227.924161,9.099991,8.139999,0.959991,9.099991,264.097355,228.567643,False,True
2021-07-29,255.509995,261.829987,254.529999,255.279999,4713800,0,0,SQ,265.675565,228.137432,7.299988,3.220001,4.079987,7.299988,264.817164,228.995834,False,True
2021-07-30,249.279999,254.360001,244.350006,247.259995,7548100,0,0,SQ,265.802157,228.551839,10.009995,0.919998,10.929993,10.929993,265.601948,228.752048,False,True
2021-08-02,247.929993,280.875000,247.009995,272.380005,45730600,0,0,SQ,270.112616,227.371381,33.865005,33.615005,0.250000,33.865005,269.701711,227.782286,False,True
2021-08-03,270.429993,274.950012,261.750000,269.489990,21408000,0,0,SQ,273.049824,226.713172,13.200012,2.570007,10.630005,13.200012,271.522164,228.240832,False,True
2021-08-04,268.000000,268.390015,261.000000,266.420013,10241400,0,0,SQ,275.079366,226.861631,7.390015,1.099976,8.489990,8.489990,272.630212,229.310786,False,True
2021-08-05,265.600006,289.230011,264.769989,281.809998,19401600,0,0,SQ,279.816914,226.715083,24.460022,22.809998,1.650024,24.460022,276.258095,230.273903,False,True
2021-08-06,279.510010,285.799988,273.160004,276.750000,7447847,0,0,SQ,282.887591,227.130407,12.639984,3.989990,8.649994,12.639984,277.867761,232.150237,False,True

In [127]:
# Momentum
highest_mo = {}
highest_wk = {}
highest_d = {}
lowest_mo = {}
lowest_wk = {}
lowest_d = {}
m1_mo = {}
m1_wk = {}
m1_d = {}
fit_y_mo = {}
fit_y_wk = {}
fit_y_d = {}


for stock in tickers:
    #monthly
    highest_mo[stock] = ticker_dict_1mo[stock]['High'].rolling(window = length_KC).max()
    lowest_mo[stock] = ticker_dict_1mo[stock]['Low'].rolling(window = length_KC).min()
    m1_mo[stock] = (highest_mo[stock] + lowest_mo[stock]) / 2
    ticker_dict_1mo[stock]['value'] = (ticker_dict_1mo[stock]['Close'] - (m1_mo[stock] + m_avg_mo[stock])/2)
    fit_y_mo[stock] = np.array(range(0,length_KC))
    ticker_dict_1mo[stock]['value'] = ticker_dict_1mo[stock]['value'].rolling(window = length_KC).apply(lambda x : np.polyfit(fit_y_mo[stock], x, 1)[0] * (length_KC-1) +
    np.polyfit(fit_y_mo[stock], x, 1)[1], raw=True)
    
    #weekly
    highest_wk[stock] = ticker_dict_1wk[stock]['High'].rolling(window = length_KC).max()
    lowest_wk[stock] = ticker_dict_1wk[stock]['Low'].rolling(window = length_KC).min()
    m1_wk[stock] = (highest_wk[stock] + lowest_wk[stock]) / 2
    ticker_dict_1wk[stock]['value'] = (ticker_dict_1wk[stock]['Close'] - (m1_wk[stock] + m_avg_wk[stock])/2)
    fit_y_wk[stock] = np.array(range(0,length_KC))
    ticker_dict_1wk[stock]['value'] = ticker_dict_1wk[stock]['value'].rolling(window = length_KC).apply(lambda x : np.polyfit(fit_y_wk[stock], x, 1)[0] * (length_KC-1) +
    np.polyfit(fit_y_wk[stock], x, 1)[1], raw=True)
    
    #daily
    highest_d[stock] = ticker_dict_1d[stock]['High'].rolling(window = length_KC).max()
    lowest_d[stock] = ticker_dict_1d[stock]['Low'].rolling(window = length_KC).min()
    m1_d[stock] = (highest_d[stock] + lowest_d[stock]) / 2
    ticker_dict_1d[stock]['value'] = (ticker_dict_1d[stock]['Close'] - (m1_d[stock] + m_avg_d[stock])/2)
    fit_y_d[stock] = np.array(range(0,length_KC))
    ticker_dict_1d[stock]['value'] = ticker_dict_1d[stock]['value'].rolling(window = length_KC).apply(lambda x : np.polyfit(fit_y_d[stock], x, 1)[0] * (length_KC-1) +
    np.polyfit(fit_y_d[stock], x, 1)[1], raw=True)
    
ticker_dict_1d[stock]

,Open,High,Low,Close,Volume,Dividends,Stock Splits,ticker,upper_BB,lower_BB,tr0,tr1,tr2,tr,upper_KC,lower_KC,squeeze_on,squeeze_off,value
Date,,,,,,,,,,,,,,,,,,,
2015-11-19,11.200000,14.780000,9.000000,13.070000,47466100,0,0,SQ,NaN,NaN,5.780000,NaN,NaN,5.780000,NaN,NaN,False,False,NaN
2015-11-20,13.920000,14.050000,12.500000,12.850000,16550300,0,0,SQ,NaN,NaN,1.550000,0.980000,0.570000,1.550000,NaN,NaN,False,False,NaN
2015-11-23,13.000000,13.150000,12.100000,12.120000,5172200,0,0,SQ,NaN,NaN,1.049999,0.299999,0.750000,1.049999,NaN,NaN,False,False,NaN
2015-11-24,12.000000,12.230000,11.520000,12.020000,4714700,0,0,SQ,NaN,NaN,0.709999,0.110000,0.599999,0.709999,NaN,NaN,False,False,NaN
2015-11-25,12.120000,12.400000,11.850000,11.900000,3583400,0,0,SQ,NaN,NaN,0.549999,0.379999,0.170000,0.549999,NaN,NaN,False,False,NaN
2015-11-27,12.050000,12.310000,11.900000,12.050000,942300,0,0,SQ,NaN,NaN,0.410001,0.410001,0.000000,0.410001,NaN,NaN,False,False,NaN
2015-11-30,12.280000,12.350000,11.900000,12.040000,1997100,0,0,SQ,NaN,NaN,0.450001,0.300000,0.150001,0.450001,NaN,NaN,False,False,NaN
2015-12-01,12.120000,12.180000,11.890000,11.910000,1256100,0,0,SQ,NaN,NaN,0.290000,0.140000,0.150000,0.290000,NaN,NaN,False,False,NaN
2015-12-02,11.970000,12.155000,11.900000,11.930000,1708100,0,0,SQ,NaN,NaN,0.255000,0.245000,0.010000,0.255000,NaN,NaN,False,False,NaN
2015-12-03,12.040000,12.250000,11.910000,11.920000,1431400,0,0,SQ,NaN,NaN,0.340000,0.320000,0.020000,0.340000,NaN,NaN,False,False,NaN
2015-12-04,11.950000,12.040000,11.800000,12.040000,1331600,0,0,SQ,NaN,NaN,0.240000,0.120000,0.120000,0.240000,NaN,NaN,False,False,NaN
2015-12-07,12.140000,12.600000,12.100000,12.360000,2660400,0,0,SQ,NaN,NaN,0.500000,0.560000,0.060000,0.560000,NaN,NaN,False,False,NaN
2015-12-08,12.360000,12.440000,12.030000,12.120000,1047700,0,0,SQ,NaN,NaN,0.410000,0.080000,0.330000,0.410000,NaN,NaN,False,False,NaN
2015-12-09,12.000000,12.240000,11.900000,11.990000,1075700,0,0,SQ,NaN,NaN,0.340000,0.120000,0.220000,0.340000,NaN,NaN,False,False,NaN
2015-12-10,12.000000,12.130000,11.910000,12.050000,711300,0,0,SQ,NaN,NaN,0.220000,0.140000,0.080000,0.220000,NaN,NaN,False,False,NaN
2015-12-11,12.000000,12.020000,11.900000,11.950000,882500,0,0,SQ,NaN,NaN,0.120001,0.030000,0.150001,0.150001,NaN,NaN,False,False,NaN
2015-12-14,12.200000,12.400000,11.870000,12.330000,2163700,0,0,SQ,NaN,NaN,0.530000,0.450000,0.080000,0.530000,NaN,NaN,False,False,NaN
2015-12-15,12.500000,12.700000,12.305000,12.470000,1258000,0,0,SQ,NaN,NaN,0.395000,0.370000,0.025000,0.395000,NaN,NaN,False,False,NaN
2015-12-16,12.550000,12.800000,12.130000,12.270000,1592900,0,0,SQ,NaN,NaN,0.670000,0.330000,0.340000,0.670000,NaN,NaN,False,False,NaN
2015-12-17,12.300000,12.500000,12.260000,12.320000,618900,0,0,SQ,12.799226,11.571774,0.240000,0.230000,0.010000,0.240000,NaN,NaN,False,False,NaN
2015-12-18,12.400000,12.580000,12.100000,12.340000,1608900,0,0,SQ,12.617654,11.680346,0.480000,0.260000,0.219999,0.480000,13.636619,10.661381,True,False,NaN
2015-12-21,12.370000,12.480000,12.020000,12.240000,703900,0,0,SQ,12.463885,11.773115,0.459999,0.139999,0.320000,0.459999,13.099452,11.137548,True,False,NaN
2015-12-22,12.320000,12.460000,12.120000,12.460000,502400,0,0,SQ,12.511610,11.759390,0.340000,0.220000,0.120000,0.340000,13.001214,11.269786,True,False,NaN
2015-12-23,12.410000,12.660000,12.310000,12.500000,512300,0,0,SQ,12.563306,11.755694,0.349999,0.200000,0.150000,0.349999,12.958547,11.360453,True,False,NaN
2015-12-24,12.590000,12.600000,12.450000,12.600000,318500,0,0,SQ,12.622868,11.766132,0.150001,0.100000,0.050000,0.150001,12.940214,11.448786,True,False,NaN
2015-12-28,12.600000,12.840000,12.490000,12.830000,1622700,0,0,SQ,12.737495,11.729505,0.350000,0.240000,0.110001,0.350000,12.960167,11.506833,True,False,NaN
2015-12-29,12.830000,12.830000,12.500000,12.740000,852200,0,0,SQ,12.809731,11.727269,0.330000,0.000000,0.330000,0.330000,12.987548,11.549452,True,False,NaN
2015-12-30,12.660000,12.830000,12.530000,12.780000,939300,0,0,SQ,12.870555,11.753445,0.300000,0.090000,0.210000,0.300000,13.016762,11.607238,True,False,NaN
2015-12-31,12.700000,13.500000,12.650000,13.090000,2462300,0,0,SQ,12.994820,11.745180,0.850000,0.720000,0.130000,0.850000,13.128095,11.611905,True,False,NaN
2016-01-04,12.750000,12.900000,12.050000,12.160000,2751500,0,0,SQ,12.980451,11.783549,0.849999,0.190001,1.040000,1.040000,13.214857,11.549143,True,False,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-06-25,243.190002,244.869995,237.149994,239.940002,7614800,0,0,SQ,246.452642,205.287357,7.720001,0.720001,7.000000,7.720001,241.682953,210.057046,False,True,17.953599
2021-06-28,241.699997,247.729996,241.699997,246.600006,7372300,0,0,SQ,249.469286,204.678714,6.029999,7.789993,1.759995,7.789993,243.083143,211.064856,False,True,18.834112
2021-06-29,247.839996,251.910004,246.141006,248.869995,6186800,0,0,SQ,252.587415,204.252584,5.768997,5.309998,0.459000,5.768997,244.502381,212.337618,False,True,20.061487
2021-06-30,248.080002,248.789993,243.339996,243.800003,6655500,0,0,SQ,254.349749,204.829250,5.449997,0.080002,5.529999,5.529999,245.390166,213.788833,False,True,20.098461
2021-07-01,242.820007,245.050003,237.800003,241.850006,5616900,0,0,SQ,254.941712,207.279289,7.250000,1.250000,6.000000,7.250000,247.088310,215.132691,False,True,19.594931
2021-07-02,243.000000,245.410004,239.360001,241.080002,4401500,0,0,SQ,255.274911,209.685089,6.050003,3.559998,2.490005,6.050003,248.161619,216.798381,False,True,17.948161
2021-07-06,241.309998,249.369995,241.309998,246.699997,6252200,0,0,SQ,256.394333,211.540668,8.059998,8.289993,0.229996,8.289993,249.786165,218.148836,False,True,17.237005
2021-07-07,250.000000,254.779999,244.309998,244.639999,7238300,0,0,SQ,256.413440,214.573561,10.470001,8.080002,2.389999,10.470001,251.770260,219.216741,False,True,16.046771
2021-07-08,238.750000,239.000000,230.600006,235.899994,7683000,0,0,SQ,254.191389,219.364610,8.399994,5.639999,14.039993,14.039993,253.515711,220.040288,False,True,13.099253
2021-07-09,239.000000,241.960007,235.559998,241.889999,5397900,0,0,SQ,253.022059,223.008941,6.400009,6.060013,0.339996,6.400009,254.611688,221.419311,True,False,10.844703
2021-07-12,243.580002,247.220001,241.781006,243.350006,5722700,0,0,SQ,251.680691,226.751310,5.438995,5.330002,0.108994,5.438995,255.584474,222.847527,True,False,8.923620
2021-07-13,243.350006,247.490005,239.839996,241.429993,6304500,0,0,SQ,251.638958,227.841043,7.650009,4.139999,3.510010,7.650009,256.298951,223.181049,True,False,6.689983
2021-07-14,244.350006,246.190002,238.479996,239.000000,6188300,0,0,SQ,250.870237,229.734763,7.710007,4.760010,2.949997,7.710007,256.442404,224.162596,True,False,4.989698
2021-07-15,239.830002,241.621002,233.110001,235.160004,7143500,0,0,SQ,249.159262,232.450739,8.511002,2.621002,5.889999,8.511002,257.068809,224.541192,True,False,2.389988
2021-07-16,238.699997,241.770004,234.399994,237.520004,7869200,0,0,SQ,249.094080,232.654921,7.370010,6.610001,0.760010,7.370010,256.982120,224.766881,True,False,-0.024808
2021-07-19,231.910004,234.020004,225.279999,233.690002,7310000,0,0,SQ,249.357895,232.055105,8.740005,3.500000,12.240005,12.240005,256.622692,224.790309,True,False,-2.155945
2021-07-20,234.610001,247.690002,232.199997,246.470001,8851600,0,0,SQ,249.738757,232.932244,15.490005,14.000000,1.490005,15.490005,258.064073,224.606928,True,False,-1.894636
2021-07-21,246.279999,258.500000,244.800003,257.250000,9068900,0,0,SQ,252.934342,231.864659,13.699997,12.029999,1.669998,13.699997,259.649025,225.149975,True,False,-0.204362
2021-07-22,256.929993,262.569000,256.500000,260.589996,6660100,0,0,SQ,256.518313,230.469687,6.069000,5.319000,0.750000,6.069000,260.705240,226.282760,True,False,1.923255
2021-07-23,261.850006,267.769989,261.279999,264.000000,6374100,0,0,SQ,260.288578,228.684423,6.489990,7.179993,0.690002,7.179993,261.712025,227.260976,True,False,4.153200
2021-07-26,264.970001,265.739990,260.399994,261.989990,5928300,0,0,SQ,262.966685,228.211315,5.339996,1.739990,3.600006,5.339996,262.351668,228.826332,False,True,6.191452
2021-07-27,261.279999,261.859985,245.057007,251.729996,7828100,0,0,SQ,263.425565,228.265434,16.802979,0.130005,16.932983,16.932983,263.485594,228.205405,True,False,5.953682
2021-07-28,254.029999,259.869995,250.770004,258.609985,4698900,0,0,SQ,264.740837,227.924161,9.099991,8.139999,0.959991,9.099991,264.097355,228.567643,False,True,7.558891
2021-07-29,255.509995,261.829987,254.529999,255.279999,4713800,0,0,SQ,265.675565,228.137432,7.299988,3.220001,4.079987,7.299988,264.817164,228.995834,False,True,8.683158
2021-07-30,249.279999,254.360001,244.350006,247.259995,7548100,0,0,SQ,265.802157,228.551839,10.009995,0.919998,10.929993,10.929993,265.601948,228.752048,False,True,7.959958
2021-08-02,247.929993,280.875000,247.009995,272.380005,45730600,0,0,SQ,270.112616,227.371381,33.865005,33.615005,0.250000,33.865005,269.701711,227.782286,False,True,10.887783
2021-08-03,270.429993,274.950012,261.750000,269.489990,21408000,0,0,SQ,273.049824,226.713172,13.200012,2.570007,10.630005,13.200012,271.522164,228.240832,False,True,12.925289
2021-08-04,268.000000,268.390015,261.000000,266.420013,10241400,0,0,SQ,275.079366,226.861631,7.390015,1.099976,8.489990,8.489990,272.630212,229.310786,False,True,14.674005
2021-08-05,265.600006,289.230011,264.769989,281.809998,19401600,0,0,SQ,279.816914,226.715083,24.460022,22.809998,1.650024,24.460022,276.258095,230.273903,False,True,18.241250
2021-08-06,279.510010,285.799988,273.160004,276.750000,7447847,0,0,SQ,282.887591,227.130407,12.639984,3.989990,8.649994,12.639984,277.867761,232.150237,False,True,19.656959

In [128]:
long_cond1_mo = {}
long_cond2_mo = {}
enter_long_mo = {}
short_cond1_mo = {}
short_cond2_mo = {}
enter_short_mo = {}
long_cond1_wk = {}
long_cond2_wk = {}
enter_long_wk = {}
short_cond1_wk = {}
short_cond2_wk = {}
enter_short_wk = {}
long_cond1_d = {}
long_cond2_d = {}
enter_long_d = {}
short_cond1_d = {}
short_cond2_d = {}
enter_short_d = {}

for stock in tickers:
    #monthly
    # entry point for long position:
    # 1. black cross becomes gray (the squeeze is released)
    long_cond1_mo[stock] = (ticker_dict_1mo[stock]['squeeze_off'][-2] == False) | (ticker_dict_1mo[stock]['squeeze_off'][-1] == True) 
    # 2. bar value is positive => the bar is light green
    long_cond2_mo[stock] = ticker_dict_1mo[stock]['value'][-1] > 0

    enter_long_mo[stock] = long_cond1_mo[stock] and long_cond2_mo[stock]
    # entry point for short position:
    # 1. black cross becomes gray (the squeeze is released)
    short_cond1_mo[stock] = (ticker_dict_1mo[stock]['squeeze_off'][-2] == False) | (ticker_dict_1mo[stock]['squeeze_off'][-1] == True) 
    # 2. bar value is negative => the bar is light red 
    short_cond2_mo[stock] = ticker_dict_1mo[stock]['value'][-1] < 0
    enter_short_mo[stock] = short_cond1_mo[stock] and short_cond2_mo[stock]
    
    #weekly
    # entry point for long position:
    # 1. black cross becomes gray (the squeeze is released)
    long_cond1_wk[stock] = (ticker_dict_1wk[stock]['squeeze_off'][-2] == False) | (ticker_dict_1wk[stock]['squeeze_off'][-1] == True) 
    # 2. bar value is positive => the bar is light green
    long_cond2_wk[stock] = ticker_dict_1wk[stock]['value'][-1] > 0

    enter_long_wk[stock] = long_cond1_wk[stock] and long_cond2_wk[stock]
    # entry point for short position:
    # 1. black cross becomes gray (the squeeze is released)
    short_cond1_wk[stock] = (ticker_dict_1wk[stock]['squeeze_off'][-2] == False) | (ticker_dict_1wk[stock]['squeeze_off'][-1] == True) 
    # 2. bar value is negative => the bar is light red 
    short_cond2_wk[stock] = ticker_dict_1wk[stock]['value'][-1] < 0
    enter_short_wk[stock] = short_cond1_wk[stock] and short_cond2_wk[stock]
    
    #daily
    # entry point for long position:
    # 1. black cross becomes gray (the squeeze is released)
    long_cond1_d[stock] = (ticker_dict_1d[stock]['squeeze_off'][-2] == False) | (ticker_dict_1d[stock]['squeeze_off'][-1] == True) 
    # 2. bar value is positive => the bar is light green
    long_cond2_d[stock] = ticker_dict_1d[stock]['value'][-1] > 0

    enter_long_d[stock] = long_cond1_d[stock] and long_cond2_d[stock]
    # entry point for short position:
    # 1. black cross becomes gray (the squeeze is released)
    short_cond1_d[stock] = (ticker_dict_1d[stock]['squeeze_off'][-2] == False) | (ticker_dict_1d[stock]['squeeze_off'][-1] == True) 
    # 2. bar value is negative => the bar is light red 
    short_cond2_d[stock] = ticker_dict_1d[stock]['value'][-1] < 0
    enter_short_d[stock] = short_cond1_d[stock] and short_cond2_d[stock]

In [129]:
ohcl_mo = {}
ohcl_wk = {}
ohcl_d = {}

for stock in tickers:
    ohcl_mo[stock] = ticker_dict_1mo[stock][['Open', 'High', 'Close', 'Low']]
    ohcl_wk[stock] = ticker_dict_1wk[stock][['Open', 'High', 'Close', 'Low']]
    ohcl_d[stock] = ticker_dict_1d[stock][['Open', 'High', 'Close', 'Low']]
    
ohcl_d[stock]

                  Open        High       Close         Low
Date
2015-11-19   11.200000   14.780000   13.070000    9.000000
2015-11-20   13.920000   14.050000   12.850000   12.500000
2015-11-23   13.000000   13.150000   12.120000   12.100000
2015-11-24   12.000000   12.230000   12.020000   11.520000
2015-11-25   12.120000   12.400000   11.900000   11.850000
2015-11-27   12.050000   12.310000   12.050000   11.900000
2015-11-30   12.280000   12.350000   12.040000   11.900000
2015-12-01   12.120000   12.180000   11.910000   11.890000
2015-12-02   11.970000   12.155000   11.930000   11.900000
2015-12-03   12.040000   12.250000   11.920000   11.910000
2015-12-04   11.950000   12.040000   12.040000   11.800000
2015-12-07   12.140000   12.600000   12.360000   12.100000
2015-12-08   12.360000   12.440000   12.120000   12.030000
2015-12-09   12.000000   12.240000   11.990000   11.900000
2015-12-10   12.000000   12.130000   12.050000   11.910000
2015-12-11   12.000000   12.020000   11.950000   11.900000
2015-12-14   12.200000   12.400000   12.330000   11.870000
2015-12-15   12.500000   12.700000   12.470000   12.305000
2015-12-16   12.550000   12.800000   12.270000   12.130000
2015-12-17   12.300000   12.500000   12.320000   12.260000
2015-12-18   12.400000   12.580000   12.340000   12.100000
2015-12-21   12.370000   12.480000   12.240000   12.020000
2015-12-22   12.320000   12.460000   12.460000   12.120000
2015-12-23   12.410000   12.660000   12.500000   12.310000
2015-12-24   12.590000   12.600000   12.600000   12.450000
2015-12-28   12.600000   12.840000   12.830000   12.490000
2015-12-29   12.830000   12.830000   12.740000   12.500000
2015-12-30   12.660000   12.830000   12.780000   12.530000
2015-12-31   12.700000   13.500000   13.090000   12.650000
2016-01-04   12.750000   12.900000   12.160000   12.050000
...                ...         ...         ...         ...
2021-06-25  243.190002  244.869995  239.940002  237.149994
2021-06-28  241.699997  247.729996  246.600006  241.699997
2021-06-29  247.839996  251.910004  248.869995  246.141006
2021-06-30  248.080002  248.789993  243.800003  243.339996
2021-07-01  242.820007  245.050003  241.850006  237.800003
2021-07-02  243.000000  245.410004  241.080002  239.360001
2021-07-06  241.309998  249.369995  246.699997  241.309998
2021-07-07  250.000000  254.779999  244.639999  244.309998
2021-07-08  238.750000  239.000000  235.899994  230.600006
2021-07-09  239.000000  241.960007  241.889999  235.559998
2021-07-12  243.580002  247.220001  243.350006  241.781006
2021-07-13  243.350006  247.490005  241.429993  239.839996
2021-07-14  244.350006  246.190002  239.000000  238.479996
2021-07-15  239.830002  241.621002  235.160004  233.110001
2021-07-16  238.699997  241.770004  237.520004  234.399994
2021-07-19  231.910004  234.020004  233.690002  225.279999
2021-07-20  234.610001  247.690002  246.470001  232.199997
2021-07-21  246.279999  258.500000  257.250000  244.800003
2021-07-22  256.929993  262.569000  260.589996  256.500000
2021-07-23  261.850006  267.769989  264.000000  261.279999
2021-07-26  264.970001  265.739990  261.989990  260.399994
2021-07-27  261.279999  261.859985  251.729996  245.057007
2021-07-28  254.029999  259.869995  258.609985  250.770004
2021-07-29  255.509995  261.829987  255.279999  254.529999
2021-07-30  249.279999  254.360001  247.259995  244.350006
2021-08-02  247.929993  280.875000  272.380005  247.009995
2021-08-03  270.429993  274.950012  269.489990  261.750000
2021-08-04  268.000000  268.390015  266.420013  261.000000
2021-08-05  265.600006  289.230011  281.809998  264.769989
2021-08-06  279.510010  285.799988  276.750000  273.160004

[1438 rows x 4 columns]

In [130]:
ind_mo = {}
val_mo = {}
ind_wk = {}
val_wk = {}
ind_d = {}
val_d = {}

for stock in tickers:
    # add colors for the 'value bar'
    colors_d = []
    for ind_d[stock], val_d[stock] in enumerate(ticker_dict_1d[stock]['value']):
        if val_d[stock] >= 0:
            color_d = 'blue'
        if val_d[stock] > ticker_dict_1d[stock]['value'][ind_d[stock]-1]:
            color_d = 'cyan'
        else:
            color_d = 'yellow'
        if val_d[stock] < ticker_dict_1d[stock]['value'][ind_d[stock]-1]:
            color_d='red'
        colors_d.append(color)
        
    #colors_mo = []
    #for ind_mo[stock], val_mo[stock] in enumerate(ticker_dict_1mo[stock]['value']):
       # if val_mo[stock] >= 0:
            #color_mo = 'green'
        #if val_mo[stock] > ticker_dict_1mo[stock]['value'][ind_mo[stock]-1]:
           # color_mo = 'lime'
       # else:
            #color_mo = 'maroon'
        #if val_mo[stock] < ticker_dict_1mo[stock]['value'][ind_mo[stock]-1]:
           # color_mo='red'
      #  colors_mo.append(color)

In [131]:
import panel as pn
from panel.interact import interact

pn.extension()

def figure_stock_d(stock):
    apds = [mpf.make_addplot(ticker_dict_1d[stock]['value'], panel=1, type='bar', color=colors_d, alpha=0.8, secondary_y=False),
            mpf.make_addplot([0] * len(ticker_dict_1d[stock]), panel=1, type='scatter', marker='o', markersize=50, color=['gray' if s else 'red' for s in ticker_dict_1d[stock]['squeeze_off']], secondary_y=False),
            mpf.make_addplot(ticker_dict_1d[stock][['upper_BB']], color = 'red'),
            mpf.make_addplot(ticker_dict_1d[stock][['lower_BB']], color = 'red'),
            mpf.make_addplot(ticker_dict_1d[stock][['upper_KC']], color = 'blue'),
            mpf.make_addplot(ticker_dict_1d[stock][['lower_KC']], color = 'blue')]

    # plot ohcl with subplots
    fig, axes = mpf.plot(ohcl_d[stock], 
              volume_panel = 2,
              figratio=(2,1),
              figscale=1,
              mav = (8,21,34),
              type='candle', 
              addplot=apds,
              returnfig=True)
    return pn.pane.Matplotlib(fig, tight=True)

ticker = daily_data["ticker"].unique()
interact(figure_stock_d, stock=ticker)

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous â€¦

Column
    [0] Column
        [0] Select(name='stock', options=['NFLX', 'AAPL', ...], value='NFLX')
    [1] Row
        [0] Matplotlib(Figure, tight=True)